// Компонент формы. Иcsходник в корончатых
.ui-form {
  &_hide-1200 {
    @media (min-width: 1200px) {
      display: none;
    }
  }
  &_aside {
    margin-top: 40px;
    margin-bottom: 40px;
    @media (min-width: 480px) {
      margin-top: 30px;
      margin-bottom: 50px;
    }
    @media (min-width: 540px) {
      margin-top: 40px;
    }
    @media (min-width: 640px) {
      margin-top: 60px;
      margin-bottom: 0;
    }
    @media (min-width: 768px) {
      margin-top: 70px;
      margin-bottom: 70px;
    }
    @media (min-width: 1200px) {
      position: sticky;
      top: 10px;
      margin-bottom: 0;
    }
    @media (min-width: 1430px) {
      margin-top: 110px;
    }
    @media (min-width: 1920px) {
      top: calc(119px + 20px);
    }
  }

  &_aside-alt {
    margin-top: 40px;
    margin-bottom: 40px;
    @media (min-width: 480px) {
      margin-top: 30px;
      margin-bottom: 50px;
    }
    @media (min-width: 540px) {
      margin-top: 40px;
    }
    @media (min-width: 640px) {
      margin-top: 60px;
      margin-bottom: 0;
    }
    @media (min-width: 768px) {
      margin-top: 70px;
      margin-bottom: 70px;
    }
    @media (min-width: 1200px) {
      position: sticky;
      top: 10px;
      margin-bottom: 0;
    }
    @media (min-width: 1430px) {
      margin-top: 150px;
    }
    @media (min-width: 1920px) {
      margin-top: 140px;
      top: calc(119px + 20px);
    }
  }

  &_aside-alt-2 {
    margin-top: 40px;
    margin-bottom: 40px;
    @media (min-width: 480px) {
      margin-top: 30px;
      margin-bottom: 50px;
    }
    @media (min-width: 540px) {
      margin-top: 40px;
    }
    @media (min-width: 640px) {
      margin-top: 60px;
      margin-bottom: 0;
    }
    @media (min-width: 768px) {
      margin-top: 70px;
      margin-bottom: 70px;
    }
    @media (min-width: 1200px) {
      position: sticky;
      top: 10px;
      margin-bottom: 0;
      margin-top: 0;
    }
    @media (min-width: 1430px) {
      margin-top: 0;
    }
    @media (min-width: 1920px) {
      margin-top: 0;
      top: calc(119px + 20px);
    }
  }

  &__wrapper {
    padding: 28px 16px 21px 16px;
    border-radius: 5px;
    background-color: #fff;
    @media (min-width: 480px) {
      padding: 28px 19px 23px 19px;
    }
    @media (min-width: 540px) {
      padding: 28px 25px 23px 25px;
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
      padding: 35px 32px 28px 32px;
    }
    @media (min-width: 1430px) {
      padding: 21px 24px 25px 24px;
    }
  }

  &__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #454545;
    @media (min-width: 480px) {
      max-width: unset;
    }
    @media (min-width: 540px) {
      text-align: left;
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
    @media (min-width: 1020px) {
      font-size: 24px;
      line-height: 28px;
    }
    @media (min-width: 1430px) {
      margin-bottom: 35px;
      text-align: left;
    }
  }

  &__form {
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }

  &__fields {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
    row-gap: 16px;

    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.3s ease;

    &.active {
      max-height: 100%;
      opacity: 1;
      visibility: visible;
      overflow: auto;
      margin-bottom: 19px;
    }

    @media (min-width: 480px) {
      max-height: 100%;
      opacity: 1;
      visibility: visible;
      overflow: auto;
      margin-bottom: 19px;
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      column-gap: 10px;
    }
    @media (min-width: 768px) {
      margin-bottom: 35px;
      column-gap: 15px;
      row-gap: 29px;
    }
    @media (min-width: 1020px) {
      column-gap: 18px;
    }
    @media (min-width: 1200px) {
      grid-template-columns: 1fr;
      column-gap: 18px;
    }
    @media (min-width: 1430px) {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 25px;
      display: block;
    }
  }

  &__field {
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
      &:not(:last-child) {
        margin-bottom: 29px;
      }
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #454545;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 21px;
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
    &[data-required] {
      position: relative;
      &::after {
        position: relative;
        content: '*';
        top: -1px;
        right: -5px;
        color: $red;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
    &_textarea {
      resize: none;
      overflow: hidden;
      line-height: 1;
      padding-top: 15px;
      @media (min-width: 1430px) {
        resize: vertical;
        max-height: 120px;
        min-height: 50px;
      }
    }
  }

  &__btn {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    @media (min-width: 480px) {
      width: 66%;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
      height: 60px;
    }
    @media (min-width: 1020px) {
      width: 100%;
      max-width: 401px;
    }
    @media (min-width: 1200px) {
      font-size: 18px;
      max-width: none;
    }
    @media (min-width: 1430px) {
      font-size: 18px;
    }
  }
  &__btn-hide-480 {
    @media (min-width: 480px) {
      display: none;
    }
  }
  &__btn-show-480 {
    display: none;
    @media (min-width: 480px) {
      display: inline-block;
    }
  }
}
