.ui-materials {
  &__wrapper {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    @media (min-width: 1020px) {
      margin-top: 100px;
      margin-bottom: 50px;
    }
  }
  &__title-with-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
      margin-bottom: 18px;
    }
    @media (min-width: 640px) {
      justify-content: space-between;
      margin-bottom: 9px;
    }
    @media (min-width: 768px) {
      margin-bottom: 8px;
    }
    @media (min-width: 1020px) {
      margin-bottom: 12px;
    }
    @media (min-width: 1430px) {
      margin-bottom: 12px;
    }
  }

  &__navigation {
    position: absolute;
    top: 9px;
    right: 0;
    display: none;
    // @media (min-width: 640px) {
    //   display: flex;
    // }
    // @media (min-width: 1430px) {
    //   display: none;
    // }
  }

  .swiper-button-prev {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    outline: none;
    margin-right: 6px;
    margin-top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #e31e25;
    border-radius: 5px;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    &:hover {
      border-color: $redHover;
      background-color: $redHover;
      span {
        color: #fff;
      }
    }
    &.swiper-button-disabled {
      border-color: #e1e1e1;
      span {
        color: #cdcdcd;
      }
    }
    @media (min-width: 1020px) {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    &::after {
      display: none;
    }
    span {
      font-size: 10.5px;
      color: #e31e25;
      transition: all 0.3s ease;
      @media (min-width: 1020px) {
        font-size: 12px;
      }
    }
  }

  .swiper-button-next {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    outline: none;
    margin-top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #e31e25;
    border-radius: 5px;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    &:hover {
      border-color: $redHover;
      background-color: $redHover;
      span {
        color: #fff;
      }
    }
    &.swiper-button-disabled {
      border-color: #e1e1e1;
      span {
        color: #cdcdcd;
      }
    }
    @media (min-width: 1020px) {
      width: 30px;
      height: 30px;
    }
    &::after {
      display: none;
    }
    span {
      font-size: 10.5px;
      color: #e31e25;
      transition: all 0.3s ease;
      @media (min-width: 1020px) {
        font-size: 12px;
      }
    }
  }

  &__title1 {
    margin-bottom: 24px;
    @media (min-width: 480px) {
      margin-bottom: 0;
    }
    @media (min-width: 540px) {
      margin-bottom: 0;
    }
    @media (min-width: 640px) {
      margin-bottom: 0;
    }
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
    @media (min-width: 1020px) {
      margin-bottom: 0;
    }
    @media (min-width: 1430px) {
      margin-bottom: 0;
    }
  }

  &__wrapper {
    text-align: left;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }

  &__all-links {
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: $red;
    text-decoration: none;
    @media (min-width: 480px) {
      font-size: 12px;
      line-height: 12px;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      font-size: 14px;
      line-height: 100%;
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }

  &__all-links_top {
    text-align: right;
    display: none;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
      display: block;
    }
    @media (min-width: 1430px) {
    }
  }

  &__all-links_bottom {
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
      display: none;
    }
    @media (min-width: 1430px) {
    }
  }

  &__swiper {
    margin-bottom: 16px;
    overflow-x: hidden;
    @media (min-width: 480px) {
      margin-bottom: 26px;
    }
    @media (min-width: 540px) {
      margin-bottom: 19px;
    }
    @media (min-width: 640px) {
      margin-bottom: 28px;
    }
    @media (min-width: 768px) {
      margin-bottom: 29px;
    }
    @media (min-width: 1020px) {
      margin-bottom: 0;
    }
    @media (min-width: 1430px) {
      margin-top: 36px;
    }
  }
  &__slide {
    padding: 23px;
    background-color: #fff;
    border-radius: 5px;
    height: 174px;
    text-align: left;
    
    text-decoration-line: underline;
    text-decoration-color: $red;
    @media (min-width: 480px) {
      height: 212px;
      padding: 22px;
    }
    @media (min-width: 540px) {
      height: 165px;
      padding: 17px;
    }
    @media (min-width: 640px) {
      height: 200px;
      padding: 21px;
    }
    @media (min-width: 768px) {
      height: 226px;
      padding: 17px;
    }
    @media (min-width: 1020px) {
      height: 200px;
      padding: 19px;
    }
    @media (min-width: 1430px) {
      height: 285px;
      padding: 29px;
    }
  }
  &__slide-picture {
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }
  &__slide-img {
    display: block;
    height: 96px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 11px;
    object-fit: cover;
    @media (min-width: 480px) {
      height: 120px;
      margin-bottom: 18px;
    }
    @media (min-width: 540px) {
      height: 93px;
      margin-bottom: 14px;
    }
    @media (min-width: 640px) {
      height: 112px;
      margin-bottom: 20px;
    }
    @media (min-width: 768px) {
      height: 142px;
      margin-bottom: 14px;
    }
    @media (min-width: 1020px) {
      height: 121px;
      margin-bottom: 12px;
    }
    @media (min-width: 1430px) {
      height: 170px;
      margin-bottom: 21px;
    }
  }
  &__slide-text {
    font-size: 12px;
    line-height: 14px;
    color: $red;
    text-decoration-line: underline;
    text-decoration-color: $red;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      font-size: 14px;
      line-height: 16px;
    }
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 18px;
    }
    @media (min-width: 1020px) {
      font-size: 14px;
      line-height: 16px;
    }
    @media (min-width: 1430px) {
      font-size: 18px;
      line-height: 21px;
    }
  }

  .swiper-pagination {
    display: none;
    @media (min-width: 540px) {
      display: flex;
      justify-content: flex-end;
      bottom: 5px;
      padding-right: calc(15px - 4px);
    }
    @media (min-width: 640px) {
      padding-right: 0;
      right: 0;
    }
    @media (min-width: 1020px) {
      bottom: -25px;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: $red;
  }
  .swiper-pagination-bullet,
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin-left: 0;
    &:not(:last-child) {
      margin-right: 4px;
    }
    @media (min-width: 480px) {
      width: 11px;
      height: 11px;
    }
  }

}
