.ui-our-product {
  @include reset-link;
  position: relative;
  overflow: hidden;
  text-align: left;
  border-radius: 5px;
  height: 130px;
  background-color: #efefef;
  transition: all 0.3s ease;
  &:hover {
    background-color: #e0e0e0;
    .ui-our-product__title {
      color: $redHover;
    }
    .ui-our-product__icon {
      background-color: $redHover;
    }
  }
  @media (min-width: 480px) {
    height: 105px;
  }
  @media (min-width: 540px) {
    height: 125px;
  }
  @media (min-width: 640px) {
    height: 175px;
  }
  @media (min-width: 1020px) {
    height: 150px;
  }
  @media (min-width: 1430px) {
    height: 220px;
  }
  &__title {
    position: relative;
    z-index: 10;
    display: block;
    max-width: 110px;
    margin: 28px 0 0 19px;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #e31e25;
    transition: all 0.3s ease;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      font-size: 18px;
      line-height: 1;
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
      font-size: 24px;
      line-height: 24px;
    }
    @media (min-width: 1430px) {
      margin-top: 40px;
      margin-left: 40px;
      font-size: 30px;
      line-height: 30px;
    }
  }
  &__description {
    display: none;
    @media (min-width: 768px) {
      display: block;
      margin: 15px 0 0 19px;
      max-width: 85px;
      font-size: 12px;
      line-height: 14px;
      font-size: 10px;
      line-height: 11px;
      color: #454545;
    }
    @media (min-width: 1020px) {
      max-width: 155px;
      font-size: 12px;
      line-height: 14px;
    }
    @media (min-width: 1430px) {
      margin-top: 20px;
      margin-left: 40px;
      max-width: 220px;
      font-size: 16px;
      line-height: 18px;
    }
  }
  &__icon {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: $red;
    width: 26px;
    height: 26px;
    transition: all 0.3s ease;
    font-size: 9px;
    color: #fff;

    @media (min-width: 1430px) {
      width: 40px;
      height: 40px;
      font-size: 13px;
    }
  }
  &__picture {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 115px;
    @media (min-width: 480px) {
      width: 90px;
    }
    @media (min-width: 540px) {
      width: 110px;
    }
    @media (min-width: 640px) {
      width: 123px;
    }
    @media (min-width: 768px) {
      width: 140px;
    }
    @media (min-width: 1020px) {
      width: 145px;
    }
    @media (min-width: 1430px) {
      width: 190px;
    }
  }
  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 115px;
    @media (min-width: 480px) {
      width: 90px;
    }
    @media (min-width: 540px) {
      width: 110px;
    }
    @media (min-width: 640px) {
      width: 123px;
    }
    @media (min-width: 768px) {
      width: 140px;
    }
    @media (min-width: 1020px) {
      width: 145px;
    }
    @media (min-width: 1430px) {
      width: 190px;
    }
  }
  &_sm {
    .ui-our-product__title {
      margin-top: 19px;
      margin-left: 13px;
      font-size: 18px;
      line-height: 21px;
      @media (min-width: 480px) {
        margin-top: 19px;
        margin-left: 13px;
        font-size: 18px;
        line-height: 21px;
      }
      @media (min-width: 540px) {
        margin-top: 21px;
        margin-left: 15px;
        font-size: 18px;
        line-height: 21px;
      }
      @media (min-width: 640px) {
        margin-top: 21px;
        margin-left: 15px;
        font-size: 18px;
        line-height: 21px;
      }
      @media (min-width: 768px) {
        margin-top: 22px;
        margin-left: 16px;
        font-size: 18px;
        line-height: 21px;
      }
      @media (min-width: 1020px) {
        margin-top: 22px;
        margin-left: 16px;
        font-size: 18px;
        line-height: 21px;
      }
      @media (min-width: 1430px) {
        margin-top: 22px;
        margin-left: 16px;
        font-size: 18px;
        line-height: 21px;
      }
    }
  }

  &_disk {
    @media (min-width: 480px) {
      height: 130px;
    }
    @media (min-width: 540px) {
      height: 147px;
    }
    @media (min-width: 640px) {
      height: 147px;
    }
    @media (min-width: 768px) {
      height: 156px;
    }
    @media (min-width: 1020px) {
      height: 156px;
    }
    @media (min-width: 1430px) {
      height: 156px;
    }
    .ui-our-product__title { 
      @media (min-width: 1430px) {
        margin: 30px 0 0 30px;
      }
    }
    .ui-our-product__picture {
      top: 15px;
      bottom: unset;
      right: -15px;
      @media (min-width: 480px) {
      }
      @media (min-width: 540px) {
        bottom: unset;
        top: 17px;
        right: -20px;
      }
      @media (min-width: 640px) {
        bottom: unset;
        top: 17px;
        right: -20px;
      }
      @media (min-width: 768px) {
        bottom: unset;
        top: 18px;
        right: -24px;
      }
      @media (min-width: 1020px) {
      }
      @media (min-width: 1430px) {
      }
    }
    .ui-our-product__img {
      position: absolute;
      top: 0;
      bottom: unset;
      right: 0;
      width: 140px;
      @media (min-width: 480px) {
        bottom: unset;
        top: 0;
        right: 0px;
      }
      @media (min-width: 540px) {
        width: 161px;
        bottom: unset;
        top: 0;
        right: 0px;
      }
      @media (min-width: 640px) {
        bottom: unset;
        top: 0;
        right: 0px;
      }
      @media (min-width: 768px) {
        width: 172px;
        bottom: unset;
        top: 0;
        right: 0px;
      }
      @media (min-width: 1020px) {
        bottom: unset;
        top: 0;
        right: 0px;
      }
      @media (min-width: 1430px) {
        bottom: unset;
        top: 0;
        right: 0px;
      }
    }
  }

  &_burners {
    @media (min-width: 480px) {
      height: 130px;
    }
    @media (min-width: 540px) {
      height: 147px;
    }
    @media (min-width: 640px) {
      height: 147px;
    }
    @media (min-width: 768px) {
      height: 156px;
    }
    @media (min-width: 1020px) {
      height: 156px;
    }
    @media (min-width: 1430px) {
      height: 156px;
    }
    .ui-our-product__title { 
      @media (min-width: 1430px) {
        margin: 30px 0 0 30px;
      }
    }
    .ui-our-product__picture {
      position: static;
      @media (min-width: 480px) {
      }
      @media (min-width: 540px) {
      }
      @media (min-width: 640px) {
      }
      @media (min-width: 768px) {
      }
      @media (min-width: 1020px) {
      }
      @media (min-width: 1430px) {
      }
    }
    .ui-our-product__img {
      position: absolute;
      top: unset;
      bottom: 0;
      right: 20px;
      width: 97px;
      @media (min-width: 480px) {
        top: unset;
        right: 20px;
        bottom: 0;
        width: 97px;
      }
      @media (min-width: 540px) {
        width: 109px;
        top: unset;
        bottom: 0;
        right: 20px;
      }
      @media (min-width: 640px) {
        width: 109px;
        top: unset;
        bottom: 0;
        right: 26px;
      }
      @media (min-width: 768px) {
        width: 116px;
        top: unset;
        bottom: 0;
        right: 20px;
      }
      @media (min-width: 1020px) {
        width: 116px;
        bottom: 0;
        top: unset;
        right: 0px;
      }
      @media (min-width: 1430px) {
        width: 116px;
        bottom: 0;
        top: unset;
        right: 0px;
      }
    }
  }

  &_magnetic {
    @media (min-width: 480px) {
      height: 130px;
    }
    @media (min-width: 540px) {
      height: 147px;
    }
    @media (min-width: 640px) {
      height: 147px;
    }
    @media (min-width: 768px) {
      height: 156px;
    }
    @media (min-width: 1020px) {
      height: 156px;
    }
    @media (min-width: 1430px) {
      height: 156px;
    }
    .ui-our-product__title { 
      @media (min-width: 1430px) {
        margin: 30px 0 0 30px;
      }
    }
    .ui-our-product__picture {
      position: static;
      @media (min-width: 480px) {
        position: static;
      }
      @media (min-width: 540px) {
        position: static;
      }
      @media (min-width: 640px) {
        position: static;
      }
      @media (min-width: 768px) {
        position: static;
      }
      @media (min-width: 1020px) {
        position: static;
      }
      @media (min-width: 1430px) {
        position: static;
      }
    }
    .ui-our-product__img {
      position: absolute;
      @media (min-width: 480px) {
        top: 0;
        right: 0;
        bottom: 0;
        left: unset;
        width: auto;
        height: 100%;
      }
      @media (min-width: 540px) {
        top: 0;
        right: 0;
        bottom: 0;
        left: unset;
        width: auto;
        height: 100%;
      }
      @media (min-width: 640px) {
        top: 0;
        right: 0;
        bottom: 0;
        left: unset;
        width: auto;
        height: 100%;
      }
      @media (min-width: 768px) {
        top: 0;
        right: 0;
        bottom: 0;
        left: unset;
        width: auto;
        height: 100%;
      }
      @media (min-width: 1020px) {
        top: 0;
        right: 0;
        bottom: 0;
        left: unset;
        width: auto;
        height: 100%;
      }
      @media (min-width: 1430px) {
        top: 0;
        right: 0;
        bottom: 0;
        left: unset;
        width: auto;
        height: 100%;
      }
    }
  }
}
