.ui-types {
  &__wrapper {
  }
  &__title {
    text-align: left;
    margin-top: 0;
    margin-bottom: 41px;
    @media (min-width: 480px) {
      margin-bottom: 35px;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
      margin-bottom: 30px;
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
      margin-bottom: 48px;
    }
  }
  &__content {
    @media (min-width: 1430px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 150px;
    }
  }
  &__elements {
    margin-bottom: 46px;
    @media (min-width: 480px) {
      margin-bottom: 53px;
    }
    @media (min-width: 540px) {
      margin-bottom: 63px;
    }
    @media (min-width: 640px) {
      margin-bottom: 57px;
    }
    @media (min-width: 768px) {
      margin-bottom: 78px;
    }
    @media (min-width: 1020px) {
      margin-bottom: 71px;
    }
    @media (min-width: 1430px) {
      margin-bottom: 0;
    }
  }
  &__elements-title {
    display: none;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 42px;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }
  &__elements-items {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    @media (min-width: 480px) {
      row-gap: 30px;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 11px;
      row-gap: 67px;
    }
    @media (min-width: 768px) {
      row-gap: 26px;
    }
    @media (min-width: 1020px) {
      row-gap: 36px;
    }
    @media (min-width: 1430px) {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  }
  &__element {
    display: grid;
    grid-template-columns: 73px 1fr;
    column-gap: 30px;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
      column-gap: 23px;
    }
    @media (min-width: 640px) {
      grid-template-columns: 93px 1fr;
      column-gap: 10px;
    }
    @media (min-width: 768px) {
      grid-template-columns: 111px 1fr;
      column-gap: 15px;
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
      grid-template-columns: 130px 1fr;
      column-gap: 30px;
    }
  }
  &__element-picture {
  }
  &__element-img {
    width: 100%;
    height: auto;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }
  &__element-content {
  }
  &__element-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 9px;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 7px;
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
      margin-bottom: 13px;
      font-size: 18px;
      line-height: 21px;
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }
  &__element-description {
    font-size: 12px;
    line-height: 160%;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
      font-size: 14px;
      line-height: 160%;
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 160%;
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }
  &__application {
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }
}
