{
  "singleQuote": true,
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "always",
  "printWidth": 400,
  "bracketSpacing": true,
  "insertPragma": false,
  "jsxBracketSameLine": true,
  "proseWrap": "never",
  "requirePragma": false,
  "trailingComma": "none",
  "useTabs": false,
  "embeddedLanguageFormatting": "off"
}
