@font-face {
	font-family: "Icons";
	src: url('../fonts/Icons.eot');
	src: url('../fonts/Icons.eot?#iefix') format('eot'),
		url('../fonts/Icons.woff') format('woff'),
		url('../fonts/Icons.ttf') format('truetype'),
		url('../fonts/Icons.svg#Icons') format('svg');
	font-display: swap;
}

.icon:before {
	font-family: "Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-arrow-short-grey:before {
	content: "\E001";
}

.icon-arrow-short-white:before {
	content: "\E002";
}

.icon-callback-success-icon:before {
	content: "\E003";
}

.icon-contacts:before {
	content: "\E004";
}

.icon-icon-arrow-right-short_grey:before {
	content: "\E005";
}

.icon-icon-arrow-right-short_white:before {
	content: "\E006";
}

.icon-icon-arrow-right_black:before {
	content: "\E007";
}

.icon-icon-arrow-right_white:before {
	content: "\E008";
}

.icon-icon-award:before {
	content: "\E009";
}

.icon-icon-certificate:before {
	content: "\E00A";
}

.icon-icon-delivery:before {
	content: "\E00B";
}

.icon-icon-education:before {
	content: "\E00C";
}

.icon-icon-handshake-alt:before {
	content: "\E00D";
}

.icon-icon-handshake:before {
	content: "\E00E";
}

.icon-icon-help:before {
	content: "\E00F";
}

.icon-icon-instagram:before {
	content: "\E010";
}

.icon-icon-pdf:before {
	content: "\E011";
}

.icon-icon-process:before {
	content: "\E012";
}

.icon-icon-publications:before {
	content: "\E013";
}

.icon-icon-shield:before {
	content: "\E014";
}

.icon-icon-stock:before {
	content: "\E015";
}

.icon-icon-triangle-left:before {
	content: "\E016";
}

.icon-icon-triangle-right:before {
	content: "\E017";
}

.icon-icon-youtube:before {
	content: "\E018";
}

.icon-logo_black:before {
	content: "\E019";
}

.icon-logo_red:before {
	content: "\E01A";
}

.icon-menu_close:before {
	content: "\E01B";
}

.icon-menu_open:before {
	content: "\E01C";
}

.icon-order:before {
	content: "\E01D";
}

.icon-production:before {
	content: "\E01E";
}

.icon-slider-next:before {
	content: "\E01F";
}

.icon-slider-next_disabled:before {
	content: "\E020";
}

.icon-slider-prev:before {
	content: "\E021";
}

.icon-slider-prev_disabled:before {
	content: "\E022";
}

.icon-warranty:before {
	content: "\E023";
}