<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- TODO: Убрать noindex в продакшене -->
    <meta name="robots" content="noindex" />
    <title>Детальная</title>
    <meta name="description" content="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
    <link rel="stylesheet" href="./assets/styles/main.min.css" />
  </head>
  <body class="body body_default">
    <!-- HEADER -->
    <header id="header" class="header">
      <div class="container header__top">
        <a href="#" class="header__logo" title="Родмикс"><img src="./assets/images/logo_red.svg" alt="" class="header__logo-img" loading="lazy" decoding="async" /></a>
        <nav class="header__nav">
          <a href="#" class="header__nav-item">О НАС</a>
          <a href="#" class="header__nav-item">НАША ПРОДУКЦИЯ</a>
          <a href="#" class="header__nav-item">НАШИ ПУБЛИКАЦИИ</a>
          <a href="#" class="header__nav-item">ГДЕ КУПИТЬ</a>
          <a href="#" class="header__nav-item">КОНТАКТЫ</a>
        </nav>
        <a href="tel:+74994440625" class="header__phone">+7 (499) 444-06-25</a>
        <button data-id="callbackModal" class="header__callback">ПЕРЕЗВОНИТЬ МНЕ</button>
        <button aria-label="Открыть меню" id="menuOpen" class="header__bar">
          <span class="icon icon-menu_open header__bar-open"></span>
        </button>
      </div>
    </header>

    <!-- HEADER SIDEBAR -->
    <aside id="sidebar" class="sidebar">
      <div class="sidebar__menu">
        <p class="sidebar__menu-title">Меню <span id="menuClose" class="icon icon-menu_close sidebar__menu-close"></span></p>
        <nav class="sidebar__menu-list">
          <a href="#" class="sidebar__menu-item">О Нас</a>
          <a href="#" class="sidebar__menu-item">Наша продукция</a>
          <a href="#" class="sidebar__menu-item">Наши публикации</a>
          <a href="#" class="sidebar__menu-item">Где купить</a>
          <a href="#" class="sidebar__menu-item">Контакты</a>
        </nav>
        <p class="sidebar__menu-title">Наша продукция</p>
        <nav class="sidebar__menu-list sidebar__menu-list_last">
          <a href="#" class="sidebar__menu-item">Корончатые сверла</a>
          <a href="#" class="sidebar__menu-item">Борфрезы твердосплавные</a>
          <a href="#" class="sidebar__menu-item">Диски по металу</a>
          <a href="#" class="sidebar__menu-item">Адаптеры и переходники</a>
          <a href="#" class="sidebar__menu-item">Концевые фрезы</a>
          <a href="#" class="sidebar__menu-item">Метчики и плашки</a>
          <a href="#" class="sidebar__menu-item">Стпенчатые сверла</a>
          <a href="#" class="sidebar__menu-item">Магнитные станки</a>
          <a href="#" class="sidebar__menu-item">Зенковки</a>
        </nav>
      </div>
    </aside>

    <div class="blog">
      <div class="container blog__wrapper">
        <!-- Форма -->
        <div class="blog__form">
          <div class="blog__form-wrapper">
            <div class="ui-form ui-form_blog">
              <div class="ui-form__wrapper">
                <p class="ui-form__title">Задать вопрос</p>

                <form data-ui-form class="ui-form__form">
                  <div class="ui-form__fields">
                    <div class="ui-form__field">
                      <label data-required for="orderPricePhone2" class="ui-form__label">Телефон:</label>
                      <input id="orderPricePhone2" placeholder="+7 999 999 99 99" type="text" class="custom-input ui-form__input" />
                    </div>

                    <div class="ui-form__field">
                      <label data-required for="orderPriceEmail2" class="ui-form__label">Электронная почта:</label>
                      <input id="orderPriceEmail2" placeholder="ivanov@mail.ru" type="text" class="custom-input ui-form__input" />
                    </div>

                    <div class="ui-form__field">
                      <label for="orderPriceText2" class="ui-form__label">Комментарий:</label>
                      <textarea class="custom-input ui-form__input ui-form__input_textarea" placeholder="Текст" id="orderPriceText2"></textarea>
                    </div>
                  </div>
                  <button type="button" class="btn ui-form__btn"><span class="ui-form__btn-hide-480">Заполнить форму</span> <span class="ui-form__btn-show-480">Отправить</span></button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Контент -->
        <div class="blog__content">
          <h1 class="mt-0 title1 blog__content-title">Рекомендации по правильному применению твердосплавных борфрез</h1>
          <div class="details">
            <p>
              Твердосплавные борфрезы по металлу - используются для обработки металла при помощи ручной прямошлифовальной машины, которая может быть оснащена как электрическим, так и пневматическим приводом. Такие машины в процессе работы могут развивать скорость до 70 тысяч оборотов в минуту,
              поэтому обязательно нужно соблюдать меры безопасности от пыли.
            </p>
            <p>
              Твердосплавные борфрезы по металлу - используются для обработки металла при помощи ручной прямошлифовальной машины, которая может быть оснащена как электрическим, так и пневматическим приводом. Такие машины в процессе работы могут развивать скорость до 70 тысяч оборотов в минуту,
              поэтому обязательно нужно соблюдать меры безопасности от пыли.
            </p>

            <img src="./assets/images/publications.jpg" alt="Картинка" loading="lazy" decoding="async" />

            <p>
              Твердосплавные борфрезы по металлу - используются для обработки металла при помощи ручной прямошлифовальной машины, которая может быть оснащена как электрическим, так и пневматическим приводом. Такие машины в процессе работы могут развивать скорость до 70 тысяч оборотов в минуту,
              поэтому обязательно нужно соблюдать меры безопасности от пыли.
            </p>
            <h2>Н2 Заголовок второго уровня</h2>
            <p>
              Твердосплавные борфрезы по металлу - используются для обработки металла при помощи ручной прямошлифовальной машины, которая может быть оснащена как электрическим, так и пневматическим приводом. Такие машины в процессе работы могут развивать скорость до 70 тысяч оборотов в минуту,
              поэтому обязательно нужно соблюдать меры безопасности от пыли.
            </p>
            <h3>Н3 Третий уровень заголовка</h3>
            <p>
              Твердосплавные борфрезы по металлу - используются для обработки металла при помощи ручной прямошлифовальной машины, которая может быть оснащена как электрическим, так и пневматическим приводом. Такие машины в процессе работы могут развивать скорость до 70 тысяч оборотов в минуту,
              поэтому обязательно нужно соблюдать меры безопасности от пыли.
            </p>
            <p>
              Твердосплавные борфрезы по металлу - используются для обработки металла при помощи ручной прямошлифовальной машины, которая может быть оснащена как электрическим, так и пневматическим приводом. Такие машины в процессе работы могут развивать скорость до 70 тысяч оборотов в минуту,
              поэтому обязательно нужно соблюдать меры безопасности от пыли.
            </p>

            <figure>
              <blockquote cite="https://www.huxley.net/bnw/four.html">
                <p>Таким образом, реализация намеченных плановых заданий обеспечивает актуальность как самодостаточных, так и внешне зависимых концептуальных решений.</p>
              </blockquote>
              <figcaption>— Автор автор <cite>статьи</cite></figcaption>
            </figure>

            <h4>Н4 Четвертый уровень</h4>

            <p>
              <img class="details__img-align-left" width="255" alt="1516.jpg" src="https://kornor.ru/upload/medialibrary/122/122e5fe49c01caa72e29337b14418470.jpg" height="190" title="1516.jpg" align="left" hspace="10" vspace="10" />

              Твердосплавные борфрезы по металлу - используются для обработки металла при помощи ручной прямошлифовальной машины, которая может быть оснащена как электрическим, так и пневматическим приводом. Такие машины в процессе работы могут развивать скорость до 70 тысяч оборотов в минуту,
              поэтому обязательно нужно соблюдать меры безопасности от пыли.
            </p>

            <ul>
              <li>Пункт первый</li>
              <li>Пункт второй</li>
              <li>Пункт третий</li>
            </ul>

            <p>
              Твердосплавные борфрезы по металлу - используются для обработки металла при помощи ручной прямошлифовальной машины, которая может быть оснащена как электрическим, так и пневматическим приводом. Такие машины в процессе работы могут развивать скорость до 70 тысяч оборотов в минуту,
              поэтому обязательно нужно соблюдать меры безопасности от пыли.
            </p>

            <ol>
              <li>Пункт первый</li>
              <li>Пункт второй</li>
              <li>Пункт третий</li>
            </ol>

            <h3>Общие рекомендуемые диапазоны скоростиприменения борфрез, об. мин.</h3>
            <div data-type="table-scroll">
              <table cellspacing="0" cellpadding="0" align="center">
                <tbody>
                <tr class="info">
                  <td rowspan="2" width="136" style="width: 102.25pt;">
                    <pstyle="text-align: center;">
                 <b>Материал</b>
                    </pstyle=>
                  </td>
                  <td colspan="8" width="475" style="width: 355.95pt;">
                    <p style="text-align: center;">
                 <b>Диаметр головки</b>
                    </p>
                  </td>
                </tr>
                <tr class="info">
                  <td width="62" style="width: 46.65pt; text-align: center;">
                    <p>
                 <b>3 мм</b>
                    </p>
                  </td>
                  <td width="66" style="width: 49.6pt; text-align: center;">
                    <p>
                 <b>6 мм</b>
                    </p>
                  </td>
                  <td width="58" style="width: 43.8pt; text-align: center;">
                    <p>
                 <b>8 мм</b>
                    </p>
                  </td>
                  <td width="69" style="width: 51.85pt; text-align: center;">
                    <p>
                 <b>10 мм</b>
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                 <b>12 мм</b>
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                 <b>16 мм</b>
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                 <b>20 мм</b>
                    </p>
                  </td>
                  <td width="55" style="width: 41.2pt; text-align: center;">
                    <p>
                 <b>25 мм</b>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="136" style="width: 102.25pt;">
                    <p>
                       Алюминий
                    </p>
                  </td>
                  <td width="62" style="width: 46.65pt; text-align: center;">
                    <p>
                       60.000
                    </p>
                    <p>
                       80.000
                    </p>
                  </td>
                  <td width="66" style="width: 49.6pt; text-align: center;">
                    <p>
                       15.000
                    </p>
                    <p>
                       60.000
                    </p>
                  </td>
                  <td width="58" style="width: 43.8pt; text-align: center;">
                    <p>
                       10.000
                    </p>
                    <p>
                       50.000
                    </p>
                  </td>
                  <td width="69" style="width: 51.85pt; text-align: center;">
                    <p>
                       10.000
                    </p>
                    <p>
                       50.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       7.000
                    </p>
                    <p>
                       30.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       6.000
                    </p>
                    <p>
                       20.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       5.000
                    </p>
                    <p>
                       17.000
                    </p>
                  </td>
                  <td width="55" style="width: 41.2pt; text-align: center;">
                    <p>
                       4.000
                    </p>
                    <p>
                       13.000
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="136" style="width: 102.25pt;">
                    <p>
                       Медь, латунь, бронза
                    </p>
                  </td>
                  <td width="62" style="width: 46.65pt; text-align: center;">
                    <p>
                       45.000
                    </p>
                    <p>
                       80.000
                    </p>
                  </td>
                  <td width="66" style="width: 49.6pt; text-align: center;">
                    <p>
                       22.000
                    </p>
                    <p>
                       60.000
                    </p>
                  </td>
                  <td width="58" style="width: 43.8pt; text-align: center;">
                    <p>
                       18.000
                    </p>
                    <p>
                       36.000
                    </p>
                  </td>
                  <td width="69" style="width: 51.85pt; text-align: center;">
                    <p>
                       15.000
                    </p>
                    <p>
                       40.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       11.000
                    </p>
                    <p>
                       30.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       9.000
                    </p>
                    <p>
                       20.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       8.000
                    </p>
                    <p>
                       17.000
                    </p>
                  </td>
                  <td width="55" style="width: 41.2pt; text-align: center;">
                    <p>
                       6.000
                    </p>
                    <p>
                       13.000
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="136" style="width: 102.25pt; text-align: center;">
                    <p class="" style="text-align: left;">
                       Чугун
                    </p>
                  </td>
                  <td width="62" style="width: 46.65pt; text-align: center;">
                    <p>
                       45.000
                    </p>
                    <p>
                       80.000
                    </p>
                  </td>
                  <td width="66" style="width: 49.6pt; text-align: center;">
                    <p>
                       22.000
                    </p>
                    <p>
                       60.000
                    </p>
                  </td>
                  <td width="58" style="width: 43.8pt; text-align: center;">
                    <p>
                       18.000
                    </p>
                    <p>
                       36.000
                    </p>
                  </td>
                  <td width="69" style="width: 51.85pt; text-align: center;">
                    <p>
                       15.000
                    </p>
                    <p>
                       40.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       11.000
                    </p>
                    <p>
                       30.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       9.000
                    </p>
                    <p>
                       20.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       8.000
                    </p>
                    <p>
                       17.000
                    </p>
                  </td>
                  <td width="55" style="width: 41.2pt; text-align: center;">
                    <p>
                       6.000
                    </p>
                    <p>
                       13.000
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="136" style="width: 102.25pt;">
                    <p>
                       Сталь, 40-55 HRC
                    </p>
                  </td>
                  <td width="62" style="width: 46.65pt; text-align: center;">
                    <p>
                       60.000
                    </p>
                    <p>
                       80.000
                    </p>
                  </td>
                  <td width="66" style="width: 49.6pt; text-align: center;">
                    <p>
                       45.000
                    </p>
                    <p>
                       60.000
                    </p>
                  </td>
                  <td width="58" style="width: 43.8pt; text-align: center;">
                    <p>
                       35.000
                    </p>
                    <p>
                       45.000
                    </p>
                  </td>
                  <td width="69" style="width: 51.85pt; text-align: center;">
                    <p>
                       30.000
                    </p>
                    <p>
                       40.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       22.000
                    </p>
                    <p>
                       30.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       18.000
                    </p>
                    <p>
                       20.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       15.000
                    </p>
                    <p>
                       17.000
                    </p>
                  </td>
                  <td width="55" style="width: 41.2pt; text-align: center;">
                    <p>
                       10.000
                    </p>
                    <p>
                       13.000
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="136" style="width: 102.25pt;">
                    <p>
                       Сталь, 55-60 HRC
                    </p>
                  </td>
                  <td width="62" style="width: 46.65pt; text-align: center;">
                    <p>
                       60.000
                    </p>
                    <p>
                       80.000
                    </p>
                  </td>
                  <td width="66" style="width: 49.6pt; text-align: center;">
                    <p>
                       30.000
                    </p>
                    <p>
                       45.000
                    </p>
                  </td>
                  <td width="58" style="width: 43.8pt; text-align: center;">
                    <p>
                       20.000
                    </p>
                    <p>
                       35.000
                    </p>
                  </td>
                  <td width="69" style="width: 51.85pt; text-align: center;">
                    <p>
                       19.000
                    </p>
                    <p>
                       30.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       15.000
                    </p>
                    <p>
                       22.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       12.000
                    </p>
                    <p>
                       18.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       10.000
                    </p>
                    <p>
                       15.000
                    </p>
                  </td>
                  <td width="55" style="width: 41.2pt; text-align: center;">
                    <p>
                       7.000
                    </p>
                    <p>
                       11.000
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="136" style="width: 102.25pt;">
                    <p>
                       Нержавеющая сталь
                    </p>
                  </td>
                  <td width="62" style="width: 46.65pt; text-align: center;">
                    <p>
                       60.000
                    </p>
                    <p>
                       80.000
                    </p>
                  </td>
                  <td width="66" style="width: 49.6pt; text-align: center;">
                    <p>
                       30.000
                    </p>
                    <p>
                       45.000
                    </p>
                  </td>
                  <td width="58" style="width: 43.8pt; text-align: center;">
                    <p>
                       20.000
                    </p>
                    <p>
                       35.000
                    </p>
                  </td>
                  <td width="69" style="width: 51.85pt; text-align: center;">
                    <p>
                       19.000
                    </p>
                    <p>
                       30.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       15.000
                    </p>
                    <p>
                       22.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       12.000
                    </p>
                    <p>
                       18.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       10.000
                    </p>
                    <p>
                       15.000
                    </p>
                  </td>
                  <td width="55" style="width: 41.2pt; text-align: center;">
                    <p>
                       7.000
                    </p>
                    <p>
                       11.000
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="136" style="width: 102.25pt;">
                    <p>
                       Пластик
                    </p>
                  </td>
                  <td width="62" style="width: 46.65pt; text-align: center;">
                    <p>
                       60.000
                    </p>
                    <p>
                       80.000
                    </p>
                  </td>
                  <td width="66" style="width: 49.6pt; text-align: center;">
                    <p>
                       15.000
                    </p>
                    <p>
                       60.000
                    </p>
                  </td>
                  <td width="58" style="width: 43.8pt; text-align: center;">
                    <p>
                       10.000
                    </p>
                    <p>
                       50.000
                    </p>
                  </td>
                  <td width="69" style="width: 51.85pt; text-align: center;">
                    <p>
                       10.000
                    </p>
                    <p>
                       50.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       7.000
                    </p>
                    <p>
                       30.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       6.000
                    </p>
                    <p>
                       20.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       5.000
                    </p>
                    <p>
                       17.000
                    </p>
                  </td>
                  <td width="55" style="width: 41.2pt; text-align: center;">
                    <p>
                       4.000
                    </p>
                    <p>
                       13.000
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="136" style="width: 102.25pt;">
                    <p>
                       Титан
                    </p>
                  </td>
                  <td width="62" style="width: 46.65pt; text-align: center;">
                    <p>
                       60.000
                    </p>
                    <p>
                       80.000
                    </p>
                  </td>
                  <td width="66" style="width: 49.6pt; text-align: center;">
                    <p>
                       30.000
                    </p>
                    <p>
                       45.000
                    </p>
                  </td>
                  <td width="58" style="width: 43.8pt; text-align: center;">
                    <p>
                       20.000
                    </p>
                    <p>
                       35.000
                    </p>
                  </td>
                  <td width="69" style="width: 51.85pt; text-align: center;">
                    <p>
                       19.000
                    </p>
                    <p>
                       30.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       15.000
                    </p>
                    <p>
                       22.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       12.000
                    </p>
                    <p>
                       18.000
                    </p>
                  </td>
                  <td width="55" style="width: 40.95pt; text-align: center;">
                    <p>
                       10.000
                    </p>
                    <p>
                       15.000
                    </p>
                  </td>
                  <td width="55" style="width: 41.2pt; text-align: center;">
                    <p>
                       7.000
                    </p>
                    <p>
                       11.000
                    </p>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <br />
            <br />

            <button>Отправить</button>
            <br />
            <br />
            <button disabled>Отправить</button>

            <br />
            <br />

            <div data-type="dropdown">
              <button>Выпадающий список <span></span></button>
              <div>
                <button>Выпадающий пункт</button>
                <button>Выпадающий пункт</button>
                <button>Выпадающий пункт</button>
              </div>
            </div>

            <br />
            <br />

            <form>
              <input placeholder="Иванов Иван" type="text" />
              <br />
              <br />
              <input required minlength="4" maxlength="8" placeholder="Иванов Иван" type="text" />
              <br />
              <br />
              <input disabled placeholder="Иванов Иван" type="text" />
            </form>

            <br />
            <br />

            <div data-type="custom-checkbox">
              <input id="customCheckbox" type="checkbox" />
              <label for="customCheckbox">Пункт выбора</label>
            </div>
            <br />
            <div data-type="custom-checkbox">
              <input checked id="customCheckbox2" type="checkbox" />
              <label for="customCheckbox2">Пункт выбора 2</label>
            </div>

            <br />
            <br />

            <div data-type="custom-radio">
              <input id="customRadio" name="selectItem" type="radio" />
              <label for="customRadio">Пункт выбора</label>
            </div>
            <br />
            <div data-type="custom-radio">
              <input id="customRadio2" name="selectItem" type="radio" />
              <label for="customRadio2">Пункт выбора 2</label>
            </div>

            <br />
            <br />

            <br />
            <br />

            <img src="./assets/images/publications.jpg" alt="Картинка" loading="lazy" decoding="async" />

            <div>
              <p>
                Таким образом, реализация намеченных плановых заданий обеспечивает актуальность как самодостаточных, так и внешне зависимых концептуальных решений. Но граница обучения кадров влечет за собой процесс внедрения и модернизации поставленных обществом задач.
                <br />
                <br />
                Сучётом сложившейся международной обстановки, начало повседневной работы по формированию позиции обеспечивает актуальность модели развития! А ещё некоторые особенности внутренней политики заблокированы в рамках своих собственных рациональных ограничений. Не следует, однако, забывать,
                что сложившаяся структура организации обеспечивает широкому кругу (специалистов)
              </p>
              <a href="#">Читать далее</a>
            </div>

            <div data-type="iframe">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/8AwIJZj07s8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
            </div>

            <div class="tags tags_details">
              <p class="tags__item-tag-title">Тэги:</p>
              <a href="#" class="tags__item-tag">Корончатые сверла</a>
              <a href="#" class="tags__item-tag">Борфрезы</a>
              <a href="#" class="tags__item-tag">Тег 3</a>
            </div>

            

          </div>
        </div>
      </div>
    </div>

    <section class="ui-materials">
      <div class="container ui-materials__wrapper">
        <div class="ui-materials__title-with-link">
          <p class="title1 ui-materials__title1 mt-0">Полезные материалы</p>
          <a href="#" class="ui-materials__all-links ui-materials__all-links_top">Просмотреть все материалы</a>
        </div>

        <div id="allMaterials" class="swiper ui-materials__swiper">
          <div class="swiper-wrapper">
            <a href="#" class="swiper-slide ui-materials__slide">
              <picture class="ui-materials__slide-picture">
                <source srcset="./assets/images/useful-material-1.webp" type="image/webp" />
                <img loading="lazy" decoding="async" class="ui-materials__slide-img" src="./assets/images/useful-material-1.jpg" alt="Как правильно выбрать корончатое сверло по металлу" />
              </picture>
              <span class="ui-materials__slide-text">Как правильно выбрать корончатое сверло по металлу</span>
            </a>

            <a href="#" class="swiper-slide ui-materials__slide">
              <picture class="ui-materials__slide-picture">
                <source srcset="./assets/images/useful-material-2.webp" type="image/webp" />
                <img loading="lazy" decoding="async" class="ui-materials__slide-img" src="./assets/images/useful-material-2.jpg" alt="Как правильно выбрать корончатое сверло по металлу" />
              </picture>
              <span class="ui-materials__slide-text">Преимущества корончатых сверл (фрез)</span>
            </a>

            <a href="#" class="swiper-slide ui-materials__slide">
              <picture class="ui-materials__slide-picture">
                <source srcset="./assets/images/useful-material-3.webp" type="image/webp" />
                <img loading="lazy" decoding="async" class="ui-materials__slide-img" src="./assets/images/useful-material-3.jpg" alt="Как правильно выбрать корончатое сверло по металлу" />
              </picture>
              <span class="ui-materials__slide-text">Почему корончатые сверла ломаются</span>
            </a>

            <a href="#" class="swiper-slide ui-materials__slide">
              <picture class="ui-materials__slide-picture">
                <source srcset="./assets/images/useful-material-1.webp" type="image/webp" />
                <img loading="lazy" decoding="async" class="ui-materials__slide-img" src="./assets/images/useful-material-1.jpg" alt="Как правильно выбрать корончатое сверло по металлу" />
              </picture>
              <span class="ui-materials__slide-text">Как правильно выбрать корончатое сверло по металлу</span>
            </a>

            <a href="#" class="swiper-slide ui-materials__slide">
              <picture class="ui-materials__slide-picture">
                <source srcset="./assets/images/useful-material-2.webp" type="image/webp" />
                <img loading="lazy" decoding="async" class="ui-materials__slide-img" src="./assets/images/useful-material-2.jpg" alt="Как правильно выбрать корончатое сверло по металлу" />
              </picture>
              <span class="ui-materials__slide-text">Преимущества корончатых сверл (фрез)</span>
            </a>

            <a href="#" class="swiper-slide ui-materials__slide">
              <picture class="ui-materials__slide-picture">
                <source srcset="./assets/images/useful-material-3.webp" type="image/webp" />
                <img loading="lazy" decoding="async" class="ui-materials__slide-img" src="./assets/images/useful-material-3.jpg" alt="Как правильно выбрать корончатое сверло по металлу" />
              </picture>
              <span class="ui-materials__slide-text">Почему корончатые сверла ломаются</span>
            </a>
          </div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="ui-materials__navigation">
          <div class="swiper-button-prev"><span class="icon icon-icon-triangle-left"></span></div>
          <div class="swiper-button-next"><span class="icon icon-icon-triangle-right"></span></div>
        </div>

        <a href="#" class="ui-materials__all-links ui-materials__all-links_bottom">Просмотреть все материалы</a>
      </div>
    </section>

    <section class="our-production our-production_details">
      <div class="container our-production__wrapper">
        <div class="title-with-subtitle our-production__title-with-subtitle">
          <div class="our-production__subtitle subtitle">Надежность проверенная делом</div>
          <p class="our-production__title title1 title1_index mt-0">Наша продукция</p>
          <button data-id="orderModal" class="btn-outline title-with-subtitle__btn">запросить цены</button>
        </div>

        <nav class="our-production__list">
          <a href="#" class="ui-our-product our-production__list-item">
            <span class="ui-our-product__title our-production__list-title">Корончатые сверла</span>
            <span class="ui-our-product__description our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="icon icon-arrow-short ui-our-product__icon our-production__list-icon"></span>

            <picture class="ui-our-product__picture our-production__list-picture">
              <source srcset="./assets/images/production-list__item.webp" type="image/webp" />
              <img loading="lazy" decoding="async" class="ui-our-product__img our-production__list-img" src="./assets/images/production-list__item001.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
            </picture>
          </a>

          <a href="#" class="ui-our-product our-production__list-item">
            <span class="ui-our-product__title our-production__list-title">Борфрезы</span>
            <span class="ui-our-product__description our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="icon icon-arrow-short ui-our-product__icon our-production__list-icon"></span>

            <picture class="ui-our-product__picture our-production__list-picture">
              <source srcset="./assets/images/production-list__item002.webp" type="image/webp" />
              <img loading="lazy" decoding="async" class="ui-our-product__img our-production__list-img" src="./assets/images/production-list__item0002.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
            </picture>
          </a>

          <a href="#" class="ui-our-product our-production__list-item">
            <span class="ui-our-product__title our-production__list-title">Твердосплавные диски</span>
            <span class="ui-our-product__description our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="icon icon-arrow-short ui-our-product__icon our-production__list-icon"></span>

            <picture class="ui-our-product__picture our-production__list-picture">
              <source srcset="./assets/images/production-list__item003.webp" type="image/webp" />
              <img loading="lazy" decoding="async" class="ui-our-product__img our-production__list-img" src="./assets/images/production-list__item003.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
            </picture>
          </a>

          <a href="#" class="ui-our-product our-production__list-item">
            <span class="ui-our-product__title our-production__list-title">Адаптеры</span>

            <span class="ui-our-product__description our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="icon icon-arrow-short ui-our-product__icon our-production__list-icon"></span>

            <picture class="ui-our-product__picture our-production__list-picture">
              <source srcset="./assets/images/production-list__item004.webp" type="image/webp" />
              <img loading="lazy" decoding="async" class="ui-our-product__img our-production__list-img" src="./assets/images/production-list__item004.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
            </picture>
          </a>

          <a href="#" class="ui-our-product our-production__list-item">
            <span class="ui-our-product__title our-production__list-title">Концферзы</span>

            <span class="ui-our-product__description our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="icon icon-arrow-short ui-our-product__icon our-production__list-icon"></span>

            <picture class="ui-our-product__picture our-production__list-picture">
              <source srcset="./assets/images/production-list__item005.webp" type="image/webp" />
              <img loading="lazy" decoding="async" class="ui-our-product__img our-production__list-img" src="./assets/images/production-list__item005.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
            </picture>
          </a>

          <a href="#" class="ui-our-product our-production__list-item">
            <span class="ui-our-product__title our-production__list-title">Метчики</span>

            <span class="ui-our-product__description our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="icon icon-arrow-short ui-our-product__icon our-production__list-icon"></span>

            <picture class="ui-our-product__picture our-production__list-picture">
              <source srcset="./assets/images/production-list__item006.webp" type="image/webp" />
              <img loading="lazy" decoding="async" class="ui-our-product__img our-production__list-img" src="./assets/images/production-list__item006.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
            </picture>
          </a>

          <a href="#" class="ui-our-product our-production__list-item">
            <span class="ui-our-product__title our-production__list-title">Ступенчатые сверла</span>
            <span class="ui-our-product__description our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="icon icon-arrow-short ui-our-product__icon our-production__list-icon"></span>

            <picture class="ui-our-product__picture our-production__list-picture">
              <source srcset="./assets/images/production-list__item007.webp" type="image/webp" />
              <img loading="lazy" decoding="async" class="ui-our-product__img our-production__list-img" src="./assets/images/production-list__item007.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
            </picture>
          </a>

          <a href="#" class="ui-our-product our-production__list-item">
            <span class="ui-our-product__title our-production__list-title">Магнитные станки</span>
            <span class="ui-our-product__description our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="icon icon-arrow-short ui-our-product__icon our-production__list-icon"></span>

            <picture class="ui-our-product__picture our-production__list-picture">
              <source srcset="./assets/images/production-list__item008.webp" type="image/webp" />
              <img loading="lazy" decoding="async" class="ui-our-product__img our-production__list-img" src="./assets/images/production-list__item008.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
            </picture>
          </a>

          <a href="#" class="ui-our-product our-production__list-item">
            <span class="ui-our-product__title our-production__list-title">Зенкер</span>

            <span class="ui-our-product__description our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="icon icon-arrow-short ui-our-product__icon our-production__list-icon"></span>

            <picture class="ui-our-product__picture our-production__list-picture">
              <source srcset="./assets/images/production-list__item009.webp" type="image/webp" />
              <img loading="lazy" decoding="async" class="ui-our-product__img our-production__list-img" src="./assets/images/production-list__item009.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
            </picture>
          </a>

          <a href="#" class="btn-outline our-production__list-btn">запросить цены </a>
        </nav>
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer">
      <div class="container footer__wrapper mb-0">
        <div class="footer__top">
          <a href="#" class="footer__logo" title="Родмикс"><img src="./assets/images/logo_black.svg" loading="lazy" decoding="async" alt="" class="footer__logo-img" /></a>
          <nav class="footer__nav">
            <a href="#" class="footer__nav-item">О НАС</a>
            <a href="#" class="footer__nav-item">НАША ПРОДУКЦИЯ</a>
            <a href="#" class="footer__nav-item">НАШИ ПУБЛИКАЦИИ</a>
            <a href="#" class="footer__nav-item">ГДЕ КУПИТЬ</a>
            <a href="#" class="footer__nav-item">КОНТАКТЫ</a>
          </nav>
          <a href="tel:+74994440625" class="footer__phone">+7 (499) 444-06-25</a>
        </div>
        <div class="footer__bottom">
          <div class="footer__questions">
            <p class="footer__questions-title">Остались вопросы?</p>
            <p class="footer__questions-subtitle">Оставьте заявку и наш менеджер перезвонит Вам</p>
            <button data-id="orderModal" class="btn footer__questions-btn">Оставить заявку</button>
          </div>
          <div class="footer__menus">
            <nav class="footer__menu">
              <a href="#" class="footer__menu-item">Сверла</a>
              <a href="#" class="footer__menu-item">Борфрезы</a>
              <a href="#" class="footer__menu-item">Твердосплавные диски</a>
              <a href="#" class="footer__menu-item">Адаптеры</a>
              <a href="#" class="footer__menu-item">Концферзы</a>
            </nav>
            <nav class="footer__menu">
              <a href="#" class="footer__menu-item">Метчики</a>
              <a href="#" class="footer__menu-item">Корончатые сверла</a>
              <a href="#" class="footer__menu-item">Переходники</a>
              <a href="#" class="footer__menu-item">Удлинители</a>
            </nav>
          </div>
          <div class="footer__address">
            <p class="footer__address-location">Россия, г. Калининград, ул. Ленина д.56</p>
            <a href="mailto:pochta@yandex.ru" class="footer__address-email">pochta@yandex.ru</a>
            <div class="footer__address-socials">
              <a href="#" class="footer__address-social"><span class="icon icon-icon-instagram footer__address-social-icon"></span></a>
              <a href="#" class="footer__address-social"><span class="icon icon-icon-youtube footer__address-social-icon"></span></a>
            </div>
          </div>
        </div>
        <div class="footer__rules">
          Все материалы данного сайта являются объектами авторского права (в том числе дизайн). Запрещается копирование, распространение <br />
          (в том числе путем копирования на другие сайты и ресурсы в Интернете) или любое иное использование информации <a class="footer__rules-link" href="#">Правила сайта</a> и <a class="footer__rules-link" href="#">Политика конфеденциальности</a>
        </div>
      </div>
    </footer>

    <div class="tapbar">
      <nav class="tapbar__wrapper">
        <button class="tapbar__item"><span class="icon icon-tapbar-settings tapbar__item-icon"></span> <span class="tapbar__item-text">Продукция</span></button>
        <button class="tapbar__item"><span class="icon icon-tapbar-medal tapbar__item-icon"></span> <span class="tapbar__item-text">Гарантия</span></button>
        <button data-id="callbackModal" class="tapbar__item"><span class="icon icon-tapbar-call tapbar__item-icon"></span> <span class="tapbar__item-text">Перезвонить</span></button>
        <button class="tapbar__item"><span class="icon icon-tapbar-pin tapbar__item-icon"></span> <span class="tapbar__item-text">Контакты</span></button>
      </nav>
    </div>

    <div data-type="modal" id="callbackModal" class="modal callback-modal">
      <div class="modal-wrapper callback-modal__wrapper">
        <!-- callback -->
        <span data-id="callbackModal" class="icon icon-menu_close modal-icon-close callback-modal__close"></span>
        <p class="modal-title  callback-modal__title">Оставьте свой вопрос</p>
        <p class="modal-subtitle callback-modal__subtitle">
          И наш менеджер свяжется с Вами <br />
          для уточнения информации
        </p>
        <form id="callbackForm" class="callback-modal__form">
          <input placeholder="Имя *" type="text" class="custom-input callback-modal__input" />
          <input placeholder="Номер телефона *" type="text" class="custom-input callback-modal__input" />
          <textarea placeholder="Вопрос *" class="custom-textarea callback-modal__textarea"></textarea>
          <button type="submit" class="btn callback-modal__submit-btn">Оставить вопрос</button>
          <p class="callback-modal__rules">
            Оставляя вопрос, вы подтверждаете что ознакомлены <br />
            с <a href="#">политикой конфиденциальности</a> и согласны на обработку <br />
            персональных данных
          </p>
        </form>
        <!-- Success -->
        <div id="callbackSuccess" class="modal-wrapper callback-success-modal__wrapper">
          <span id="callbackModalClose" class="icon icon-menu_close modal-icon-close callback-success-modal__close"></span>
          <span class="icon icon-icon-success callback-success-modal__img"></span>
          <p class="modal-title callback-success-modal__title">Спасибо</p>
          <p class="modal-subtitle callback-success-modal__subtitle">
            Ваша заявка принята! <br />
            В ближайшее время с Вами свяжется наш специалист
          </p>
        </div>
      </div>
    </div>

    <script src="./assets/scripts/default.bundle.js"></script>
  </body>
</html>
