<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>твердосплавные диски</title>
    <meta name="description" content="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
    <link rel="stylesheet" href="./assets/styles/main.min.css" />
  </head>
  <body>
    <!-- HEADER -->
    <header id="header" class="header">
      <div class="container header__top">
        <a href="#" class="header__logo" title="Родмикс"><img src="./assets/images/logo_red.svg" alt="" class="header__logo-img" loading="lazy" decoding="async" /></a>
        <nav class="header__nav">
          <a href="#" class="header__nav-item">О НАС</a>
          <a href="#" class="header__nav-item">НАША ПРОДУКЦИЯ</a>
          <a href="#" class="header__nav-item">НАШИ ПУБЛИКАЦИИ</a>
          <a href="#" class="header__nav-item">ГДЕ КУПИТЬ</a>
          <a href="#" class="header__nav-item">КОНТАКТЫ</a>
        </nav>
        <a href="tel:+74994440625" class="header__phone">+7 (499) 444-06-25</a>
        <button data-id="callbackModal" class="header__callback">ПЕРЕЗВОНИТЬ МНЕ</button>
        <button aria-label="Открыть меню" id="menuOpen" class="header__bar">
          <span class="icon icon-menu_open header__bar-open"></span>
        </button>
      </div>
    </header>

    <!-- HEADER SIDEBAR -->
    <aside id="sidebar" class="sidebar">
      <div class="sidebar__menu">
        <p class="sidebar__menu-title">Меню <span id="menuClose" class="icon icon-menu_close sidebar__menu-close"></span></p>
        <nav class="sidebar__menu-list">
          <a href="#" class="sidebar__menu-item">О Нас</a>
          <a href="#" class="sidebar__menu-item">Наша продукция</a>
          <a href="#" class="sidebar__menu-item">Наши публикации</a>
          <a href="#" class="sidebar__menu-item">Где купить</a>
          <a href="#" class="sidebar__menu-item">Контакты</a>
        </nav>
        <p class="sidebar__menu-title">Наша продукция</p>
        <nav class="sidebar__menu-list sidebar__menu-list_last">
          <a href="#" class="sidebar__menu-item">Сверла</a>
          <a href="#" class="sidebar__menu-item">Борфрезы</a>
          <a href="#" class="sidebar__menu-item">Твердосплавные диски</a>
          <a href="#" class="sidebar__menu-item">Адаптеры</a>
          <a href="#" class="sidebar__menu-item">Концферзы</a>
          <a href="#" class="sidebar__menu-item">Метчики</a>
        </nav>
      </div>
    </aside>

    <!-- FIRST SCREEN -->
    <section class="welcome welcome_disks">
      <div class="container welcome__wrapper">
        <div class="welcome__text-content">
          <h1>
            <span class="welcome__title">ТВЕРДОСПЛАВНЫЕ ДИСКИ ОТ ПРОИЗВОДИТЕЛЯ </span>
          </h1>
          <p class="welcome__description">Надежный инструмент по доступной цене</p>
        </div>
        <picture class="welcome__picture">
          <source srcset="./assets/images/welcome-disks.webp" type="image/webp" />
          <img class="welcome__drill-img" src="./assets/images/welcome-disks.png" alt="ТВЕРДОСПЛАВНЫЕ ДИСКИ ОТ ПРОИЗВОДИТЕЛЯ" decoding="async" />
        </picture>

        <div class="welcome__features">
          <div class="welcome__feature">
            <span class="icon icon-icon-shield welcome__feature-icon"></span>
            <div class="welcome__feature-content">
              <p class="welcome__feature-title">8 лет на рынке</p>
              <p class="welcome__feature-subtitle">Репутация, проверенная временем</p>
            </div>
          </div>
          <div class="welcome__feature">
            <span class="icon icon-icon-handshake-alt welcome__feature-icon"></span>
            <div class="welcome__feature-content">
              <p class="welcome__feature-title">90+ <span class="welcome__feature-title-hidden">торговых</span> партнеров</p>
              <p class="welcome__feature-subtitle">Простая покупка и удобный сервис</p>
            </div>
          </div>
        </div>

        <div class="welcome__actions">
          <div class="welcome__action welcome__action_red">
            <span class="welcome__action-text">Просмотреть продукцию</span>
            <span class="icon icon-arrow-short welcome__action-icon"></span>
            <span class="icon icon-arrow-wide welcome__action-icon_lg"></span>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container section__wrapper">
        <div class="section__content">
          <!-- ОПИСАНИЕ ПРОДУКТА СО СЛАЙДЕРОМ. Исходник в корончатых сверлах -->
          <div class="ui-product">
            <div class="ui-product__wrapper ui-product__wrapper_mt-0">
              <div class="ui-product__header">
                <p class="title1 ui-product__title1">Твердосплавные диски</p>
                <p class="show-block-1200 title2 ui-product__title2">Твердосплавные диски Rodmix</p>
              </div>

              <div class="ui-product__body">
                <picture class="ui-product__picture">
                  <!-- TODO: Заменить изображение + Закончил здесь -->
                  <source srcset="./assets/images/ui-product-characteristic-1.webp" type="image/webp" />
                  <img src="./assets/images/ui-product-characteristic-1.png" alt="" class="ui-product__img" />
                </picture>

                <div class="ui-product__content">
                  <p class="ui-product__text">Твердосплавные борфрезы по металлу – это металлорежущий сменный инструмент для работы с прямыми шлифовальными машинами (ПШМ) с электрическим или пневматическим приводом.</p>
                  <p class="ui-product__text">
                    Рабочая часть борфрез KORNOR выполнена из высококачественного твердосплава карбид-вольфрама, что обеспечивает хорошую износостойкость и высокое качество обрабатываемых деталей. Твердосплавные борфрезы по металлу – это металлорежущий сменный инструмент для работы с прямыми
                    шлифовальными машинами (ПШМ) с электрическим или пневматическим приводом.
                  </p>
                  <div class="ui-instruction ui-product__footer">
                    <a download href="#" class="ui-instruction__item">
                      <span class="ui-instruction__item-parent">Инструкция по эксплуатации</span>
                      <span class="ui-instruction__item-child">(скачать PDF)</span>
                    </a>
                    <a download href="#" class="ui-instruction__item">
                      <span class="ui-instruction__item-parent">Рекомендации по применению твердосплавных борфрез</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Наши преимущества -->
          <article class="features features_alt">
            <div class="features__wrapper">
              <div class="features__header">
                <p class="title2 features__title2">Преимущества твердосплавных дисков</p>
              </div>

              <div id="featuresSwiper" class="swiper-container features__swiper-container">
                <div class="swiper-wrapper features__swiper-wrapper">
                  <div class="swiper-slide features__item">
                    <span class="icon icon-icon-feature-help features__item-icon"></span>
                    <p class="features__item-title">Изготовлено из быстрорежущей стали HSS M2</p>
                    <p class="features__item-description">Обеспечивает широкий диапазон использования на различных материалах</p>
                  </div>

                  <div class="swiper-slide features__item">
                    <span class="icon icon-icon-feature-stock features__item-icon"></span>
                    <p class="features__item-title">Удобный трехсторонний хвостовик под кулачковый патрон</p>
                    <p class="features__item-description">Универсальный и надежный хвостовик, без проворотов</p>
                  </div>

                  <div class="swiper-slide features__item">
                    <span class="icon icon-icon-feature-delivery features__item-icon"></span>
                    <p class="features__item-title">Разнообразие диапазонов и количество ступеней</p>
                    <p class="features__item-description">Позволяет решать любые задачи в считанные минуты</p>
                  </div>

                  <div class="swiper-slide features__item">
                    <span class="icon icon-icon-feature-process features__item-icon"></span>
                    <p class="features__item-title">Полированная поверхность</p>
                    <p class="features__item-description">Позволяет значительно ускорить сверление</p>
                  </div>

                  <div class="swiper-slide features__item">
                    <span class="icon icon-icon-feature-education features__item-icon"></span>
                    <p class="features__item-title">Исполнение канавки для отвода стружки</p>
                    <p class="features__item-description">Прямая (классическое исполнение) и спиральная (бесшумная и быстрая работа)</p>
                  </div>

                  <div class="swiper-slide features__item">
                    <span class="icon icon-icon-feature-award features__item-icon"></span>
                    <p class="features__item-title">Антикризисные цены и высокое качество изделий</p>
                    <p class="features__item-description">Экономит ваш бюджет и увеличивает вашу прибыль</p>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </article>

          <div class="ui-form ui-form_hide-1200">
            <div class="ui-form__wrapper">
              <p class="ui-form__title">Запросить цены на диски Rodmix</p>

              <form data-ui-form class="ui-form__form">
                <div class="ui-form__fields">
                  <div class="ui-form__field">
                    <label data-required for="orderPriceName" class="ui-form__label">ФИО:</label>
                    <input id="orderPriceName" placeholder="Иванов Иван" type="text" class="custom-input ui-form__input" />
                  </div>

                  <div class="ui-form__field">
                    <label data-required for="orderPricePhone" class="ui-form__label">Телефон:</label>
                    <input id="orderPricePhone" placeholder="+7 999 999 99 99" type="text" class="custom-input ui-form__input" />
                  </div>

                  <div class="ui-form__field">
                    <label data-required for="orderPriceEmail" class="ui-form__label">Электронная почта:</label>
                    <input id="orderPriceEmail" placeholder="ivanov@mail.ru" type="text" class="custom-input ui-form__input" />
                  </div>

                  <div class="ui-form__field">
                    <label for="orderPriceText" class="ui-form__label">Комментарий:</label>
                    <textarea class="custom-input ui-form__input ui-form__input_textarea" placeholder="Текст" id="orderPriceText"></textarea>
                  </div>
                </div>
                <button type="button" class="btn ui-form__btn"><span class="ui-form__btn-hide-480">Заполнить форму</span> <span class="ui-form__btn-show-480">Отправить</span></button>
              </form>
            </div>
          </div>
        </div>

        <div class="section__form">
          <!-- Запросить цены форма. Иcходнык в корончатых сверлах -->
          <div class="ui-form ui-form_aside">
            <div class="ui-form__wrapper">
              <p class="ui-form__title">Запросить цены на пилу Rodmix</p>

              <form data-ui-form class="ui-form__form">
                <div class="ui-form__fields">
                  <div class="ui-form__field">
                    <label data-required for="orderPriceName" class="ui-form__label">ФИО:</label>
                    <input id="orderPriceName" placeholder="Иванов Иван" type="text" class="custom-input ui-form__input" />
                  </div>

                  <div class="ui-form__field">
                    <label data-required for="orderPricePhone" class="ui-form__label">Телефон:</label>
                    <input id="orderPricePhone" placeholder="+7 999 999 99 99" type="text" class="custom-input ui-form__input" />
                  </div>

                  <div class="ui-form__field">
                    <label data-required for="orderPriceEmail" class="ui-form__label">Электронная почта:</label>
                    <input id="orderPriceEmail" placeholder="ivanov@mail.ru" type="text" class="custom-input ui-form__input" />
                  </div>

                  <div class="ui-form__field">
                    <label for="orderPriceText" class="ui-form__label">Комментарий:</label>
                    <textarea class="custom-input ui-form__input ui-form__input_textarea" placeholder="Текст" id="orderPriceText"></textarea>
                  </div>
                </div>
                <button type="button" class="btn ui-form__btn"><span class="ui-form__btn-hide-480">Заполнить форму</span> <span class="ui-form__btn-show-480">Отправить</span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- TODO: Закончить здесь -->
    <div class="ui-disk-sizes">
      <div class="ui-disk-sizes__wrapper">
        <p class="container title2 ui-disk-sizes__title2">Выберите ваш тип твердосплавных дисков Rodmix</p>
        <div class="ui-disk-sizes__swiper-wrapper">
          <div id="disksSwiperElement" class="swiper ui-disk-sizes__swiper">
            <div class="swiper-wrapper">
              <a href="#" class="ui-our-product ui-our-product_sm swiper-slide ui-disk-sizes__slide">
                <span class="ui-our-product__title">Диски для нержавеющей стали</span>
                <span class="icon icon-arrow-short ui-our-product__icon"></span>
                <picture class="ui-our-product__picture">
                  <source srcset="./assets/images/ui-product-characteristic-1.webp" type="image/webp" />
                  <img class="ui-our-product__img" src="./assets/images/ui-product-characteristic-1.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
                </picture>
              </a>

              <a href="#" class="ui-our-product swiper-slide ui-disk-sizes__slide">
                <span class="ui-our-product__title">Тип B</span>
                <span class="icon icon-arrow-short ui-our-product__icon"></span>
                <picture class="ui-our-product__picture">
                  <source srcset="./assets/images/ui-product-characteristic-1.webp" type="image/webp" />
                  <img class="ui-our-product__img" src="./assets/images/ui-product-characteristic-1.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
                </picture>
              </a>

              <a href="#" class="ui-our-product swiper-slide ui-disk-sizes__slide">
                <span class="ui-our-product__title">Тип C</span>
                <span class="icon icon-arrow-short ui-our-product__icon"></span>
                <picture class="ui-our-product__picture">
                  <source srcset="./assets/images/ui-product-characteristic-1.webp" type="image/webp" />
                  <img class="ui-our-product__img" src="./assets/images/ui-product-characteristic-1.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
                </picture>
              </a>

              <a href="#" class="ui-our-product swiper-slide ui-disk-sizes__slide">
                <span class="ui-our-product__title">Тип D</span>
                <span class="icon icon-arrow-short ui-our-product__icon"></span>
                <picture class="ui-our-product__picture">
                  <source srcset="./assets/images/ui-product-characteristic-1.webp" type="image/webp" />
                  <img class="ui-our-product__img" src="./assets/images/ui-product-characteristic-1.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
                </picture>
              </a>

              <a href="#" class="ui-our-product swiper-slide ui-disk-sizes__slide">
                <span class="ui-our-product__title">Тип E</span>
                <span class="icon icon-arrow-short ui-our-product__icon"></span>
                <picture class="ui-our-product__picture">
                  <source srcset="./assets/images/ui-product-characteristic-1.webp" type="image/webp" />
                  <img class="ui-our-product__img" src="./assets/images/ui-product-characteristic-1.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
                </picture>
              </a>
            </div>

            <div class="swiper-pagination"></div>
          </div>

          <div class="ui-disk-sizes__navigation">
            <div class="swiper-button-prev"><span class="icon icon-arrow-left"></span></div>
            <div class="swiper-button-next"><span class="icon icon-arrow-right"></span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container section__wrapper">
        <div class="section__content">
          <!-- Если нужен заголовок -->
          <!-- <p class="product-characteristics__title"></p> -->

          <!-- 1 -->
          <div class="ui-product-characteristic">
            <div class="ui-product-characteristic__wrapper">
              <picture class="ui-product-characteristic__picture">
                <source srcset="./assets/images/ui-product-characteristic-1.webp" type="image/webp" />
                <img class="ui-product-characteristic__img" src="./assets/images/ui-product-characteristic-1.png" alt="" />
              </picture>

              <div class="ui-product-characteristic__content">
                <p class="ui-product-characteristic__title">Диск Rodmix TCT <strong>для стали</strong></p>
                <p class="ui-product-characteristic__code">Артикул: <span>11355080</span></p>
                <p class="ui-product-characteristic__description">Используется для резки стальных труб, листов и пластин</p>
                <p class="ui-product-characteristic__list-title">Характеристики</p>
                <ul class="ui-product-characteristic__list">
                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Диаметр</p>
                    <p class="ui-product-characteristic__item-value">355 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Толщина зуба сегмента</p>
                    <p class="ui-product-characteristic__item-value">2.4 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Толщина тела диска</p>
                    <p class="ui-product-characteristic__item-value">2.0 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Посадочный диаметр</p>
                    <p class="ui-product-characteristic__item-value">25.4 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Кол-во зубьев</p>
                    <p class="ui-product-characteristic__item-value">80</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Макс. об/мин</p>
                    <p class="ui-product-characteristic__item-value">1400</p>
                  </li>
                </ul>
                <button class="ui-btn ui-product-characteristic__btn">запросить цену</button>
              </div>
            </div>
          </div>

          <!-- 2 -->
          <div class="ui-product-characteristic">
            <div class="ui-product-characteristic__wrapper">
              <picture class="ui-product-characteristic__picture">
                <source srcset="./assets/images/ui-product-characteristic-2.webp" type="image/webp" />
                <img class="ui-product-characteristic__img" src="./assets/images/ui-product-characteristic-2.png" alt="" />
              </picture>

              <div class="ui-product-characteristic__content">
                <p class="ui-product-characteristic__title">Диск Rodmix TCT <strong> для высокоуглеродистой и нержавеющей стали </strong></p>
                <p class="ui-product-characteristic__code">Артикул: <span>11355080</span></p>
                <p class="ui-product-characteristic__description">Используется для резки стальной канатной проволоки, нержавеющих труб, листов и пластин</p>
                <p class="ui-product-characteristic__list-title">Характеристики</p>
                <ul class="ui-product-characteristic__list">
                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Диаметр</p>
                    <p class="ui-product-characteristic__item-value">355 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Толщина зуба сегмента</p>
                    <p class="ui-product-characteristic__item-value">2.4 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Толщина тела диска</p>
                    <p class="ui-product-characteristic__item-value">2.0 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Посадочный диаметр</p>
                    <p class="ui-product-characteristic__item-value">25.4 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Кол-во зубьев</p>
                    <p class="ui-product-characteristic__item-value">80</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Макс. об/мин</p>
                    <p class="ui-product-characteristic__item-value">1400</p>
                  </li>
                </ul>
                <button class="ui-btn ui-product-characteristic__btn">запросить цену</button>
              </div>
            </div>
          </div>

          <!-- 3 -->
          <div class="ui-product-characteristic">
            <div class="ui-product-characteristic__wrapper">
              <picture class="ui-product-characteristic__picture">
                <source srcset="./assets/images/ui-product-characteristic-3.webp" type="image/webp" />
                <img class="ui-product-characteristic__img" src="./assets/images/ui-product-characteristic-3.png" alt="" />
              </picture>

              <div class="ui-product-characteristic__content">
                <p class="ui-product-characteristic__title">Диск Rodmix TCT <strong>для сэндвич-панелей</strong></p>
                <p class="ui-product-characteristic__code">Артикул: <span>11355080</span></p>
                <p class="ui-product-characteristic__description">Используется для резки сэндвич-панелей</p>
                <p class="ui-product-characteristic__list-title">Характеристики</p>
                <ul class="ui-product-characteristic__list">
                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Диаметр</p>
                    <p class="ui-product-characteristic__item-value">355 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Толщина зуба сегмента</p>
                    <p class="ui-product-characteristic__item-value">2.4 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Толщина тела диска</p>
                    <p class="ui-product-characteristic__item-value">2.0 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Посадочный диаметр</p>
                    <p class="ui-product-characteristic__item-value">25.4 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Кол-во зубьев</p>
                    <p class="ui-product-characteristic__item-value">80</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Макс. об/мин</p>
                    <p class="ui-product-characteristic__item-value">1400</p>
                  </li>
                </ul>
                <button class="ui-btn ui-product-characteristic__btn">запросить цену</button>
              </div>
            </div>
          </div>

          <!-- 4 -->
          <div class="ui-product-characteristic">
            <div class="ui-product-characteristic__wrapper">
              <picture class="ui-product-characteristic__picture">
                <source srcset="./assets/images/ui-product-characteristic-4.webp" type="image/webp" />
                <img class="ui-product-characteristic__img" src="./assets/images/ui-product-characteristic-4.png" alt="" />
              </picture>

              <div class="ui-product-characteristic__content">
                <p class="ui-product-characteristic__title">Диск Rodmix TCT <strong>мульти-материал</strong></p>
                <p class="ui-product-characteristic__code">Артикул: <span>11355080</span></p>
                <p class="ui-product-characteristic__description">Используется для резки стали, алюминия и композитных материалов</p>
                <p class="ui-product-characteristic__list-title">Характеристики</p>
                <ul class="ui-product-characteristic__list">
                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Диаметр</p>
                    <p class="ui-product-characteristic__item-value">355 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Толщина зуба сегмента</p>
                    <p class="ui-product-characteristic__item-value">2.4 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Толщина тела диска</p>
                    <p class="ui-product-characteristic__item-value">2.0 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Посадочный диаметр</p>
                    <p class="ui-product-characteristic__item-value">25.4 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Кол-во зубьев</p>
                    <p class="ui-product-characteristic__item-value">80</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Макс. об/мин</p>
                    <p class="ui-product-characteristic__item-value">1400</p>
                  </li>
                </ul>
                <button class="ui-btn ui-product-characteristic__btn">запросить цену</button>
              </div>
            </div>
          </div>

          <p class="product-characteristics__title">Маятниковая пила</p>
          <div class="ui-product-characteristic">
            <div class="ui-product-characteristic__wrapper">
              <picture class="ui-product-characteristic__picture">
                <source srcset="./assets/images/ui-product-characteristic-5.webp" type="image/webp" />
                <img class="ui-product-characteristic__img" src="./assets/images/ui-product-characteristic-5.png" alt="" />
              </picture>

              <div class="ui-product-characteristic__content">
                <p class="ui-product-characteristic__title">Маятниковая пила <strong>RODMIX DRC355</strong></p>
                <p class="ui-product-characteristic__code">Артикул: <span>11355080</span></p>
                <p class="ui-product-characteristic__description">
                  Маятниковая пила по металлу KORNOR DRC355 предназначена для сухой резки металла (стали, высоко углеродистой стали, алюминия, нержавеющей стали). Рабочим сменным элементом служит твердосплавный диск по металлу (TCT). В комплекте с TCT диском по металлу KORNOR высокая скорость,
                  значительный ресурс, чистота и точность, а так же отсутствие нагрева и искр делает работу более эффективной, экономичной и безопасной
                </p>

                <p class="ui-product-characteristic__features-title"></p>
                <ul class="ui-product-characteristic__features">
                  <li class="ui-product-characteristic__feature">Плавный пуск</li>
                  <li class="ui-product-characteristic__feature">Поддон для опилок</li>
                  <li class="ui-product-characteristic__feature">Защитный кожух</li>
                  <li class="ui-product-characteristic__feature">Зажим для заготовки</li>
                </ul>

                <p class="ui-product-characteristic__list-title">Характеристики</p>
                <ul class="ui-product-characteristic__list">
                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Диаметр</p>
                    <p class="ui-product-characteristic__item-value">355 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Толщина зуба сегмента</p>
                    <p class="ui-product-characteristic__item-value">2.4 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Толщина тела диска</p>
                    <p class="ui-product-characteristic__item-value">2.0 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Посадочный диаметр</p>
                    <p class="ui-product-characteristic__item-value">25.4 мм</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Кол-во зубьев</p>
                    <p class="ui-product-characteristic__item-value">80</p>
                  </li>

                  <li class="ui-product-characteristic__item">
                    <p class="ui-product-characteristic__item-name">Макс. об/мин</p>
                    <p class="ui-product-characteristic__item-value">1400</p>
                  </li>
                </ul>
                <button class="ui-btn ui-product-characteristic__btn">запросить цену</button>
              </div>
            </div>
          </div>
        </div>
        <div class="section__form">
          <div class="ui-form ui-form_aside">
            <div class="ui-form__wrapper">
              <p class="ui-form__title">Запросить цены на спиральные сверла HSS</p>

              <form data-ui-form class="ui-form__form">
                <div class="ui-form__fields">
                  <div class="ui-form__field">
                    <label data-required for="orderPriceName" class="ui-form__label">ФИО:</label>
                    <input id="orderPriceName" placeholder="Иванов Иван" type="text" class="custom-input ui-form__input" />
                  </div>

                  <div class="ui-form__field">
                    <label data-required for="orderPricePhone" class="ui-form__label">Телефон:</label>
                    <input id="orderPricePhone" placeholder="+7 999 999 99 99" type="text" class="custom-input ui-form__input" />
                  </div>

                  <div class="ui-form__field">
                    <label data-required for="orderPriceEmail" class="ui-form__label">Электронная почта:</label>
                    <input id="orderPriceEmail" placeholder="ivanov@mail.ru" type="text" class="custom-input ui-form__input" />
                  </div>

                  <div class="ui-form__field">
                    <label for="orderPriceText" class="ui-form__label">Комментарий:</label>
                    <textarea class="custom-input ui-form__input ui-form__input_textarea" placeholder="Текст" id="orderPriceText"></textarea>
                  </div>
                </div>
                <button type="button" class="btn ui-form__btn"><span class="ui-form__btn-hide-480">Заполнить форму</span> <span class="ui-form__btn-show-480">Отправить</span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
      <div class="container footer__wrapper">
        <div class="footer__top">
          <a href="#" class="footer__logo" title="Родмикс"><img src="./assets/images/logo_black.svg" loading="lazy" decoding="async" alt="" class="footer__logo-img" /></a>
          <nav class="footer__nav">
            <a href="#" class="footer__nav-item">О НАС</a>
            <a href="#" class="footer__nav-item">НАША ПРОДУКЦИЯ</a>
            <a href="#" class="footer__nav-item">НАШИ ПУБЛИКАЦИИ</a>
            <a href="#" class="footer__nav-item">ГДЕ КУПИТЬ</a>
            <a href="#" class="footer__nav-item">КОНТАКТЫ</a>
          </nav>
          <a href="tel:+74994440625" class="footer__phone">+7 (499) 444-06-25</a>
        </div>
        <div class="footer__bottom">
          <div class="footer__questions">
            <p class="footer__questions-title">Остались вопросы?</p>
            <p class="footer__questions-subtitle">Оставьте заявку и наш менеджер перезвонит Вам</p>
            <button data-id="orderModal" class="btn footer__questions-btn">Оставить заявку</button>
          </div>
          <div class="footer__menus">
            <nav class="footer__menu">
              <a href="#" class="footer__menu-item">Сверла</a>
              <a href="#" class="footer__menu-item">Борфрезы</a>
              <a href="#" class="footer__menu-item">Твердосплавные диски</a>
              <a href="#" class="footer__menu-item">Адаптеры</a>
              <a href="#" class="footer__menu-item">Концферзы</a>
            </nav>
            <nav class="footer__menu">
              <a href="#" class="footer__menu-item">Метчики</a>
              <a href="#" class="footer__menu-item">Корончатые сверла</a>
              <a href="#" class="footer__menu-item">Переходники</a>
              <a href="#" class="footer__menu-item">Удлинители</a>
            </nav>
          </div>
          <div class="footer__address">
            <p class="footer__address-location">Россия, г. Калининград, ул. Ленина д.56</p>
            <a href="mailto:pochta@yandex.ru" class="footer__address-email">pochta@yandex.ru</a>
            <div class="footer__address-socials">
              <a href="#" class="footer__address-social"><span class="icon icon-icon-instagram footer__address-social-icon"></span></a>
              <a href="#" class="footer__address-social"><span class="icon icon-icon-youtube footer__address-social-icon"></span></a>
            </div>
          </div>
        </div>
        <div class="footer__rules">
          Все материалы данного сайта являются объектами авторского права (в том числе дизайн). Запрещается копирование, распространение <br />
          (в том числе путем копирования на другие сайты и ресурсы в Интернете) или любое иное использование информации <a class="footer__rules-link" href="#">Правила сайта</a> и <a class="footer__rules-link" href="#">Политика конфеденциальности</a>
        </div>
      </div>
    </footer>

    <div class="tapbar">
      <nav class="tapbar__wrapper">
        <button class="tapbar__item"><span class="icon icon-tapbar-settings tapbar__item-icon"></span> <span class="tapbar__item-text">Продукция</span></button>
        <button class="tapbar__item"><span class="icon icon-tapbar-medal tapbar__item-icon"></span> <span class="tapbar__item-text">Гарантия</span></button>
        <button data-id="callbackModal" class="tapbar__item"><span class="icon icon-tapbar-call tapbar__item-icon"></span> <span class="tapbar__item-text">Перезвонить</span></button>
        <button class="tapbar__item"><span class="icon icon-tapbar-pin tapbar__item-icon"></span> <span class="tapbar__item-text">Контакты</span></button>
      </nav>
    </div>

    <div id="callbackModal" class="modal callback-modal">
      <div class="modal-wrapper callback-modal__wrapper">
        <!-- callback -->
        <span data-id="callbackModal" class="icon icon-menu_close modal-icon-close callback-modal__close"></span>
        <p class="modal-title  callback-modal__title">Оставьте свой вопрос</p>
        <p class="modal-subtitle callback-modal__subtitle">
          И наш менеджер свяжется с Вами <br />
          для уточнения информации
        </p>
        <form id="callbackForm" class="callback-modal__form">
          <input placeholder="Имя *" type="text" class="custom-input callback-modal__input" />
          <input placeholder="Номер телефона *" type="text" class="custom-input callback-modal__input" />
          <textarea placeholder="Вопрос *" class="custom-textarea callback-modal__textarea"></textarea>
          <button type="submit" class="btn callback-modal__submit-btn">Оставить вопрос</button>
          <p class="callback-modal__rules">
            Оставляя вопрос, вы подтверждаете что ознакомлены <br />
            с <a href="#">политикой конфиденциальности</a> и согласны на обработку <br />
            персональных данных
          </p>
        </form>
        <!-- Success -->
        <div id="callbackSuccess" class="modal-wrapper callback-success-modal__wrapper">
          <span id="callbackModalClose" class="icon icon-menu_close modal-icon-close callback-success-modal__close"></span>
          <span class="icon icon-icon-success callback-success-modal__img"></span>
          <p class="modal-title callback-success-modal__title">Спасибо</p>
          <p class="modal-subtitle callback-success-modal__subtitle">
            Ваша заявка принята! <br />
            В ближайшее время с Вами свяжется наш специалист
          </p>
        </div>
      </div>
    </div>

    <!-- TODO: Продумать модалку. -->
    <!-- <div class="ui-fancybox">
      <div class="ui-fancybox__wrapper">
        <div class="ui-fancybox__items">

          <div class="ui-fancybox__item">
            <picture class="ui-fancybox__picture">
              <source srcset="./assets/images/product-sverlo.webp" type="image/webp" />
              <img src="./assets/images/product-sverlo.png" alt="" class="ui-fancybox__img" />
            </picture>
          </div>

          <div class="ui-fancybox__item">
            <picture class="ui-fancybox__picture">
              <source srcset="./assets/images/product-sverlo.webp" type="image/webp" />
              <img src="./assets/images/product-sverlo.png" alt="" class="ui-fancybox__img" />
            </picture>
          </div>

          <div class="ui-fancybox__item">
            <picture class="ui-fancybox__picture">
              <source srcset="./assets/images/product-sverlo.webp" type="image/webp" />
              <img src="./assets/images/product-sverlo.png" alt="" class="ui-fancybox__img" />
            </picture>
          </div>

        </div>
        <div class="ui-fancybox__arrows">
          <div class="ui-fancybox__arrow icon icon-simple-arrow-left ui-fancybox__arrow_left"></div>
          <div class="ui-fancybox__arrow icon icon-simple-arrow-right ui-fancybox__arrow_right"></div>
        </div>
      </div>
    </div> -->

    <script src="./assets/scripts/default.bundle.js"></script>
  </body>
</html>
