<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./assets/fonts/fonts.css" />
    <link rel="stylesheet" href="./assets/styles/main.min.css" />
  </head>
  <body>
    <!-- HEADER -->
    <header id="header" class="header">
      <!-- HEADER TOP MENU -->
      <div class="container header__top">
        <a href="#" class="header__logo"><img src="./assets/images/logo_red.svg" alt="" class="header__logo-img" /></a>
        <nav class="header__nav">
          <a href="#" class="header__nav-item">О НАС</a>
          <a href="#" class="header__nav-item">НАША ПРОДУКЦИЯ</a>
          <a href="#" class="header__nav-item">НАШИ ПУБЛИКАЦИИ</a>
          <a href="#" class="header__nav-item">ГДЕ КУПИТЬ</a>
          <a href="#" class="header__nav-item">КОНТАКТЫ</a>
        </nav>
        <a href="tel:+7 (499) 444-06-25" class="header__phone">+7 (499) 444-06-25</a>
        <button href="#" class="header__callback">ПЕРЕЗВОНИТЬ МНЕ</button>
        <button aria-label="Открыть меню" id="menuBar" class="header__bar">
          <img src="./assets/icons/menu_open.svg" alt="" class="header__bar-open" />
          <img src="./assets/icons/menu_close.svg" alt="" class="header__bar-close" />
        </button>
      </div>

      <!-- HEADER SIDEBAR -->
      <div id="sidebar" class="header__sidebar active">
        <div class="header__menu">
          <p class="header__menu-title">Меню</p>
          <nav class="header__menu-list">
            <a href="#" class="header__menu-item">О Нас</a>
            <a href="#" class="header__menu-item">Наша продукция</a>
            <a href="#" class="header__menu-item">Наши публикации</a>
            <a href="#" class="header__menu-item">Где купить</a>
            <a href="#" class="header__menu-item">Контакты</a>
          </nav>
          <p class="header__menu-title">Наша продукция</p>
          <nav class="header__menu-list header__menu-list_last">
            <a href="#" class="header__menu-item">Сверла</a>
            <a href="#" class="header__menu-item">Борфрезы</a>
            <a href="#" class="header__menu-item">Твердосплавные диски</a>
            <a href="#" class="header__menu-item">Адаптеры</a>
            <a href="#" class="header__menu-item">Концферзы</a>
            <a href="#" class="header__menu-item">Метчики</a>
          </nav>
        </div>
      </div>
    </header>

    <!-- FIRST SCREEN -->
    <div class="welcome">
      <picture class="welcome__bg-picture">
        <source srcset="./assets/images/welcome-bg-1920.webp" media="(min-width: 1920px)" type="image/webp" />
        <source srcset="./assets/images/welcome-bg-1920.jpg" media="(min-width: 1920px)" />

        <source srcset="./assets/images/welcome-bg-1000.webp" media="(min-width: 1000px)" type="image/webp" />
        <source srcset="./assets/images/welcome-bg-1000.jpg" media="(min-width: 1000px)" />

        <source srcset="./assets/images/welcome-bg-768.webp" media="(min-width: 768px)" type="image/webp" />
        <source srcset="./assets/images/welcome-bg-768.jpg" media="(min-width: 768px)" />

        <source srcset="./assets/images/welcome-bg-640.webp" media="(min-width: 640px)" type="image/webp" />
        <source srcset="./assets/images/welcome-bg-640.jpg" media="(min-width: 640px)" />

        <source srcset="./assets/images/welcome-bg-540.webp" media="(min-width: 540px)" type="image/webp" />
        <source srcset="./assets/images/welcome-bg-540.jpg" media="(min-width: 540px)" />

        <source srcset="./assets/images/welcome-bg-480.webp" media="(min-width: 480px)" type="image/webp" />
        <source srcset="./assets/images/welcome-bg-480.jpg" media="(min-width: 480px)" />

        <source srcset="./assets/images/welcome-bg-320.webp" type="image/webp" />
        <img loading="lazy" class="welcome__bg-image" src="./assets/images/welcome-bg-320.jpg" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
      </picture>

      <div class="container container_with-paddings welcome__wrapper">
        <div class="welcome__text-content">
          <h1 class="welcome__title">ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ</h1>
          <p class="welcome__subtitle">металлорежущего инструмента</p>
          <p class="welcome__description">Надежный инструмент по доступной цене</p>
        </div>
        <picture class="welcome__picture">
          <source srcset="./assets/images/welcome-drill@4x.webp" media="(min-width: 1920px)" type="image/webp" />
          <source srcset="./assets/images/welcome-drill@4x.png" media="(min-width: 1920px)" />

          <source srcset="./assets/images/welcome-drill@3x.webp" media="(min-width: 1400px)" type="image/webp" />
          <source srcset="./assets/images/welcome-drill@3x.png" media="(min-width: 1400px)" />

          <source srcset="./assets/images/welcome-drill@2x.webp" media="(min-width: 1020px)" type="image/webp" />
          <source srcset="./assets/images/welcome-drill@2x.png" media="(min-width: 1020px)" />

          <source srcset="./assets/images/welcome-drill-768.webp" media="(min-width: 768px)" type="image/webp" />
          <source srcset="./assets/images/welcome-drill-768.png" media="(min-width: 768px)" />

          <source srcset="./assets/images/welcome-drill-640.webp" media="(min-width: 640px)" type="image/webp" />
          <source srcset="./assets/images/welcome-drill-640.png" media="(min-width: 640px)" />

          <source srcset="./assets/images/welcome-drill.webp" type="image/webp" />
          <img loading="lazy" class="welcome__drill-image" src="./assets/images/welcome-drill.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" type="image/png" />
        </picture>

        <div class="welcome__features">
          <div class="welcome__feature">
            <img src="./assets/icons/icon-shield.svg" alt="" class="welcome__feature-img" />
            <div class="welcome__feature-content">
              <p class="welcome__feature-title">8 лет на рынке</p>
              <p class="welcome__feature-subtitle">Репутация, проверенная временем</p>
            </div>
          </div>
          <div class="welcome__feature">
            <img src="./assets/icons/icon-handshake.svg" alt="" class="welcome__feature-img" />
            <div class="welcome__feature-content">
              <p class="welcome__feature-title">90+ <span class="welcome__feature-title-hidden">торговых</span> партнеров</p>
              <p class="welcome__feature-subtitle">Простая покупка и удобный сервис</p>
            </div>
          </div>
        </div>

        <div class="welcome__actions">
          <button class="welcome__action welcome__action_red">
            Просмотреть продукцию
            <img src="./assets/images/icon-arrow-right_white.svg" alt="Просмотреть продукцию" class="welcome__action-img" />
          </button>
          <button class="welcome__action welcome__action_grey">
            <span class="welcome__action-hidden">Узнайте как</span> Стать нашим партнером
            <img src="./assets/images/icon-arrow-right_black.svg" alt="Узнайте как стать нашим партнером" class="welcome__action-img" />
          </button>
        </div>
      </div>
    </div>

    <div class="our-production">
      <div class="container container_with-paddings our-production__wrapper">
        <div class="title-with-subtitle our-production__title-with-subtitle">
          <p class="our-production__subtitle subtitle">Надежность проверенная делом</p>
          <p class="our-production__title title1">Наша продукция</p>
          <button class="btn-outline title-with-subtitle__btn">запросить цены</button>
        </div>

        <div class="our-production__list">

          <a href="#" class="our-production__list-item">
            <span class="our-production__list-title">Корончатые сверла</span>
            <span class="our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="our-production__list-icon-wrapper">
              <img class="our-production__list-icon" src="./assets/icons/icon-arrow-right-short_white.svg" alt="" />
            </span>

            <picture class="our-production__list-picture">
              <source srcset="./assets/images/production-list__item@4x.webp" media="(min-width: 1920px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item@4x.png" media="(min-width: 1920px)" />

              <source srcset="./assets/images/production-list__item@3x.webp" media="(min-width: 1400px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item@3x.png" media="(min-width: 1400px)" />

              <source srcset="./assets/images/production-list__item@2x.webp" media="(min-width: 1000px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item@2x.png" media="(min-width: 1000px)" />

              <source srcset="./assets/images/production-list__item.webp" type="image/webp" />
              <img loading="lazy" class="our-production__list-image" src="./assets/images/production-list__item.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" type="image/png" />
            </picture>
          </a>

          <a href="#" class="our-production__list-item">
            <span class="our-production__list-title">Борфрезы</span>
            <span class="our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="our-production__list-icon-wrapper">
              <img class="our-production__list-icon" src="./assets/icons/icon-arrow-right-short_white.svg" alt="" />
            </span>

            <picture class="our-production__list-picture">
              <source srcset="./assets/images/production-list__item2@4x.webp" media="(min-width: 1920px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item2@4x.png" media="(min-width: 1920px)" />

              <source srcset="./assets/images/production-list__item2@3x.webp" media="(min-width: 1400px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item2@3x.png" media="(min-width: 1400px)" />

              <source srcset="./assets/images/production-list__item2@2x.webp" media="(min-width: 1000px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item2@2x.png" media="(min-width: 1000px)" />

              <source srcset="./assets/images/production-list__item2.webp" type="image/webp" />
              <img loading="lazy" class="our-production__list-image" src="./assets/images/production-list__item2.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" type="image/png" />
            </picture>
          </a>

          <a href="#" class="our-production__list-item">
            <span class="our-production__list-title">Твердосплавные диски</span>
            <span class="our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="our-production__list-icon-wrapper">
              <img class="our-production__list-icon" src="./assets/icons/icon-arrow-right-short_white.svg" alt="" />
            </span>

            <picture class="our-production__list-picture">
              <source srcset="./assets/images/production-list__item3@4x.webp" media="(min-width: 1920px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item3@4x.png" media="(min-width: 1920px)" />

              <source srcset="./assets/images/production-list__item3@3x.webp" media="(min-width: 1400px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item3@3x.png" media="(min-width: 1400px)" />

              <source srcset="./assets/images/production-list__item3@2x.webp" media="(min-width: 1000px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item3@2x.png" media="(min-width: 1000px)" />

              <source srcset="./assets/images/production-list__item3.webp" type="image/webp" />
              <img loading="lazy" class="our-production__list-image" src="./assets/images/production-list__item3.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" type="image/png" />
            </picture>
          </a>

          <a href="#" class="our-production__list-item">
            <span class="our-production__list-title">Адаптеры</span>

            <span class="our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="our-production__list-icon-wrapper">
              <img class="our-production__list-icon" src="./assets/icons/icon-arrow-right-short_white.svg" alt="" />
            </span>

            <picture class="our-production__list-picture">
              <source srcset="./assets/images/production-list__item4@4x.webp" media="(min-width: 1920px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item4@4x.png" media="(min-width: 1920px)" />

              <source srcset="./assets/images/production-list__item4@3x.webp" media="(min-width: 1400px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item4@3x.png" media="(min-width: 1400px)" />

              <source srcset="./assets/images/production-list__item4@2x.webp" media="(min-width: 1000px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item4@2x.png" media="(min-width: 1000px)" />

              <source srcset="./assets/images/production-list__item4.webp" type="image/webp" />
              <img loading="lazy" class="our-production__list-image" src="./assets/images/production-list__item4.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" type="image/png" />
            </picture>
          </a>

          <a href="#" class="our-production__list-item">
            <span class="our-production__list-title">Концферзы</span>

            <span class="our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="our-production__list-icon-wrapper">
              <img class="our-production__list-icon" src="./assets/icons/icon-arrow-right-short_white.svg" alt="" />
            </span>

            <picture class="our-production__list-picture">
              <source srcset="./assets/images/production-list__item5@4x.webp" media="(min-width: 1920px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item5@4x.png" media="(min-width: 1920px)" />

              <source srcset="./assets/images/production-list__item5@3x.webp" media="(min-width: 1400px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item5@3x.png" media="(min-width: 1400px)" />

              <source srcset="./assets/images/production-list__item5@2x.webp" media="(min-width: 1000px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item5@2x.png" media="(min-width: 1000px)" />

              <source srcset="./assets/images/production-list__item5.webp" type="image/webp" />
              <img loading="lazy" class="our-production__list-image" src="./assets/images/production-list__item5.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" type="image/png" />
            </picture>
          </a>

          <a href="#" class="our-production__list-item">
            <span class="our-production__list-title">Метчики</span>

            <span class="our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="our-production__list-icon-wrapper">
              <img class="our-production__list-icon" src="./assets/icons/icon-arrow-right-short_white.svg" alt="" />
            </span>

            <picture class="our-production__list-picture">
              <source srcset="./assets/images/production-list__item6@4x.webp" media="(min-width: 1920px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item6@4x.png" media="(min-width: 1920px)" />

              <source srcset="./assets/images/production-list__item6@3x.webp" media="(min-width: 1400px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item6@3x.png" media="(min-width: 1400px)" />

              <source srcset="./assets/images/production-list__item6@2x.webp" media="(min-width: 1000px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item6@2x.png" media="(min-width: 1000px)" />

              <source srcset="./assets/images/production-list__item6.webp" type="image/webp" />
              <img loading="lazy" class="our-production__list-image" src="./assets/images/production-list__item6.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" type="image/png" />
            </picture>
          </a>

          <a href="#" class="our-production__list-item">
            <span class="our-production__list-title">Ступенчатые сверла</span>
            <span class="our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="our-production__list-icon-wrapper">
              <img class="our-production__list-icon" src="./assets/icons/icon-arrow-right-short_white.svg" alt="" />
            </span>

            <picture class="our-production__list-picture">
              <source srcset="./assets/images/production-list__item7@4x.webp" media="(min-width: 1920px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item7@4x.png" media="(min-width: 1920px)" />

              <source srcset="./assets/images/production-list__item7@3x.webp" media="(min-width: 1400px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item7@3x.png" media="(min-width: 1400px)" />

              <source srcset="./assets/images/production-list__item7@2x.webp" media="(min-width: 1000px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item7@2x.png" media="(min-width: 1000px)" />

              <source srcset="./assets/images/production-list__item7.webp" type="image/webp" />
              <img loading="lazy" class="our-production__list-image" src="./assets/images/production-list__item7.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" type="image/png" />
            </picture>
          </a>

          <a href="#" class="our-production__list-item">
            <span class="our-production__list-title">Магнитные станки</span>
            <span class="our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="our-production__list-icon-wrapper">
              <img class="our-production__list-icon" src="./assets/icons/icon-arrow-right-short_white.svg" alt="" />
            </span>
          </a>

          <a href="#" class="our-production__list-item">
            <span class="our-production__list-title">Зенкер</span>

            <span class="our-production__list-description">Небольшое описание товара или его характеристика</span>
            <span class="our-production__list-icon-wrapper">
              <img class="our-production__list-icon" src="./assets/icons/icon-arrow-right-short_white.svg" alt="" />
            </span>

            <picture class="our-production__list-picture">
              <source srcset="./assets/images/production-list__item9@4x.webp" media="(min-width: 1920px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item9@4x.png" media="(min-width: 1920px)" />

              <source srcset="./assets/images/production-list__item9@3x.webp" media="(min-width: 1400px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item9@3x.png" media="(min-width: 1400px)" />

              <source srcset="./assets/images/production-list__item9@2x.webp" media="(min-width: 1000px)" type="image/webp" />
              <source srcset="./assets/images/production-list__item9@2x.png" media="(min-width: 1000px)" />

              <source srcset="./assets/images/production-list__item9.webp" type="image/webp" />
              <img loading="lazy" class="our-production__list-image" src="./assets/images/production-list__item9.png" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" type="image/png" />
            </picture>
          </a>

          <a href="#" class="btn-outline our-production__list-btn">запросить цены </a>
        </div>
      </div>
    </div>

    <!-- О производителе -->
    <div class="producer">
      <div class="container container_with-paddings producer__wrapper">
        <div class="title-with-subtitle producer__title-with-subtitle">
          <p class="subtitle">Как мы занимаемся разработкой</p>
          <p class="title1">О производителе</p>
        </div>

        <div class="producer__body">
          <!-- TODO: проверить картинки на различных экранах и заменить -->
          <div class="producer__author">
            <picture class="producer__picture">
              <source srcset="./assets/images/producer@4x.webp" media="(min-width: 1920px)" type="image/webp" />
              <source srcset="./assets/images/producer@4x.jpg" media="(min-width: 1920px)" />

              <source srcset="./assets/images/producer@3x.webp" media="(min-width: 1400px)" type="image/webp" />
              <source srcset="./assets/images/producer@3x.jpg" media="(min-width: 1400px)" />

              <source srcset="./assets/images/producer@2x.webp" media="(min-width: 1000px)" type="image/webp" />
              <source srcset="./assets/images/producer@2x.jpg" media="(min-width: 1000px)" />

              <source srcset="./assets/images/producer.webp" type="image/webp" />
              <img loading="lazy" class="producer__image" src="./assets/images/producer.jpg" alt="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
            </picture>

            <div class="producer__btn-with-name">
              <button class="btn btn_arrow producer__btn">Написать директору <img src="./assets/icons/icon-arrow-right-short_white.svg" alt="Написать директору" class="btn__arrow-icon" /></button>
              <div class="producer__name-with-role">
                <p class="producer__name">Мулеев А.В</p>
                <p class="producer__role">Генеральный Директор ООО «РОДМИКС»</p>
              </div>
            </div>
          </div>

          <div class="producer__content">
            <p class="producer__text">
              Инструмент под брендом <strong>RODMIX</strong> объединяет отличное качество и доступность. Ежедневно мы работаем как над качеством нашей продукции, так и над качеством обслуживания. Мы идем в ногу со временем, прислушиваемся к потребителям и постоянно расширяем ассортимент новыми
              позициями.
            </p>
            <p class="producer__text">
              Мы работаем по всей РФ и Таможенному союзу. Организовали гибкую систему доставки и оплаты. Вы в любой момент сможете найти представителей <strong>торговой марки RODMIX</strong> в вашем регионе. А наши менеджеры без проблем проконсультируют по любым вопросам и помогут c выбором.
            </p>

            <div class="producer__certifications">
              <div class="producer__certification">
                <img src="./assets/icons/icon-pdf.svg" alt="" class="producer__certification-img" />
                <div class="producer__certification-content">
                  <p class="producer__certification-title">Скачать каталог с товарами</p>
                  <p class="producer__certification-size">PDF (45МB)</p>
                </div>
              </div>
              <div class="producer__certification">
                <img src="./assets/icons/icon-certificate.svg" alt="" class="producer__certification-img" />
                <div class="producer__certification-content">
                  <p class="producer__certification-title">Наши Сертификаты</p>
                  <p class="producer__certification-size">PDF (120МB)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Наши преимущества -->
    <div class="features">
      <div class="container container_with-paddings features__wrapper">
        <div class="title-with-subtitle features__title-with-subtitle">
          <p class="subtitle">Почему стоит выбрать именно нас</p>
          <p class="title1">Наши преимущества</p>
        </div>

        <div id="featuresSwiper" class="swiper-container features__swiper-container">
          <div class="swiper-wrapper features__swiper-wrapper">
            <div class="swiper-slide features__item">
              <img src="./assets/images/icon-help.svg" alt="" class="features__item-icon" />
              <p class="features__item-title">Персональный менеджер и помощь в подборе продукции</p>
              <p class="features__item-description">Индивидуальный подход и забота</p>
            </div>

            <div class="swiper-slide features__item">
              <img src="./assets/images/icon-stock.svg" alt="" class="features__item-icon" />
              <p class="features__item-title">Вся продукция в наличии у дилеров в вашем городе</p>
              <p class="features__item-description">Вы всегда знаете куда обратиться</p>
            </div>

            <div class="swiper-slide features__item">
              <img src="./assets/images/icon-delivery.svg" alt="" class="features__item-icon" />
              <p class="features__item-title">Бесплатная доставка по РФ и Таможенному союзу</p>
              <p class="features__item-description">Отправка в день заказа в любую точку</p>
            </div>

            <div class="swiper-slide features__item">
              <img src="./assets/images/icon-process.svg" alt="" class="features__item-icon" />
              <p class="features__item-title">Любые образцы для тестирования по запросу</p>
              <p class="features__item-description">Проверьте качество и надежность лично</p>
            </div>

            <div class="swiper-slide features__item">
              <img src="./assets/images/icon-education.svg" alt="" class="features__item-icon" />
              <p class="features__item-title">Качественное Обучение работе с инструментом</p>
              <p class="features__item-description">Делимся полезной информацией и опытом</p>
            </div>

            <div class="swiper-slide features__item">
              <img src="./assets/images/icon-award.svg" alt="" class="features__item-icon" />
              <p class="features__item-title">Независимая экспертиза качества продукции</p>
              <p class="features__item-description">Надежность подтверждена экспертами</p>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>

    <!-- КОНАКТЫ -->
    <div class="contacts">
      <div class="container container_with-paddings contacts__wrapper">
        <div class="title-with-subtitle contacts__title-with-subtitle">
          <p class="subtitle">Работаем по всей стране</p>
          <p class="title1">Контакты</p>
        </div>

        <div class="contacts__top">
          <p class="contacts__top-title">Нашу продукцию вы можете приобрести у наших официальных дилеров по всей России:</p>
          <p class="contacts__top-subtitle">Вы можете уточнить адрес представителя в вашем городе по телефону: <a href="tel:+7 (499) 444-06-25">+7 (499) 444-06-25</a></p>
        </div>

        <div class="contacts__bottom">
          <div class="contacts__addresses">
            <div class="contacts__address">
              <p class="contacts__address-title">Адрес офиса:</p>
              <p class="contacts__address-street">Россия, Челябинск набережная, офисный центр “Ленина” 2 этаж, 7</p>
            </div>

            <div class="contacts__address">
              <p class="contacts__address-title">Телефоны:</p>
              <a class="contacts__address-phone">+7 (800) 654 - 00 - 88</a>
              <a class="contacts__address-phone">+7 (954) 230 - 64 - 64</a>
            </div>

            <button class="contacts__btn-form">Форма обратной связи</button>
          </div>
          <div class="contacts__map">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae0f461acabc71986d04ed37b6520fc236822805dc2f4d220ab5ce856c9d09b40&amp;source=constructor" width="100%" height="100%" loading="lazy" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
      <div class="container container_with-paddings footer__wrapper">
        <div class="footer__top">
          <a href="#" class="footer__logo"><img src="./assets/images/logo_black.svg" alt="" class="footer__logo-img" /></a>
          <nav class="footer__nav">
            <a href="#" class="footer__nav-item">О НАС</a>
            <a href="#" class="footer__nav-item">НАША ПРОДУКЦИЯ</a>
            <a href="#" class="footer__nav-item">НАШИ ПУБЛИКАЦИИ</a>
            <a href="#" class="footer__nav-item">ГДЕ КУПИТЬ</a>
            <a href="#" class="footer__nav-item">КОНТАКТЫ</a>
          </nav>
          <a href="tel:+7 (499) 444-06-25" class="footer__phone">+7 (499) 444-06-25</a>
        </div>
        <div class="footer__bottom">
          <div class="footer__questions">
            <p class="footer__questions-title">Остались вопросы?</p>
            <p class="footer__questions-subtitle">Оставьте заявку и наш менеджер перезвонит Вам</p>
            <button class="btn footer__questions-btn">Оставить заявку</button>
          </div>
          <div class="footer__menus">
            <nav class="footer__menu">
              <a href="#" class="footer__menu-item">Сверла</a>
              <a href="#" class="footer__menu-item">Борфрезы</a>
              <a href="#" class="footer__menu-item">Твердосплавные диски</a>
              <a href="#" class="footer__menu-item">Адаптеры</a>
              <a href="#" class="footer__menu-item">Концферзы</a>
            </nav>
            <nav class="footer__menu">
              <a href="#" class="footer__menu-item">Метчики</a>
              <a href="#" class="footer__menu-item">Корончатые сверла</a>
              <a href="#" class="footer__menu-item">Переходники</a>
              <a href="#" class="footer__menu-item">Удлинители</a>
            </nav>
          </div>
          <div class="footer__address">
            <p class="footer__address-location">Россия, г. Калининград, ул. Ленина д.56</p>
            <a href="mailto:pochta@yandex.ru" class="footer__address-email">pochta@yandex.ru</a>
            <div class="footer__address-socials">
              <a href="#" class="footer__address-social"><img src="./assets/icons/icon-instagram.svg" alt="" class="footer__address-social-img" /></a>
              <a href="#" class="footer__address-social"><img src="./assets/icons/icon-youtube.svg" alt="" class="footer__address-social-img" /></a>
            </div>
          </div>
        </div>
        <div class="footer__rules">
          Все материалы данного сайта являются объектами авторского права (в том числе дизайн). Запрещается копирование, распространение (в том числе путем копирования на другие сайты и ресурсы в Интернете) или любое иное использование информации
          <a class="footer__rules-link" href="#">Правила сайта</a> и <a class="footer__rules-link" href="#">Политика конфеденциальности</a>
        </div>
      </div>
    </footer>

    <div class="tapbar">
      <nav class="tapbar__wrapper">
        <a href="#" class="tapbar__item"> <img class="tapbar__item-icon" src="./assets/icons/production.svg" alt="" /> <span class="tapbar__item-text">Продукция</span> </a>
        <a href="#" class="tapbar__item"> <img class="tapbar__item-icon" src="./assets/icons/warranty.svg" alt="" /> <span class="tapbar__item-text">Гарантия</span> </a>
        <a href="#" class="tapbar__item"> <img class="tapbar__item-icon" src="./assets/icons/order.svg" alt="" /> <span class="tapbar__item-text">Заказать звонок</span> </a>
        <a href="#" class="tapbar__item"> <img class="tapbar__item-icon" src="./assets/icons/contacts.svg" alt="" /> <span class="tapbar__item-text">Контакты</span> </a>
      </nav>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="./assets/scripts/home.bundle.js"></script>
    <script src="./assets/scripts/default.bundle.js"></script>
  </body>
</html>
