<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- TODO: Убрать noindex в продакшене -->
    <meta name="robots" content="noindex" />
    <title>Корончатые сверла</title>
    <meta name="description" content="ВЕДУЩИЙ ПРОИЗВОДИТЕЛЬ металлорежущего инструмента" />
    <link rel="stylesheet" href="./assets/styles/main.min.css" />
  </head>
  <body class="body-basic">

    <div class="ui-swiper-modal">
      <div class="ui-swiper-modal__wrapper">
        <div id="swiperModal" class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="./assets/images/2000x300.png" alt="" /></div>
            <div class="swiper-slide"><img src="./assets/images/2000x2000.png" alt="" /></div>
            <div class="swiper-slide"><img src="./assets/images/300x2000.png" alt="" /></div>
          </div>
        </div>
      </div>
      <div class="ui-swiper-modal__navs">
        <div class="swiper-button-prev"><span class="icon icon-arrow-left"></span></div>
        <div class="swiper-button-next"><span class="icon icon-arrow-right"></span></div>
      </div>
    </div>

    <script src="./assets/scripts/default.bundle.js"></script>
  </body>
</html>
