body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  &.disabled {
    overflow-y: hidden;
  }
}

:target:before {
  content: '';
  display: block;
  height: 10px;
  margin: -10px 0 0;
  @media (min-width: 480px) {
  }
  @media (min-width: 540px) {
  }
  @media (min-width: 640px) {
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 1020px) {
  }
  @media (min-width: 1430px) {
  }
  @media (min-width: 1920px) {
    height: 122px;
    margin: -122px 0 0;
  }
}

body {
  position: relative;
  min-width: 320px;
  font-family: 'TT Commons', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  &::before {
    content: '';
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    width: 100%;
    height: 375px;
    object-fit: cover;
    background: linear-gradient(357.4deg, #FAFAFA 2.04%, rgba(250, 250, 250, 0) 19%), linear-gradient(90deg, #FAFAFA 3.73%, rgba(250, 250, 250, 0) 25.18%), linear-gradient(270deg, #FAFAFA 4.01%, rgba(250, 250, 250, 0) 24.24%), url('../../assets/images/welcome-bg-320.webp') no-repeat center / cover;
    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) and (stroke-color: transparent) {
        background: linear-gradient(357.4deg, #FAFAFA 2.04%, rgba(250, 250, 250, 0) 19%), linear-gradient(90deg, #FAFAFA 3.73%, rgba(250, 250, 250, 0) 25.18%), linear-gradient(270deg, #FAFAFA 4.01%, rgba(250, 250, 250, 0) 24.24%), image-set(url('../../assets/images/welcome-bg-320.png') 1x);
      }
    }
    @media (min-width: 480px) {
      background: linear-gradient(360deg, #fafafa -6.44%, rgba(250, 250, 250, 0) 23.43%), linear-gradient(357.4deg, #FAFAFA 2.04%, rgba(250, 250, 250, 0) 19%), linear-gradient(90deg, #FAFAFA 3.73%, rgba(250, 250, 250, 0) 25.18%), linear-gradient(270deg, #FAFAFA 4.01%, rgba(250, 250, 250, 0) 24.24%),
        url('../../assets/images/welcome-bg-480.webp') no-repeat center / cover;
      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color: transparent) {
          background: linear-gradient(360deg, #fafafa -6.44%, rgba(250, 250, 250, 0) 23.43%), linear-gradient(357.4deg, #FAFAFA 2.04%, rgba(250, 250, 250, 0) 19%), linear-gradient(90deg, #FAFAFA 3.73%, rgba(250, 250, 250, 0) 25.18%), linear-gradient(270deg, #FAFAFA 4.01%, rgba(250, 250, 250, 0) 24.24%), image-set(url('../../assets/images/welcome-bg-480.png') 1px);
        }
      }
      height: 490px;
    }
    @media (min-width: 540px) {
      background: linear-gradient(356.31deg, #fafafa -2.52%, rgba(250, 250, 250, 0) 28.55%), linear-gradient(357.4deg, #FAFAFA 2.04%, rgba(250, 250, 250, 0) 19%), linear-gradient(90deg, #FAFAFA 3.73%, rgba(250, 250, 250, 0) 25.18%), linear-gradient(270deg, #FAFAFA 4.01%, rgba(250, 250, 250, 0) 24.24%),
        url('../../assets/images/welcome-bg-540.webp') no-repeat center / cover;

      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color: transparent) {
          background: linear-gradient(356.31deg, #fafafa -2.52%, rgba(250, 250, 250, 0) 28.55%), linear-gradient(357.4deg, #FAFAFA 2.04%, rgba(250, 250, 250, 0) 19%), linear-gradient(90deg, #FAFAFA 3.73%, rgba(250, 250, 250, 0) 25.18%), linear-gradient(270deg, #FAFAFA 4.01%, rgba(250, 250, 250, 0) 24.24%), image-set(url('../../assets/images/welcome-bg-540.png') 1x);
        }
      }
      height: 631px;
      top: -20px;
    }
    @media (min-width: 640px) {
      background: linear-gradient(359.39deg, #fafafa -2.5%, rgba(250, 250, 250, 0) 16.09%), linear-gradient(357.4deg, #FAFAFA 2.04%, rgba(250, 250, 250, 0) 19%), linear-gradient(90deg, #FAFAFA 3.73%, rgba(250, 250, 250, 0) 25.18%), linear-gradient(270deg, #FAFAFA 4.01%, rgba(250, 250, 250, 0) 24.24%),
        url('../../assets/images/welcome-bg-640.webp') no-repeat center / cover;
      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color: transparent) {
          background: linear-gradient(359.39deg, #fafafa -2.5%, rgba(250, 250, 250, 0) 16.09%), linear-gradient(357.4deg, #FAFAFA 2.04%, rgba(250, 250, 250, 0) 19%), linear-gradient(90deg, #FAFAFA 3.73%, rgba(250, 250, 250, 0) 25.18%), linear-gradient(270deg, #FAFAFA 4.01%, rgba(250, 250, 250, 0) 24.24%), image-set(url('../../assets/images/welcome-bg-640.png') 1x);
        }
      }
      height: 703px;
    }
    @media (min-width: 768px) {
      background: linear-gradient(0deg, #fafafa -3.47%, rgba(250, 250, 250, 0) 19.95%), linear-gradient(357.4deg, #FAFAFA 2.04%, rgba(250, 250, 250, 0) 19%), linear-gradient(90deg, #FAFAFA 3.73%, rgba(250, 250, 250, 0) 25.18%), linear-gradient(270deg, #FAFAFA 4.01%, rgba(250, 250, 250, 0) 24.24%), url('../../assets/images/welcome-bg-768.webp') no-repeat center / cover;
      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color: transparent) {
          background: linear-gradient(0deg, #fafafa -3.47%, rgba(250, 250, 250, 0) 19.95%), linear-gradient(357.4deg, #FAFAFA 2.04%, rgba(250, 250, 250, 0) 19%), linear-gradient(90deg, #FAFAFA 3.73%, rgba(250, 250, 250, 0) 25.18%), linear-gradient(270deg, #FAFAFA 4.01%, rgba(250, 250, 250, 0) 24.24%), image-set(url('../../assets/images/welcome-bg-768.png') 1x);
        }
      }
      height: 767px;
      top: 0;
    }
    @media (min-width: 1020px) {
      background: linear-gradient(0deg, #fafafa -3.47%, rgba(250, 250, 250, 0) 19.95%), linear-gradient(90deg, #fafafa 3.73%, rgba(250, 250, 250, 0) 25.18%), linear-gradient(360deg, #ffffff 4.01%, rgba(250, 250, 250, 0) 24.24%),
        url('../../assets/images/welcome-bg-1000.webp') no-repeat center / cover;

      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color: transparent) {
          background: linear-gradient(0deg, #fafafa -3.47%, rgba(250, 250, 250, 0) 19.95%), linear-gradient(90deg, #fafafa 3.73%, rgba(250, 250, 250, 0) 25.18%), linear-gradient(360deg, #ffffff 4.01%, rgba(250, 250, 250, 0) 24.24%), image-set(url('../../assets/images/welcome-bg-1000.png') 1x);
        }
      }
    }
    @media (min-width: 1430px) {
      background: linear-gradient(357.4deg, #FAFAFA 2.04%, rgba(250, 250, 250, 0) 19%), linear-gradient(90deg, #FAFAFA 3.73%, rgba(250, 250, 250, 0) 25.18%), linear-gradient(270deg, #FAFAFA 4.01%, rgba(250, 250, 250, 0) 24.24%), url('../../assets/images/welcome-bg-1920.webp') no-repeat center / cover;
      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color: transparent) {
          background: linear-gradient(357.4deg, #FAFAFA 2.04%, rgba(250, 250, 250, 0) 19%), linear-gradient(90deg, #FAFAFA 3.73%, rgba(250, 250, 250, 0) 25.18%), linear-gradient(270deg, #FAFAFA 4.01%, rgba(250, 250, 250, 0) 24.24%), image-set(url('../../assets/images/welcome-bg-1920.png') 1x);
        }
      }
      height: 900px;
    }
  }
  @media (min-width: 1920px) {
    padding-top: 112px;
  }
}

// Затемненный фон для модалки ютуба
.overlay-youtube {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;

  z-index: -1;
  opacity: 0;
  visibility: hidden;
  
  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
  }
}

.ui-strong {
  font-weight: 600;
}

a {
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}

button,
input,
input::placeholder,
textarea,
textarea::placeholder {
  font-family: 'TT Commons', sans-serif;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: $red;
  transition: border-color 0.3s ease;
}

.btn {
  @include reset-btn();
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 45px;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 50px;

  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;

  color: #ffffff;
  background: $red;

  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
  &:hover {
    background-color: $redHover;
  }
  :disabled {
    background-color: $grey;
  }
  @media (min-width: 640px) {
    height: 50px;
  }
  &_arrow {
    justify-content: space-between;
    min-width: 290px;
    padding-left: 25px;
    padding-right: 25px;
    @media (min-width: 1920px) {
      height: 60px;
      font-size: 24px;
    }
  }
  &_arrow-producer {
    justify-content: space-between;
    min-width: 290px;
    padding-left: 25px;
    padding-right: 25px;
    @media (min-width: 1920px) {
      height: 80px;
      font-size: 24px;
    }
  }
  &__arrow-icon {
    width: 13px;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-outline {
  @include reset-link;
  @include reset-btn;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 35px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: $red;
  border: 1px solid $red;
  border-radius: 5px;
  transition: all 0.3s ease;
  &:hover {
    background-color: $redHover;
    border-color: $redHover;
    color: #fff;
  }
  @media (min-width: 480px) {
  }
  @media (min-width: 540px) {
  }
  @media (min-width: 640px) {
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 1020px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (min-width: 1920px) {
    font-size: 14px;
    height: 50px;
  }
}

.custom-input {
  display: inline-flex;
  align-items: center;
  height: 50px;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: transparent;
  font-size: 12px;
  font-style: italic;
  border: 1px solid #dcdcdc;
  &::placeholder {
    font-style: italic;
    font-size: 12px;
    color: #c8c8c8;
    @media (min-width: 480px) {
      font-size: 16px;
    }
    @media (min-width: 640px) {
      font-size: 12px;
    }
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }
  @media (min-width: 480px) {
    font-size: 16px;
  }
  @media (min-width: 640px) {
    font-size: 12px;
  }
  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.custom-textarea {
  display: inline-flex;
  align-items: center;
  min-height: 130px;
  resize: vertical;
  width: 100%;
  max-height: 150px;
  border-radius: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: transparent;
  font-size: 12px;
  font-style: italic;
  border: 1px solid #dcdcdc;
  &::placeholder {
    font-style: italic;
    font-size: 12px;
    color: #c8c8c8;
    @media (min-width: 480px) {
      font-size: 16px;
    }
    @media (min-width: 640px) {
      font-size: 12px;
    }
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }
  @media (min-width: 480px) {
    font-size: 16px;
  }
  @media (min-width: 640px) {
    font-size: 12px;
  }
  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.modal {
  padding: 15px;
  overflow-y: scroll;
  transition: all 0.3s ease;
  @media (min-width: 1430px) {
    padding: 0;
  }
}

.modal-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  padding: 30px 15px 20px 15px;
  height: 600px;
  max-width: 500px;
  width: 100%;
  align-self: stretch;
  margin: auto;

  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
  border-radius: 10px;

  &_youtube {
    align-self: center;
    background-color: transparent;

    position: relative;
    height: 0;
    width: 100%;
    max-width: unset;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 56.25%;

    border: 5px solid #fff;
    border-radius: 0;
  }

  &__close {
    position: absolute;
    top: -7px;
    right: -8px;
    z-index: 10;

    color: $red;
    font-size: 16px;
    cursor: pointer;
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
      font-size: 21px;
      right: -10px;
    }
    @media (min-width: 1020px) {
    }
  }

  @media (min-width: 480px) {
  }
  @media (min-width: 540px) {
  }
  @media (min-width: 640px) {
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 1020px) {
  }
  @media (min-width: 1430px) {
  }
}

.modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: $red;
  margin-bottom: 20px;
  text-transform: uppercase;
  @media (min-width: 480px) {
    font-size: 30px;
  }
  @media (min-width: 540px) {
  }
  @media (min-width: 640px) {
  }
  @media (min-width: 768px) {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 15px;
  }
  @media (min-width: 1020px) {
  }
  @media (min-width: 1430px) {
  }
}

.modal-subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #1d1d1b;
  margin-bottom: 20px;
  @media (min-width: 480px) {
  }
  @media (min-width: 540px) {
  }
  @media (min-width: 640px) {
  }
  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1d1d1b;
    margin-bottom: 20px;
  }
  @media (min-width: 1020px) {
  }
  @media (min-width: 1430px) {
  }
}

.modal-icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $red;
  font-size: 21px;
  cursor: pointer;
  @media (min-width: 480px) {
    top: 20px;
    right: 23px;
    font-size: 31px;
  }
  @media (min-width: 768px) {
    top: 20px;
    right: 23px;
    font-size: 31px;
  }
}

.subtitle {
  font-size: 12px;
  line-height: 14px;
  color: #9c8c8d;
  @media (min-width: 480px) {
    font-size: 14px;
    line-height: 16px;
  }
  @media (min-width: 640px) {
    margin-bottom: 6px;
  }
  @media (min-width: 1430px) {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 13px;
  }
}

.title1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  color: #454545;
  text-align: center;
  @media (min-width: 480px) {
    font-size: 36px;
    line-height: 41px;
  }
  @media (min-width: 640px) {
    text-align: left;
  }
  @media (min-width: 768px) {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 46px;
  }
  @media (min-width: 1020px) {
    font-size: 46px;
    line-height: 53px;
  }
  @media (min-width: 1430px) {
    font-size: 46px;
    line-height: 53px;
  }
  &_index {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #454545;
    @media (min-width: 480px) {
      font-size: 30px;
      line-height: 34px;
    }
    @media (min-width: 640px) {
      font-size: 36px;
      line-height: 41px;
    }
    @media (min-width: 1020px) {
      font-size: 36px;
      line-height: 41px;
    }
    @media (min-width: 1430px) {
      font-size: 46px;
      line-height: 53px;
    }
  }
}

.title2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #454545;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-align: center;
  @media (min-width: 480px) {
    font-size: 30px;
    line-height: 34px;
  }
  @media (min-width: 640px) {
    text-align: left;
  }
  @media (min-width: 768px) {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  @media (min-width: 1020px) {
    margin-top: 75px;
    font-size: 35px;
    line-height: 46px;
  }
  @media (min-width: 1140px) {
    font-size: 30px;
    line-height: 34px;
  }
  @media (min-width: 1430px) {
    font-size: 30px;
    line-height: 34px;
  }
}

.title3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  @media (min-width: 480px) {
    font-size: 30px;
    line-height: 34px;
  }
  @media (min-width: 640px) {
    margin-bottom: 50px;
    text-align: left;
  }
  @media (min-width: 1020px) {
    margin-bottom: 43px;
    font-size: 40px;
    line-height: 46px;
  }
  @media (min-width: 1430px) {
    margin-bottom: 54px;
    font-size: 30px;
    line-height: 34px;
  }
}

.title4 {
  font-size: 24px;
  line-height: 28px;
  color: #454545;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 640px) {
    padding-left: 0;
    padding-right: 0;
    width: 604px;
  }
  @media (min-width: 768px) {
    width: 735px;
  }
  @media (min-width: 1020px) {
    width: 1000px;
    margin-bottom: 100px;
  }
  @media (min-width: 1200px) {
    width: 1140px;
  }
  @media (min-width: 1430px) {
    width: 1400px;
  }
}

.title-with-subtitle {
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
  @media (min-width: 1430px) {
    margin-bottom: 30px;
  }
  &__btn {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      display: inline-flex;
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
  }
}

.ui-btn {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  background-color: $red;
  text-align: left;

  padding-top: 4px;
  padding-left: 20px;
  padding-right: 30px;
  min-width: 200px;

  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  outline: unset;
  border: unset;
  text-decoration: none;

  transition: all .3s ease;

  &:hover {
    background-color: $redHover;
  }

  @media (min-width: 480px) {
  }
  @media (min-width: 540px) {
  }
  @media (min-width: 640px) {
  }
  @media (min-width: 768px) {
    height: 50px;
    font-size: 14px;
    line-height: 16px;
    padding-left: 40px;
    padding-right: 17px;
  }
  @media (min-width: 1020px) {
    padding-left: 47px;
    padding-right: 24px;
  }
  @media (min-width: 1430px) {
    height: 60px;
    font-size: 18px;
    line-height: 21px;
    padding-left: 50px;
    padding-right: 30px;
  }

  &__arrow-short {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 480px) {
      display: none;
    }
    @media (min-width: 768px) {
      font-size: 10px;
    }
    @media (min-width: 1430px) {
      font-size: 15px;
    }
  }
  &__arrow-wide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    font-size: 10px;
    @media (min-width: 768px) {
    }
    @media (min-width: 1430px) {
      font-size: 16px;
    }
  }
}

.section {
  &__wrapper {
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: 700px 1fr;
      column-gap: 30px;
    }
    @media (min-width: 1430px) {
      justify-content: space-between;
      grid-template-columns: 810px 450px;
    }
  }
  &__content {
    @media (min-width: 1200px) {
    }
    @media (min-width: 1430px) {
      max-width: 890px;
    }
  }
  &__form {
    @media (min-width: 1200px) {
    }
    @media (min-width: 1430px) {
    }
  }
  &_alt {
    .section__wrapper {
      @media (min-width: 1020px) {
        margin-bottom: 50px;
      }
      @media (min-width: 1200px) {
        margin-bottom: 100px;
      }
    }
  }
}

.disable-mb {
  margin-bottom: 0;
}

.img-with-table {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 1020px) {
      grid-template-columns: auto 1fr;
    }
  }
  &__picture {
    display: none;
    @media (min-width: 1020px) {
      display: block;
    }
  }
  &__img {
    @media (min-width: 480px) {
      width: auto;
      height: 77px;
      margin-right: 22px;
    }
    @media (min-width: 540px) {
      height: 88px;
      margin-right: 28px;
    }
    @media (min-width: 640px) {
      height: 126px;
      margin-right: 19px;
    }
    @media (min-width: 768px) {
      height: 157px;
      margin-right: 24px;
    }
    @media (min-width: 1020px) {
      height: 165px;
      margin-right: 46px;
    }
    @media (min-width: 1430px) {
      height: 187px;
      margin-right: 40px;
    }
  }
  &__table {
  }
}

// TODO: Удалить при продакшене
.resizer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  color: #fff;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.product-characteristics {
  &__wrapper {
  }
  &__title {
    margin: 46px 0 16px 0;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    line-height: 35px;
    color: #454545;
    @media (min-width: 480px) {
      margin: 55px 0 35px 0;
      font-size: 36px;
      line-height: 41px;
    }
    @media (min-width: 540px) {
      margin: 55px 0 41px 0;
    }
    @media (min-width: 640px) {
      margin: 58px 0 36px 0;
      font-size: 40px;
      line-height: 46px;
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
      margin: 58px 0 69px 0;
      font-size: 46px;
      line-height: 53px;
    }
    @media (min-width: 1430px) {
      margin: 96px 0 69px 0;
    }
  }
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.hide-640 {
  @media (min-width: 640px) {
    display: none !important;
  }
}

.hide-768 {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.hide-1020 {
  @media (min-width: 1020px) {
    display: none !important;
  }
}

.hide-1200 {
  @media (min-width: 1200px) {
    display: none !important;
  }
}

.show-block-640 {
  display: none !important;
  @media (min-width: 640px) {
    display: block !important;
  }
}

.show-block-768 {
  display: none !important;
  @media (min-width: 768px) {
    display: block !important;
  }
}

.show-block-1020 {
  display: none !important;
  @media (min-width: 1020px) {
    display: block !important;
  }
}

.show-block-1140 {
  display: none;
  @media (min-width: 1140px) {
    display: block;
  }
}

.show-block-1200 {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
}

.show-block-1430 {
  display: none;
  @media (min-width: 1430px) {
    display: block;
  }
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bg-purple {
  background-color: #4c2991 !important;
}
.bg-orange {
  background-color: #f57814 !important;
}
.bg-orange-alt {
  background-color: #f68834 !important;
}
.bg-pink {
  background-color: #f46b72 !important;
}
.bg-yellow {
  background-color: #fbc706 !important;
}
