body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html {
}

body {
  position: relative;
  min-width: 320px;
  font-family: 'TT Commons', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  &::before {
    content: '';
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    width: 100%;
    height: 375px;
    object-fit: cover;
    background: #fff url('../../assets/images/welcome-bg-320.webp') no-repeat center / cover;
    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) and (stroke-color: transparent) {
        background-image: image-set(url('../../assets/images/welcome-bg-320.jpg') 1x);
      }
    }
    @media (min-width: 480px) {
      background-image: url('../../assets/images/welcome-bg-480.webp');
      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color: transparent) {
          background-image: image-set(url('../../assets/images/welcome-bg-480.jpg') 1x);
        }
      }
      height: 490px;
    }
    @media (min-width: 540px) {
      background-image: url('../../assets/images/welcome-bg-540.webp');
      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color: transparent) {
          background-image: image-set(url('../../assets/images/welcome-bg-540.jpg') 1x);
        }
      }
      height: 631px;
      top: -20px;
    }
    @media (min-width: 640px) {
      background-image: url('../../assets/images/welcome-bg-640.webp');
      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color: transparent) {
          background-image: image-set(url('../../assets/images/welcome-bg-640.jpg') 1x);
        }
      }
      height: 703px;
    }
    @media (min-width: 768px) {
      background-image: url('../../assets/images/welcome-bg-768.webp');
      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color: transparent) {
          background-image: image-set(url('../../assets/images/welcome-bg-768.jpg') 1x);
        }
      }
      height: 767px;
      top: 0;
    }
    @media (min-width: 1020px) {
      background-image: url('../../assets/images/welcome-bg-1000.webp');
      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color: transparent) {
          background-image: image-set(url('../../assets/images/welcome-bg-1000.jpg') 1x);
        }
      }
    }
    @media (min-width: 1430px) {
      height: 900px;
    }
  }
  @media (min-width: 1920px) {
    padding-top: 112px;
  }
}
strong {
  font-weight: 600;
}

a {
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}

button,
input,
input::placeholder,
textarea,
textarea::placeholder {
  font-family: 'TT Commons', sans-serif;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: $red;
  transition: border-color 0.3s ease;
}

.btn {
  @include reset-btn();
  display: flex;
  align-items: center;
  justify-content: center;

  height: 45px;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 50px;

  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;

  color: #ffffff;
  background: $red;

  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
  &:hover {
    background-color: $redHover;
  }
  :disabled {
    background-color: $grey;
  }
  @media (min-width: 640px) {
    height: 50px;
  }
  &_arrow {
    justify-content: space-between;
    min-width: 290px;
    padding-left: 25px;
    padding-right: 25px;
    @media (min-width: 1920px) {
      height: 60px;
      font-size: 24px;
    }
  }
  &__arrow-icon {
    width: 13px;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  color: #454545;
  @media (min-width: 480px) {
    font-size: 36px;
    line-height: 41px;
  }
  @media (min-width: 768px) {
    font-size: 40px;
    line-height: 46px;
  }
  @media (min-width: 1020px) {
    font-size: 46px;
    line-height: 53px;
  }
  &_index {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #454545;
    @media (min-width: 480px) {
      font-size: 30px;
      line-height: 34px;
    }
    @media (min-width: 640px) {
      font-size: 36px;
      line-height: 41px;
    }
    @media (min-width: 1430px) {
      font-size: 46px;
      line-height: 53px;
    }
  }
}

.btn-outline {
  @include reset-link;
  @include reset-btn;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 35px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: $red;
  border: 1px solid $red;
  border-radius: 5px;
  transition: all 0.3s ease;
  &:hover {
    background-color: $redHover;
    border-color: $redHover;
    color: #fff;
  }
  @media (min-width: 480px) {
  }
  @media (min-width: 540px) {
  }
  @media (min-width: 640px) {
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 1020px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (min-width: 1920px) {
    font-size: 14px;
    height: 50px;
  }
}

.custom-input {
  display: inline-flex;
  align-items: center;
  height: 50px;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: transparent;
  font-size: 12px;
  font-style: italic;
  border: 1px solid #dcdcdc;
  &::placeholder {
    font-style: italic;
    font-size: 12px;
    color: #c8c8c8;
    @media (min-width: 480px) {
      font-size: 16px;
    }
    @media (min-width: 640px) {
      font-size: 12px;
    }
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }
  @media (min-width: 480px) {
    font-size: 16px;
  }
  @media (min-width: 640px) {
    font-size: 12px;
  }
  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.custom-textarea {
  display: inline-flex;
  align-items: center;
  min-height: 130px;
  resize: vertical;
  width: 100%;
  max-height: 150px;
  border-radius: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: transparent;
  font-size: 12px;
  font-style: italic;
  border: 1px solid #dcdcdc;
  &::placeholder {
    font-style: italic;
    font-size: 12px;
    color: #c8c8c8;
    @media (min-width: 480px) {
      font-size: 16px;
    }
    @media (min-width: 640px) {
      font-size: 12px;
    }
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }
  @media (min-width: 480px) {
    font-size: 16px;
  }
  @media (min-width: 640px) {
    font-size: 12px;
  }
  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.modal {
  padding: 15px;
  overflow-y: scroll;
  transition: all 0.3s ease;
  @media (min-width: 1430px) {
    padding: 0;
  }
}
.modal-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  padding: 30px 15px 20px 15px;
  height: 600px;
  max-width: 500px;
  width: 100%;
  align-self: stretch;
  margin: auto;

  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);
  border-radius: 10px;

  @media (min-width: 480px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (min-width: 540px) {
  }
  @media (min-width: 640px) {
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 1020px) {
  }
  @media (min-width: 1430px) {
  }
}

.modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: $red;
  margin-bottom: 20px;
  text-transform: uppercase;
  @media (min-width: 480px) {
    font-size: 30px;
  }
  @media (min-width: 540px) {
  }
  @media (min-width: 640px) {
  }
  @media (min-width: 768px) {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 15px;
  }
  @media (min-width: 1020px) {
  }
  @media (min-width: 1430px) {
  }
}
.modal-subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #1d1d1b;
  margin-bottom: 20px;
  @media (min-width: 480px) {
  }
  @media (min-width: 540px) {
  }
  @media (min-width: 640px) {
  }
  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1d1d1b;
    margin-bottom: 20px;
  }
  @media (min-width: 1020px) {
  }
  @media (min-width: 1430px) {
  }
}

.modal-icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $red;
  font-size: 21px;
  cursor: pointer;
  @media (min-width: 480px) {
    top: 20px;
    right: 23px;
    font-size: 31px;
  }
  @media (min-width: 768px) {
    top: 20px;
    right: 23px;
    font-size: 31px;
  }
}

.subtitle {
  font-size: 12px;
  line-height: 14px;
  color: #9c8c8d;
  @media (min-width: 480px) {
    font-size: 14px;
    line-height: 16px;
  }
  @media (min-width: 640px) {
    margin-bottom: 6px;
  }
  @media (min-width: 1430px) {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 13px;
  }
}

.title2 {
  font-weight: 500;
  color: #454545;
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
}

.title3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  color: #454545;
}

.title4 {
  font-size: 24px;
  line-height: 28px;
  color: #454545;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 640px) {
    padding-left: 0;
    padding-right: 0;
    width: 604px;
  }
  @media (min-width: 768px) {
    width: 735px;
  }
  @media (min-width: 1020px) {
    width: 1000px;
    margin-bottom: 100px;
  }
  @media (min-width: 1200px) {
    width: 1140px;
  }
  @media (min-width: 1430px) {
    width: 1400px;
  }
}

.title-with-subtitle {
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
  @media (min-width: 1430px) {
    margin-bottom: 30px;
  }
  &__btn {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      display: inline-flex;
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1000px) {
    }
    @media (min-width: 1000px) {
    }
  }
}

// компонент слайдера
.ui-slider {
  @media (min-width: 480px) {
  }
  @media (min-width: 540px) {
  }
  @media (min-width: 640px) {
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 1020px) {
  }
  @media (min-width: 1430px) {
  }
  &__wrapper {
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }

  &__slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;
    background: #ffffff;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all 0.3s ease;
    @media (min-width: 480px) {
      height: 115px;
    }
    @media (min-width: 540px) {
      height: 125px;
    }
    @media (min-width: 640px) {
      height: 100px;
    }
    @media (min-width: 768px) {
      height: 120px;
    }
    @media (min-width: 1020px) {
      height: 125px;
    }
    @media (min-width: 1430px) {
      height: 120px;
    }
    &:hover {
      box-shadow: 0px 4px 7px rgba(227, 30, 37, 0.17);
      border-color: $red;
      cursor: pointer;
    }
    &::before {
      content: '\E015';
      position: absolute;
      font-family: Icons;
      font-size: 22px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      text-decoration: none;
      text-transform: none;
      color: $red;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      z-index: 10;
      @media (min-width: 480px) {
      }
      @media (min-width: 540px) {
      }
      @media (min-width: 640px) {
      }
      @media (min-width: 768px) {
      }
      @media (min-width: 1020px) {
      }
      @media (min-width: 1430px) {
      }
    }
  }

  &__slide-picture {
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: auto;
  }

  &__slide-img {
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: auto;
    opacity: 0.68;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }
}

// компонент инструкции
.ui-instruction {
  &__item {
    @include reset-link();
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: $red;
    @media (min-width: 480px) {
      font-size: 14px;
      line-height: 28px;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
      font-size: 16px;
      line-height: 32px;
    }
    @media (min-width: 1430px) {
      font-size: 14px;
      line-height: 28px;
    }
    &-parent {
      text-decoration: underline;
      @media (min-width: 480px) {
      }
      @media (min-width: 540px) {
      }
      @media (min-width: 640px) {
      }
      @media (min-width: 768px) {
      }
      @media (min-width: 1020px) {
      }
      @media (min-width: 1430px) {
      }
    }
    &-child {
      color: #c4c4c4;
      @media (min-width: 480px) {
      }
      @media (min-width: 540px) {
      }
      @media (min-width: 640px) {
      }
      @media (min-width: 768px) {
      }
      @media (min-width: 1020px) {
      }
      @media (min-width: 1430px) {
      }
    }
  }
}

// Компонент формы. Иcsходник в корончатых
.ui-form {
  &__wrapper {
    padding: 28px;
    border-radius: 5px;
    background-color: #fff;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
      padding: 35px;
    }
    @media (min-width: 1430px) {
      padding: 21px;
    }
  }

  &__title {
    margin-bottom: 29px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #454545;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
      text-align-last: left;
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
      margin-bottom: 35px;
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__form {
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }

  &__fields {
    margin-bottom: 19px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 16px;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      grid-column-gap: 10px;
    }
    @media (min-width: 768px) {
      margin-bottom: 35px;
      grid-column-gap: 15px;
      grid-row-gap: 29px;
    }
    @media (min-width: 1020px) {
      grid-column-gap: 18px;
    }
    @media (min-width: 1430px) {
      margin-bottom: 25px;
      display: block;
    }
  }

  &__field {
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
      &:not(:last-child) {
        margin-bottom: 29px;
      }
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #454545;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 21px;
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
    &[required] {
      position: relative;
      &::after {
        position: relative;
        content: '*';
        top: -1px;
        right: -5px;
        color: $red;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
    &_textarea {
      resize: none;
      overflow: hidden;
      line-height: 1;
      padding-top: 15px;
      @media (min-width: 1430px) {
        resize: vertical;
        max-height: 80px;
        min-height: 80px;
      }
    }
  }

  &__btn-submit {
    width: 66%;
    margin: 0 auto;
    font-size: 16px;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
      height: 60px;
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
      width: 100%;
      font-size: 18px;
    }
  }
}

// TODO:LAST закончить верстку таблицы
.ui-application {
  &__table {
    display: grid;
    background-color: #ffffff;
    border: 1px solid #ececec;
    border-radius: 5px;
    grid-template-columns: repeat(2, 1fr);
    @media (min-width: 480px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 640px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: 1020px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1430px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__col {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #ececec;
    font-size: 10px;

    // 320-480
    &:nth-child(2n + 1) {
      padding-left: 10px;
      @media (min-width: 480px) {
        padding-left: 0;
      }
    }
    &:nth-child(2n + 2) {
      padding-right: 10px;
      @media (min-width: 480px) {
        padding-right: 0;
      }
    }

    // 480-640
    &:nth-child(3n + 1) {
      @media (min-width: 480px) {
        padding-left: 10px;
      }
      @media (min-width: 640px) {
        padding-left: 0;
      }
    }
    &:nth-child(3n + 3) {
      @media (min-width: 480px) {
        padding-right: 10px;
      }
      @media (min-width: 640px) {
        padding-right: 0;
      }
    }

    // 640-1020
    &:nth-child(4n + 1) {
      @media (min-width: 640px) {
        padding-left: 10px;
      }
      @media (min-width: 1020px) {
        padding-left: 0;
      }
    }
    &:nth-child(4n + 4) {
      @media (min-width: 640px) {
        padding-right: 10px;
      }
      @media (min-width: 1020px) {
        padding-right: 0;
      }
    }

    // 1020-1430
    &:nth-child(3n + 1) {
      @media (min-width: 1020px) {
        padding-left: 10px;
      }
      @media (min-width: 1430px) {
        padding-left: 0;
      }
    }
    &:nth-child(3n + 3) {
      @media (min-width: 1020px) {
        padding-right: 10px;
      }
      @media (min-width: 1430px) {
        padding-right: 0;
      }
    }

    // 1430-4K
    &:nth-child(6n + 1) {
      @media (min-width: 1430px) {
        padding-left: 10px;
      }
    }
    &:nth-child(6n + 6) {
      @media (min-width: 1430px) {
        padding-right: 10px;
      }
    }
  }

  &__col-wrapper {
    display: flex;
    align-items: center;
  }

  &__star {
    position: relative;
    top: -1px;
    color: $red;
    font-size: 10px;
  }

  &__text {
    margin-left: 10px;
    @media (min-width: 480px) {
      font-size: 12px;
    }
    @media (min-width: 768px) {
      font-size: 14px;
    }
    @media (min-width: 1020px) {
      font-size: 16spx;
    }
  }

  &__arrow {
    position: relative;
    top: -1px;
    font-size: 5px;
    margin: 0 5px;
  }

  &__footer {
    display: flex;
    align-items: center;
    margin-top: 6px;
    @media (min-width: 480px) {
      margin-bottom: 18px;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      margin-bottom: 20px;
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
      margin-bottom: 15px;
    }
    @media (min-width: 1430px) {
      margin-bottom: 25px;
    }
  }

  &__footer-item {
    display: flex;
    align-items: center;
    margin-right: 16px;
    @media (min-width: 480px) {
      margin-right: 26px;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      margin-right: 26px;
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }

  &__footer-text {
    margin-left: 5px;
    font-size: 11px;
    line-height: 13px;
    color: #9c8c8d;
    @media (min-width: 480px) {
      font-size: 14px;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }
}

.ui-reviews {
  &__swiper {
    position: relative;
    @media (min-width: 1020px) {
      padding-bottom: 24px;
    }
  }

  &__img-wrapper {
    position: relative;
    text-align: center;
    margin-bottom: 67px;
    @media (min-width: 480px) {
      align-self: flex-start;
      margin-bottom: 0;
      margin-right: 21px;
    }
    @media (min-width: 540px) {
      margin-right: 41px;
    }
    @media (min-width: 640px) {
      margin-right: 52px;
    }
    @media (min-width: 768px) {
      margin-right: 53px;
    }
    @media (min-width: 1020px) {
      margin-right: 68px;
    }
    @media (min-width: 1430px) {
      margin-right: 46px;
    }
    &::before {
      content: '\E015';
      position: absolute;
      font-family: Icons;
      font-size: 22px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      text-decoration: none;
      text-transform: none;
      color: #e31e25;
      top: 50%;
      right: 50%;
      -webkit-transform: translate(50%, -50%);
      transform: translate(50%, -50%);
      z-index: 10;
    }
  }

  &__picture {
  }

  &__img {
    height: 204px;
    width: auto;
    opacity: 0.68;
    @media (min-width: 480px) {
      height: 119px;
    }
    @media (min-width: 540px) {
      height: 175px;
    }
    @media (min-width: 640px) {
      height: 212px;
    }
    @media (min-width: 768px) {
      height: 258px;
    }
    @media (min-width: 1020px) {
      height: 269px;
    }
    @media (min-width: 1430px) {
      height: 267px;
    }
  }

  &__slide-content {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      padding-top: 16px;
    }
    @media (min-width: 1020px) {
      padding-top: 35px;
    }
    @media (min-width: 1430px) {
      padding-top: 25px;
    }
  }

  &__slide-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
  }

  &__slide-subtitle {
    margin-bottom: 10px;
    @media (min-width: 480px) {
      margin-bottom: 21px;
      strong {
        font-size: 16px;
      }
    }
    @media (min-width: 640px) {
      margin-bottom: 31px;
    }
    @media (min-width: 768px) {
      font-size: 16px;
      margin-bottom: 34px;
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }

  &__slide-description {
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #454545;
    @media (min-width: 480px) {
      font-size: 14px;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 32px;
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }
  &__navigation {
    position: absolute;
    top: 228px;
    display: flex;
    @media (min-width: 480px) {
      top: 0;
      right: 0;
    }
  }
  .swiper-container {
  }
  .swiper-wrapper {
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    @media (min-width: 480px) {
      flex-direction: row;
    }
  }
  .swiper-pagination {
    display: none;
    @media (min-width: 1020px) {
      display: flex;
      justify-content: center;
      bottom: 0;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: $red;
  }
  .swiper-pagination-bullet,
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin-left: 0;
    &:not(:last-child) {
      margin-right: 4px;
    }
    @media (min-width: 480px) {
      width: 11px;
      height: 11px;
    }
  }
  .swiper-button-prev {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    outline: none;
    margin-right: 6px;
    margin-top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #e31e25;
    border-radius: 5px;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    &:hover {
      border-color: $redHover;
      background-color: $redHover;
      span {
        color: #fff;
      }
    }
    &.swiper-button-disabled {
      border-color: #e1e1e1;
      span {
        color: #cdcdcd;
      }
    }
    @media (min-width: 480px) {
      margin-right: 8px;
    }
    @media (min-width: 1020px) {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    &::after {
      display: none;
    }
    span {
      font-size: 10.5px;
      color: #e31e25;
      transition: all 0.3s ease;
      @media (min-width: 1020px) {
        font-size: 12px;
      }
    }
  }

  .swiper-button-next {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    outline: none;
    margin-top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #e31e25;
    border-radius: 5px;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    &:hover {
      border-color: $redHover;
      background-color: $redHover;
      span {
        color: #fff;
      }
    }
    &.swiper-button-disabled {
      border-color: #e1e1e1;
      span {
        color: #cdcdcd;
      }
    }
    @media (min-width: 1020px) {
      width: 30px;
      height: 30px;
    }
    &::after {
      display: none;
    }
    span {
      font-size: 10.5px;
      color: #e31e25;
      transition: all 0.3s ease;
      @media (min-width: 1020px) {
        font-size: 12px;
      }
    }
  }
}
