.blog {
  @media (min-width: 480px) {
  }
  @media (min-width: 540px) {
  }
  @media (min-width: 640px) {
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 1020px) {
  }
  @media (min-width: 1430px) {
  }
  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
      margin-right: auto;
      flex-direction: row-reverse;
    }
    @media (min-width: 1430px) {
    }
  }

  &__form {
    margin-top: 30px;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
      width: 35%;
      flex: 0 0 35%;
      margin-left: 30px;
      margin-top: 0;
    }
    @media (min-width: 1430px) {
      width: auto;
      flex: 1 1 auto;
      max-width: 400px;
      min-width: 400px;
      margin-left: 100px;
    }
  }

  &__form-wrapper {
    @media (min-width: 1020px) {
      top: 10px;
      position: sticky;
    }
    @media (min-width: 1920px) {
      top: 145px;
    }
  }

  &__content {
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
      flex: 1 1 auto;
      margin-right: auto;
    }
    @media (min-width: 1430px) {
      max-width: 800px;
      margin-right: auto;
    }
  }

  &__content-title {
    text-align: left;
  }

  &__items {
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }

  &__item {
    
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }

  &__item-img-with-content {
    display: flex;
    flex-wrap: wrap;
    color: $text-color;
    
    &:hover {
      text-decoration: none;
      text-decoration-color: $redHover;
      .blog__item-title {
        color: $redHover;
      }
    }
  }

  &__item-picture {
    width: 35%;
    flex: 0 0 35%;
    margin-right: 10px;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }

  &__item-img {
    display: block;
    max-width: 100%;
    margin-right: 10px;
    border-radius: 5px;
    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(65% - 15px);
    text-decoration: none;


    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }

  &__item-title {
    margin-bottom: 7px;
    font-weight: 500;
    color: #454545;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    text-align: left;
    transition: all 0.3s ease;
    @media (min-width: 480px) {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 26px;
    }
    @media (min-width: 540px) {
      font-size: 20px;
      line-height: 26px;
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
      font-size: 29px;
      line-height: 30px;
    }
    @media (min-width: 1140px) {
      font-size: 30px;
      line-height: 34px;
    }
    @media (min-width: 1430px) {
    }
  }

  &__item-description {
    font-size: 11px;
    line-height: 16px;

    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: $text-color;
    transition: all 0.3s ease;

    @media (min-width: 480px) {
      font-size: 14px;
      line-height: 21px;
    }
    @media (min-width: 540px) {
      font-size: 14px;
      line-height: 21px;
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
      font-size: 16px;
      line-height: 1.35;
    }
    @media (min-width: 1430px) {
    }
    @media (min-width: 1430px) {
      -webkit-line-clamp: 4;
    }
  }

  &__item-tags {
    margin-top: 10px;
    margin-bottom: -10px;
    @media (min-width: 1430px) {
      margin-top: 15px;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    margin-top: 30px;
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      border-radius: 5px;
      width: 26px;
      height: 26px;
      padding-top: 3px;
      transition: all 0.3s ease;
      font-size: 12px;
      background-color: #fff;
      text-decoration: none;
      color: $text-color;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &:hover,
      &:focus {
        color: #ff545a;
      }
      &.active {
        text-decoration: none;
        color: #fff;
        background-color: $red;
      }
      @media (min-width: 640px) {
        width: 35px;
        height: 35px;
        font-size: 14px;
      }
      @media (min-width: 768px) {
        margin-top: 50px;
      }
      &_dots {
        &:hover,
        &:focus {
          background-color: #fff;
        }
      }
    }
  }
}
