.features {
  &__wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__title-with-subtitle {
    @media (min-width: 640px) {
      margin-bottom: 50px;
      text-align: left;
    }
    @media (min-width: 1430px) {
      margin-bottom: 114px;
    }
  }

  &__header {
    text-align: center;
  }

  &__title2 {
    margin-bottom: 0;
    text-align: center;
    @media (min-width: 480px) {
      margin-bottom: 15px;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      margin-bottom: 52px;
      text-align: left;
    }
    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
    @media (min-width: 1020px) {
      margin-bottom: 47px;
    }
    @media (min-width: 1430px) {
      margin-bottom: 58px;
    }
  }

  &__swiper-container {
    @media (min-width: 640px) {
      overflow: visible;
    }
  }

  &__swiper-wrapper {
    @media (min-width: 640px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 10px;
      row-gap: 60px;
    }
    @media (min-width: 768px) {
      column-gap: 15px;
    }
    @media (min-width: 1020px) {
      column-gap: 20px;
      row-gap: 50px;
    }
    @media (min-width: 1430px) {
      column-gap: 30px;
      row-gap: 80px;
    }
  }

  &__item,
  .swiper-item {
    position: relative;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    border-top: 2px solid #e31e25;
    padding: calc(25px + 30px) 20px 30px 20px;
    margin-top: calc(25px + 20px);
    text-align: center;
    @media (min-width: 540px) {
      padding-top: 64px;
    }
    @media (min-width: 640px) {
      height: auto;
      margin-top: 0;
      padding-top: 47px;
      padding-left: 12px;
      padding-right: 12px;
    }
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      padding-left: 6px;
      padding-right: 6px;
    }
    @media (min-width: 1020px) {
      padding-top: 45px;
    }
    @media (min-width: 1430px) {
      padding-top: 64px;
    }
  }

  &__item-icon {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border: 2px solid $red;
    border-radius: 50%;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: $red;
    @media (min-width: 480px) {
      top: -36px;
      width: 72px;
      height: 72px;
      min-width: 72px;
      min-height: 72px;
      font-size: 40px;
    }
    @media (min-width: 640px) {
      top: -23px;
      width: 46px;
      height: 46px;
      min-width: 46px;
      min-height: 46px;
      font-size: 24px;
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
      top: -25px;
      width: 50px;
      height: 50px;
      min-width: 50px;
      min-height: 50px;
      font-size: 26px;
    }
    @media (min-width: 1430px) {
      top: -36px;
      width: 72px;
      height: 72px;
      min-width: 72px;
      min-height: 72px;
      font-size: 40px;
    }
  }

  &__item-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    @media (min-width: 480px) {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 26px;
    }
    @media (min-width: 540px) {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 31px;
    }
    @media (min-width: 640px) {
      margin-bottom: 25px;
      font-size: 12px;
      line-height: 16px;
    }
    @media (min-width: 768px) {
      margin-top: auto;
      font-size: 14px;
      line-height: 18px;
    }
    @media (min-width: 1020px) {
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 15px;
    }
    @media (min-width: 1430px) {
      font-size: 20px;
      line-height: 26px;
      max-width: 310px;
    }
  }

  &__item-description {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #9c8c8d;
    @media (min-width: 480px) {
      font-size: 18px;
      line-height: 21px;
    }
    @media (min-width: 540px) {
      font-size: 20px;
      line-height: 23px;
    }
    @media (min-width: 640px) {
      font-size: 11px;
      line-height: 13px;
    }
    @media (min-width: 768px) {
      font-size: 12px;
      line-height: 14px;
    }
    @media (min-width: 1020px) {
      font-size: 14px;
      line-height: 16px;
    }
    @media (min-width: 1430px) {
      font-size: 18px;
      line-height: 21px;
    }
  }

  .swiper-pagination {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
    @media (min-width: 480px) {
      margin-top: 19px;
    }
    @media (min-width: 540px) {
      margin-top: 30px;
    }
    @media (min-width: 640px) {
      display: none;
    }
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 2px;
    @media (min-width: 480px) {
      width: 11px;
      height: 11px;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }
  .swiper-pagination-bullet-active {
    background-color: $red;
  }

  &_alt {
    .features__swiper-wrapper {
      @media (min-width: 1020px) {
        position: relative;
        display: block;
        &::before {
          content: '';
          position: absolute;
          left: 32px;
          top: 30px;
          bottom: 30px;
          width: 2px;
          background-color: $red;
        }
      }
    }
    .features .swiper-item,
    .features__item {
      @media (min-width: 1020px) {
        position: relative;
        display: flex;
        background-color: transparent;
        border: 0;
        padding: 0;
        margin-bottom: 57px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @media (min-width: 1430px) {
        margin-bottom: 54px;
      }
    }
    .features__item-icon {
      font-size: 30px;
      @media (min-width: 1020px) {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 65px;
        height: 65px;
        min-width: 65px;
        min-height: 65px;
        font-size: 30px;
        background-color: #fafafa;
      }
    }
    .features__item-title {
      max-width: unset;
      @media (min-width: 768px) {
        margin-top: 0;
      }
      @media (min-width: 1020px) {
        margin: 0 auto 0 calc(65px + 32px);
        color: $red;
        text-transform: none;
        font-size: 24px;
        line-height: 36px;
        text-align: left;
      }
      @media (min-width: 1430px) {
        font-size: 20px;
        line-height: 30px;
      }
    }
    .features__item-description {
      max-width: unset;
      @media (min-width: 768px) {
        margin-top: auto;
      }
      @media (min-width: 1020px) {
        margin: 0 auto 0 calc(65px + 32px);
        color: #454545;
        font-size: 20px;
        line-height: 30px;
        text-align: left;
      }
      @media (min-width: 1430px) {
        font-size: 18px;
        line-height: 27px;
      }
    }
  }
}
