.our-production {
  overflow-x: hidden;

  &__wrapper {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }

  &__title-with-subtitle {
    @media (min-width: 480px) {
      margin-bottom: 30px;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      text-align: left;
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1020px) {
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    @media (min-width: 480px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 15px;
      row-gap: 15px;
    }
    @media (min-width: 640px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      column-gap: 15px;
      row-gap: 10px;
    }
    @media (min-width: 768px) {
      row-gap: 15px;
    }
    @media (min-width: 1020px) {
      row-gap: 20px;
    }
    @media (min-width: 1430px) {
      column-gap: 20px;
      row-gap: 20px;
    }
    &-item {
      @include reset-link;
      position: relative;
      overflow: hidden;
      text-align: left;
      border-radius: 5px;
      height: 130px;
      background-color: #efefef;
      &:hover {
        background-color: #e0e0e0;
        .our-production__list-title {
          color: $redHover;
        }
        .our-production__list-icon {
          background-color: $redHover;
        }
      }
      @media (min-width: 480px) {
        height: 105px;
      }
      @media (min-width: 540px) {
        height: 125px;
      }
      @media (min-width: 640px) {
        height: 175px;
      }
      @media (min-width: 1020px) {
        height: 150px;
      }
      @media (min-width: 1430px) {
        height: 220px;
      }
    }

    &-btn {
      @media (min-width: 480px) {
        height: auto;
      }
      @media (min-width: 640px) {
        display: none;
      }
    }

    &-title {
      position: relative;
      z-index: 10;
      display: block;
      max-width: 110px;
      margin: 28px 0 0 19px;
      font-weight: bold;
      font-size: 20px;
      line-height: 20px;
      color: #e31e25;
      transition: all 0.3s ease;
      @media (min-width: 480px) {
      }
      @media (min-width: 540px) {
      }
      @media (min-width: 640px) {
        font-size: 18px;
        line-height: 1;
      }
      @media (min-width: 768px) {
      }
      @media (min-width: 1020px) {
        font-size: 24px;
        line-height: 24px;
      }
      @media (min-width: 1430px) {
        margin-top: 40px;
        margin-left: 40px;
        font-size: 30px;
        line-height: 30px;
      }
    }

    &-description {
      display: none;
      @media (min-width: 768px) {
        display: block;
        margin: 15px 0 0 19px;
        max-width: 85px;
        font-size: 12px;
        line-height: 14px;
        font-size: 10px;
        line-height: 11px;
        color: #454545;
      }
      @media (min-width: 1020px) {
        max-width: 155px;
        font-size: 12px;
        line-height: 14px;
      }
      @media (min-width: 1430px) {
        margin-top: 20px;
        margin-left: 40px;
        max-width: 220px;
        font-size: 16px;
        line-height: 18px;
      }
    }

    &-icon {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background-color: $red;
      width: 26px;
      height: 26px;
      transition: all 0.3s ease;
      font-size: 9px;
      color: #fff;

      @media (min-width: 1430px) {
        width: 40px;
        height: 40px;
        font-size: 13px;
      }
    }

    &-picture {
    }
    &-img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 115px;
      @media (min-width: 480px) {
        width: 90px;
      }
      @media (min-width: 540px) {
        width: 110px;
      }
      @media (min-width: 640px) {
        width: 123px;
      }
      @media (min-width: 768px) {
        width: 140px;
      }
      @media (min-width: 1020px) {
        width: 145px;
      }
      @media (min-width: 1430px) {
        width: 190px;
      }
    }
  }

  &__swiper {
    overflow-x: hidden;
    margin-bottom: 10px;
    @media (min-width: 480px) {
      margin-bottom: 15px;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      margin-bottom: 21px;
    }
    @media (min-width: 768px) {
      margin-bottom: 12px;
    }
    @media (min-width: 1020px) {
      margin-bottom: 23px;
    }
    @media (min-width: 1430px) {
    }
  }

  &__swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    @media (min-width: 480px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 10px;
      column-gap: 15px;
      row-gap: 15px;
    }
    @media (min-width: 640px) {
      display: flex;
      column-gap: 0;
      column-gap: 0;
    }
  }

  &__slide {
    &:nth-child(2) ~ .our-production__slide {
      display: none;
    }
    @media (min-width: 480px) {
      &:nth-child(2) ~ .our-production__slide {
        display: block;
      }
      &:nth-child(4) ~ .our-production__slide {
        display: none;
      }
    }
    @media (min-width: 640px) {
      &:nth-child(4) ~ .our-production__slide {
        display: block;
      }
    }
  }

  &__navigation {
    position: absolute;
    top: 9px;
    right: 0;
    display: none;
    @media (min-width: 1430px) {
      display: flex;
    }
  }

  .swiper-button-prev {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    outline: none;
    margin-right: 6px;
    margin-top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #e31e25;
    border-radius: 5px;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    &:hover {
      border-color: $redHover;
      background-color: $redHover;
      span {
        color: #fff;
      }
    }
    &.swiper-button-disabled {
      border-color: #e1e1e1;
      span {
        color: #cdcdcd;
      }
    }
    @media (min-width: 1020px) {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    &::after {
      display: none;
    }
    span {
      font-size: 10.5px;
      color: #e31e25;
      transition: all 0.3s ease;
      @media (min-width: 1020px) {
        font-size: 12px;
      }
    }
  }

  .swiper-button-next {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    outline: none;
    margin-top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #e31e25;
    border-radius: 5px;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    &:hover {
      border-color: $redHover;
      background-color: $redHover;
      span {
        color: #fff;
      }
    }
    &.swiper-button-disabled {
      border-color: #e1e1e1;
      span {
        color: #cdcdcd;
      }
    }
    @media (min-width: 1020px) {
      width: 30px;
      height: 30px;
    }
    &::after {
      display: none;
    }
    span {
      font-size: 10.5px;
      color: #e31e25;
      transition: all 0.3s ease;
      @media (min-width: 1020px) {
        font-size: 12px;
      }
    }
  }

  &__actions {
    @media (min-width: 480px) {
      display: flex;
      border-radius: 5px;
      background-color: #efefef;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
    }
    @media (min-width: 1430px) {
    }
  }
  &__action {
    @include reset-btn();
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    padding: 5px 16px 0 22px;
    height: 40px;
    border-radius: 5px;

    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #454545;
    background: #efefef;
    text-transform: uppercase;

    transition: all .3s ease;
    &:hover {
      background-color: $greyHover;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
      @media (min-width: 480px) {
        margin-bottom: 0;
      }
    }

    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
    }
    @media (min-width: 768px) {
      height: 50px;
      padding-left: 40px;
      padding-right: 23px;
      font-size: 14px;
    }
    @media (min-width: 1020px) {
      height: 55px;
    }
    @media (min-width: 1430px) {
      height: 80px;
      padding-left: 50px;
      padding-right: 44px;
      font-size: 24px;
    }

    &::before {
      position: absolute;
      top: calc(50% + 1px);
      transform: translateY(-50%);
      right: 30px;

      content: '\E001';
      font-family: Icons;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      text-decoration: none;
      text-transform: none;

      @media (min-width: 480px) {
        content: '\E002';
        right: 15px;
        font-size: 10px;
      }
      @media (min-width: 540px) {
      }
      @media (min-width: 640px) {
      }
      @media (min-width: 768px) {
        right: 23px;
      }
      @media (min-width: 1020px) {
      }
      @media (min-width: 1430px) {
        right: 44px;
        font-size: 15.5px;
      }
    }

    &_red {
      background-color: $red;
      color: #fff;
      transition: all .3s ease;
      &:hover {
        background-color: $redHover;
      }
    }
  }
  &__hidden {
    display: none;
    @media (min-width: 1430px) {
      display: inline-block;
      margin-right: 5px;
    }
  }
}
