.producer {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    @media (min-width: 640px) {
      align-items: flex-start;
    }
  }

  &__title-with-subtitle {
    @media (min-width: 640px) {
      text-align: left;
    }
  }

  &__body {
    width: 100%;
    @media (min-width: 640px) {
      display: flex;
    }
  }

  &__author {
    max-width: 450px;
    margin-bottom: 20px;
    @media (min-width: 480px) {
      margin-bottom: 40px;
    }
    @media (min-width: 640px) {
      width: 39%;
      flex: 1 0 39%;
      margin-bottom: 0;
      margin-right: 10px;
    }
    @media (min-width: 768px) {
      width: 236px;
      flex: 0 0 236px;
      margin-right: 15px;
    }
    @media (min-width: 1020px) {
      width: auto;
      flex: 1 0 auto;
      max-width: 313px;
      min-width: 313px;
    }
    @media (min-width: 1430px) {
      max-width: 449px;
      min-width: 449px;
    }
  }

  &__picture {
  }

  &__image {
    display: block;
    max-width: 100%;
  }

  &__btn-with-name {
    position: relative;
    margin-top: -15px;
    @media (min-width: 480px) {
      display: flex;
    }
    @media (min-width: 640px) {
      flex-direction: column;
      margin-top: -5px;
    }
  }

  &__name-with-role {
    display: none;
    @media (min-width: 480px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__btn {
    width: 100%;
    @media (min-width: 480px) {
      height: 60px;
      margin-right: 20px;
      width: 50%;
      min-width: unset;
    }
    @media (min-width: 540px) {
      height: 60px;
      margin-right: 30px;
    }
    @media (min-width: 640px) {
      height: 45px;
      width: 100%;
      max-width: 197px;
      font-size: 12px;
      margin-right: 0;
      min-width: unset;
      padding-left: 15px;
      padding-right: 13px;
      margin-bottom: 15px;
    }
    @media (min-width: 768px) {
      height: 50px;
      padding-left: 30px;
      padding-right: 19px;
      font-size: 14px;
      max-width: none;
    }
    @media (min-width: 1020px) {
      height: 60px;
      padding-left: 30px;
      padding-right: 23px;
    }
    @media (min-width: 1430px) {
      height: 80px;
      margin-bottom: 23px;
      padding-left: 49px;
      padding-right: 48px;
    }
  }

  &__btn-icon {
    font-size: 11px;
    @media (min-width: 768px) {
      font-size: 13px;
    }

    &:first-child {
      @media (min-width: 1020px) {
        display: none;
      }
    }
    &:last-child {
      display: none;
      @media (min-width: 1020px) {
        display: flex;
        font-size: 12px;
      }
      @media (min-width: 1430px) {
        font-size: 15.5px;
      }
    }
  }

  &__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    @media (min-width: 640px) {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 16px;
    }
    @media (min-width: 768px) {
      font-size: 18px;
      line-height: 21px;
    }
    @media (min-width: 1430px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__role {
    max-width: 160px;
    font-size: 14px;
    line-height: 16px;
    @media (min-width: 640px) {
      max-width: 140px;
      font-size: 12px;
      line-height: 14px;
    }
    @media (min-width: 768px) {
      max-width: none;
      font-size: 13px;
      line-height: 15px;
    }
    @media (min-width: 1020px) {
      max-width: none;
      font-size: 14px;
      line-height: 16px;
    }
    @media (min-width: 1430px) {
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__content {
    max-width: 810px;
    @media (min-width: 640px) {
      margin-left: auto;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 26px;
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 50px;
    }
    @media (min-width: 480px) {
      font-size: 13px;
      line-height: 29px;
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 70px;
      }
    }
    @media (min-width: 540px) {
      &:last-child {
        margin-bottom: 60px;
      }
    }
    @media (min-width: 640px) {
      font-size: 14px;
      line-height: 31px;
    }
    @media (min-width: 768px) {
      margin-bottom: 45px;
    }
    @media (min-width: 1020px) {
      font-size: 16px;
      line-height: 35px;
      margin-bottom: 45px;
      &:last-child {
        margin-bottom: 65px;
      }
    }
    @media (min-width: 1430px) {
      font-size: 18px;
      line-height: 45px;
      margin-bottom: 65px;
      &:last-child {
        margin-bottom: 100px;
      }
    }
  }

  &__certifications {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    @media (min-width: 480px) {
      grid-column-gap: 15px;
    }
    @media (min-width: 640px) {
      grid-template-columns: 160px 160px;
      grid-column-gap: 10px;
    }
    @media (min-width: 768px) {
      grid-column-gap: 40px;
    }
    @media (min-width: 1020px) {
      grid-column-gap: 15px;
    }
    @media (min-width: 1430px) {
      grid-template-columns: 210px 210px;
      grid-column-gap: 30px;
      margin-top: 70px;
    }
  }

  &__certification {
    position: relative;
    text-decoration: none;
    &_certificate {
      
    }
    &:hover {
      .producer__certification-title{
        color: $redHover;
      }
    }
  }

  &__certification-img {
    position: absolute;
    width: 35px;
    left: 10px;
    bottom: calc(100% - 10px);
    @media (min-width: 480px) {
      bottom: calc(100% - 20px);
      left: 30px;
      width: 50px;
    }
    @media (min-width: 640px) {
      left: 20px;
    }
    @media (min-width: 1430px) {
      width: 70px;
      left: 30px;
    }
  }

  &__certification-content {
    min-width: 140px;
    height: 100%;
    padding: 27px 12px 9px 12px;
    background: #ffffff;
    border-radius: 5px;
    @media (min-width: 480px) {
      padding: 38px 12px 15px 35px;
    }
    @media (min-width: 640px) {
      padding-left: 20px;
    }
    @media (min-width: 1430px) {
      padding-left: 35px;
    }
  }

  &__certification-title {
    max-width: 100px;
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #454545;
    transition: all 0.3s ease;
    @media (min-width: 480px) {
      max-width: 120px;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 12px;
    }
    @media (min-width: 540px) {
      max-width: none;
      margin-bottom: 18px;
      font-size: 14px;
      line-height: 16px;
    }
    @media (min-width: 640px) {
      max-width: 120px;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 16px;
    }
    @media (min-width: 768px) {
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 16px;
    }
    @media (min-width: 1430px) {
      margin-bottom: 17px;
      font-size: 18px;
      line-height: 21px;
      max-width: 150px;
    }
  }

  &__certification-size {
    font-weight: 600;
    font-size: 10px;
    line-height: 11px;
    text-transform: uppercase;
    color: #9c8c8d;
    transition: all 0.3s ease;
    @media (min-width: 480px) {
      font-size: 12px;
      line-height: 14px;
    }
    @media (min-width: 1430px) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
