.production-list {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    @media (min-width: 480px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 15px;
      grid-row-gap: 15px;
    }
    @media (min-width: 640px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-column-gap: 15px;
      grid-row-gap: 10px;
    }
    @media (min-width: 768px) {
      grid-row-gap: 15px;
    }
    @media (min-width: 1000px) {
      grid-row-gap: 20px;
    }
    @media (min-width: 1920px) {
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }
  &__item {
    @include reset-link;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    height: 130px;
    background-color: #efefef;
    @media (min-width: 480px) {
      height: 105px;
    }
    @media (min-width: 540px) {
      height: 125px;
    }
    @media (min-width: 640px) {
      height: 175px;
    }
    @media (min-width: 1000px) {
      height: 150px;
    }
    @media (min-width: 1920px) {
      height: 220px;
    }
  }

  &__btn {
    @media (min-width: 480px) {
      height: auto;
    }
    @media (min-width: 640px) {
      display: none;
    }
  }

  &__title {
    position: relative;
    z-index: 10;
    display: block;
    max-width: 110px;
    margin: 28px 0 0 19px;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #e31e25;

    @media (min-width: 480px) {
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      font-size: 18px;
      line-height: 1;
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1000px) {
      font-size: 24px;
      line-height: 24px;
    }
    @media (min-width: 1920px) {
      margin-top: 40px;
      margin-left: 40px;
      font-size: 30px;
      line-height: 30px;
    }
  }

  &__description {
    display: none;
    @media (min-width: 768px) {
      display: block;
      margin: 15px 0 0 19px;
      max-width: 85px;
      font-size: 12px;
      line-height: 14px;
      font-size: 10px;
      line-height: 11px;
      color: #454545;
    }
    @media (min-width: 1000px) {
      max-width: 155px;
      font-size: 12px;
      line-height: 14px;
    }
    @media (min-width: 1920px) {
      margin-top: 20px;
      margin-left: 40px;
      max-width: 220px;
      font-size: 16px;
      line-height: 18px;
      
    }
  }

  &__icon-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: $red;
    width: 26px;
    height: 26px;
    @media (min-width: 1920px) {
      width: 40px;
      height: 40px;
    }
  }

  &__icon {
    width: 12px;
    @media (min-width: 1920px) {
      width: 15px;
    }
  }

  &__picture {
  }
  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    @media (min-width: 640px) {
      width: 115px;
    }
  }
}
