.tapbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 90;
  background-color: #fff;

  @media (min-width: 768px) {
    display: none;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 0 40px;
    height: 54px;
    box-shadow: 0px -1px 8px rgba(227, 30, 37, 0.17);

    @media (min-width: 480px) {
      height: 50px;
      padding: 5px 40px 0 40px;
    }

    @media (min-width: 540px) {
      height: 75px;
      padding: 0 20px;
    }

    @media (min-width: 640px) {
    }
  }

  &__item {
    @include reset-link();
    @include reset-btn();
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 540px) {
      flex-direction: row;
    }
  }
  &__item-icon {
    font-size: 20px;
    color: $red;
    @media (min-width: 540px) {
      margin-right: 10px;
      font-size: 25px;
    }
  }
  &__item-text {
    position: absolute;
    top: 25px;
    text-align: center;
    max-width: 60px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #e31e25;
    @media (min-width: 480px) {
      font-size: 14px;
      line-height: 16px;
      max-width: unset;
      white-space: nowrap;
    }
    @media (min-width: 540px) {
      top: 30px;
      position: static;
    }
    @media (min-width: 640px) {
      font-size: 16px;
    }
  }
}
