.welcome {
  position: relative;
  &::before {
    content: "";
    // ./assets/images/welcome-bg-1920.jpg
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 50px);
    object-fit: cover;
    background: url('../../assets/images/welcome-bg-320.jpg') no-repeat center / cover;
    @media (min-width: 480px) {
      background-image: url('../../assets/images/welcome-bg-480.jpg');
    }
    @media (min-width: 540px) {
      background-image: url('../../assets/images/welcome-bg-540.jpg');
      height: calc(100% + 80px);
    }
    @media (min-width: 640px) {
      background-image: url('../../assets/images/welcome-bg-640.jpg');
    }
    @media (min-width: 768px) {
      background-image: url('../../assets/images/welcome-bg-768.jpg');
      height: calc(100% + 100px);
    }
    @media (min-width: 1020px) {
      background-image: url('../../assets/images/welcome-bg-1000.jpg');
      height: calc(100% + 120px);
    }
    @media (min-width: 1920px) {
      background-image: url('../../assets/images/welcome-bg-1920.jpg');
    }
  }
  &__wrapper {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @media (min-width: 1020px) {
      margin-bottom: 50px;
    }
  }

  &__text-content {
    position: relative;
    order: 1;
    max-width: 260px;
    margin: 35px auto 0 auto;
    text-align: center;
    @media (min-width: 480px) {
      margin-top: 48px;
      max-width: none;
    }
    @media (min-width: 540px) {
      margin-top: 40px;
    }
    @media (min-width: 768px) {
      text-align: left;
      margin-top: 50px;
    }
    @media (min-width: 1020px) {
      margin-top: 55px;
      margin-left: 0;
    }
    @media (min-width: 1920px) {
      margin-top: 200px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 24px;
    line-height: 27px;
    color: #e31e25;
    @media (min-width: 480px) {
      font-size: 32px;
      line-height: 36px;
    }
    @media (min-width: 540px) {
      font-size: 38px;
      line-height: 44px;
    }
    @media (min-width: 640px) {
      white-space: nowrap;
      font-size: 44px;
      line-height: 53px;
    }
    @media (min-width: 768px) {
      font-size: 54px;
      line-height: 62px;
      margin-bottom: 10px;
    }
    @media (min-width: 1020px) {
      margin-bottom: 10px;
    }
    @media (min-width: 1920px) {
      font-size: 70px;
      line-height: 80px;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    color: #454545;
    margin-bottom: 20px;
    @media (min-width: 480px) {
      font-size: 25px;
    }
    @media (min-width: 540px) {
      font-size: 29px;
    }
    @media (min-width: 640px) {
      font-size: 34px;
    }
    @media (min-width: 768px) {
      font-size: 38px;
      margin-bottom: 50px;
    }
    @media (min-width: 1020px) {
      margin-bottom: 55px;
    }
    @media (min-width: 1920px) {
      font-size: 54px;
      line-height: 54px;
    }
  }

  &__description {
    max-width: 200px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #454545;
    @media (min-width: 480px) {
      position: absolute;
      margin-left: 0;
      text-align: left;
      max-width: 240px;
      font-size: 24px;
      line-height: 28px;
    }
    @media (min-width: 768px) {
      max-width: 300px;
      font-size: 30px;
      line-height: 34px;
    }
    @media (min-width: 1920px) {
      max-width: 370px;
      font-size: 36px;
      line-height: 41px;
    }
  }

  &__picture {
    order: 2;
  }

  &__drill-image {
    display: block;
    width: auto;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    max-width: 745px;
    @media (min-width: 480px) {
      height: 305px;
    }
    @media (min-width: 540px) {
      height: 390px;
    }
    @media (min-width: 640px) {
      margin-top: -100px;
      margin-right: 0;
      height: 523px;
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
      margin: -140px -10px 0 auto;
    }
    @media (min-width: 1920px) {
      margin: -260px 0 0 auto;
      height: 590px;
    }
  }

  &__features {
    order: 4;
    display: flex;
    @media (min-width: 640px) {
      position: absolute;
      top: 367px;
      left: 20px;
      flex-direction: column;
    }
    @media (min-width: 1020px) {
      top: 395px;
    }
    @media (min-width: 1920px) {
      flex-direction: row;
      top: 600px;
    }
  }

  &__feature {
    display: flex;
    align-items: flex-start;
    &:not(:last-child) {
      margin-right: 7px;
      @media (min-width: 640px) {
        margin-right: 0;
        margin-bottom: 30px;
      }
      @media (min-width: 1920px) {
        margin-right: 40px;
        margin-bottom: 0;
      }
    }
  }

  &__feature-img {
    margin-top: 10px;
    margin-right: 10px;
    width: 22px;
    @media (min-width: 480px) {
      margin-right: 26px;
      width: 36px;
    }
    @media (min-width: 540px) {
      margin-top: 0;
      width: 45px;
    }
    @media (min-width: 640px) {
      margin-right: 19px;
    }
  }

  &__feature-content {
  }

  &__feature-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #454545;

    @media (min-width: 480px) {
      font-size: 18px;
      line-height: 21px;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      margin-bottom: 1px;
    }
    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 4px;
    }
    @media (min-width: 1020px) {
      font-size: 24px;
      line-height: 28px;
    }
    &-hidden {
      display: none;
    }
  }

  &__feature-subtitle {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #9c8c8d;
    @media (min-width: 480px) {
      font-size: 13px;
      line-height: 15px;
    }
    @media (min-width: 540px) {
      font-size: 14px;
      line-height: 16px;
    }
    @media (min-width: 640px) {
      max-width: 190px;
    }
    @media (min-width: 768px) {
      max-width: none;
    }
    @media (min-width: 1020px) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__actions {
    order: 3;
    border-radius: 5px;
    overflow: hidden;
    @media (min-width: 480px) {
      display: flex;
      margin-bottom: 36px;
      background-color: #efefef;
    }
    @media (min-width: 640px) {
      margin-bottom: 0;
    }
  }

  &__action {
    @include reset-btn();
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3px 14px 0 14px;
    height: 37px;
    text-transform: uppercase;
    color: #fff;
    margin-top: -1px;
    margin-bottom: 26px;
    border-radius: 5px;

    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    @media (min-width: 480px) {
      height: 60px;
      margin-bottom: 0;
      font-size: 14px;
      line-height: 16px;
    }
    @media (min-width: 640px) {
      height: 70px;
      font-size: 18px;
      line-height: 21px;
    }
    @media (min-width: 1020px) {
      height: 80px;
      font-size: 20px;
      line-height: 23px;
      padding-left: 25px;
      padding-right: 25px;
    }
    @media (min-width: 1920px) {
      font-size: 24px;
      line-height: 28px;
    }
    &-hidden {
      display: none;
    }
    &_red {
      background-color: $red;
      margin-bottom: 9px;
      @media (min-width: 480px) {
        margin-bottom: 0;
      }
    }
    &_grey {
      background-color: #efefef;
      color: $text-color;
    }
  }

  &__action-img {
    width: 13px;
    @media (min-width: 1020px) {
      width: 25px;
    }
  }
}
