.welcome {
  &__wrapper {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @media (min-width: 640px) {
      padding-left: 0;
      padding-right: 0;
      min-height: 630px;
    }
    @media (min-width: 1020px) {
      margin-bottom: 75px;
    }
    @media (min-width: 1430px) {
      margin-bottom: 105px;
    }
  }

  &__text-content {
    position: relative;
    order: 1;
    max-width: 260px;
    margin: 35px auto 0 auto;
    text-align: center;
    @media (min-width: 480px) {
      margin-top: 48px;
      max-width: none;
      text-align: left;
    }
    @media (min-width: 540px) {
      margin-top: 40px;
      margin-left: 0;
    }
    @media (min-width: 640px) {
      position: relative;
      margin-top: 30px;
      z-index: 10;
      margin-bottom: 133px;
    }
    @media (min-width: 768px) {
      text-align: left;
      margin-top: 45px;
      margin-bottom: 104px;
    }
    @media (min-width: 1020px) {
      margin-top: 70px;
      margin-bottom: 85px;
      margin-left: 0;
    }
    @media (min-width: 1430px) {
      margin-top: 210px;
      margin-bottom: 146px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 24px;
    line-height: 27px;
    color: #e31e25;
    display: inline-block;

    @media (min-width: 480px) {
      font-size: 32px;
      line-height: 36px;
    }
    @media (min-width: 540px) {
      font-size: 38px;
      line-height: 44px;
    }
    @media (min-width: 640px) {
      order: 1;
      font-size: 44px;
      line-height: 53px;
    }
    @media (min-width: 768px) {
      font-size: 54px;
      line-height: 62px;
      margin-bottom: 10px;
    }
    @media (min-width: 1020px) {
      margin-bottom: 5px;
    }
    @media (min-width: 1430px) {
      font-size: 70px;
      line-height: 80px;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    color: #454545;
    margin-bottom: 20px;
    display: inline-block;
    @media (min-width: 480px) {
      font-size: 25px;
    }
    @media (min-width: 540px) {
      font-size: 29px;
    }
    @media (min-width: 640px) {
      order: 2;
      font-size: 34px;
    }
    @media (min-width: 768px) {
      font-size: 38px;
      margin-bottom: 50px;
    }
    @media (min-width: 1020px) {
      margin-bottom: 50px;
    }
    @media (min-width: 1430px) {
      margin-bottom: 30px;
      font-size: 54px;
      line-height: 54px;
    }
  }

  &__description {
    max-width: 200px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #454545;
    @media (min-width: 480px) {
      margin-left: 0;
      text-align: left;
      max-width: 240px;
      font-size: 24px;
      line-height: 28px;
    }
    @media (min-width: 640px) {
      order: 3;
    }
    @media (min-width: 768px) {
      max-width: 300px;
      font-size: 30px;
      line-height: 34px;
    }
    @media (min-width: 1430px) {
      max-width: 370px;
      font-size: 36px;
      line-height: 41px;
    }
  }

  &__picture {
    order: 2;
  }

  &__drill-img {
    display: block;
    width: auto;
    height: 183px;
    margin-left: auto;
    margin-right: auto;
    max-width: 745px;
    @media (min-width: 480px) {
      height: 305px;
    }
    @media (min-width: 540px) {
      height: 392px;
    }
    @media (min-width: 640px) {
      position: absolute;
      bottom: 69px;
      right: 0;
      height: 510px;
    }
    @media (min-width: 768px) {
      bottom: 79px;
    }
    @media (min-width: 1020px) {
      height: 527px;
    }
    @media (min-width: 1430px) {
      height: 624px;
    }
  }

  &__features {
    order: 4;
    display: flex;
    @media (min-width: 640px) {
      margin-bottom: 70px;
      order: 4;
      flex-direction: column;
    }
    @media (min-width: 1020px) {
      margin-bottom: 80px;
    }
    @media (min-width: 1430px) {
      flex-direction: row;
      top: 600px;
    }
  }

  &__feature {
    display: flex;
    align-items: flex-start;
    &:not(:last-child) {
      margin-right: 7px;
      @media (min-width: 640px) {
        margin-right: 0;
        margin-bottom: 30px;
      }
      @media (min-width: 1430px) {
        margin-right: 40px;
        margin-bottom: 0;
      }
    }
  }

  &__feature-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
    width: 22px;
    height: 22px;
    min-width: 22px;
    min-height: 22px;
    border-radius: 22px;
    font-size: 10px;
    border: 1px solid $red;
    color: $red;
    @media (min-width: 480px) {
      margin-right: 26px;
      width: 36px;
      height: 36px;
      min-width: 36px;
      min-height: 36px;
      border-radius: 36px;
      font-size: 17px;
      border-width: 2px;
    }
    @media (min-width: 540px) {
      margin-top: 0;
      margin-right: 26px;
      width: 45px;
      height: 45px;
      min-width: 45px;
      min-height: 45px;
      border-radius: 45px;
      font-size: 22px;
      border-width: 2px;
    }
    @media (min-width: 640px) {
      margin-right: 19px;
    }
  }

  &__feature-content {
  }

  &__feature-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #454545;
    &-hidden {
      display: none;
    }

    @media (min-width: 480px) {
      font-size: 18px;
      line-height: 21px;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      margin-bottom: 1px;
      &-hidden {
        display: inline-block;
      }
    }
    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 4px;
    }
    @media (min-width: 1020px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__feature-subtitle {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #9c8c8d;
    @media (min-width: 480px) {
      font-size: 13px;
      line-height: 15px;
    }
    @media (min-width: 540px) {
      font-size: 14px;
      line-height: 16px;
    }
    @media (min-width: 640px) {
      max-width: 190px;
    }
    @media (min-width: 768px) {
      max-width: none;
    }
    @media (min-width: 1020px) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__actions {
    order: 3;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 27px;
    @media (min-width: 480px) {
      display: flex;
      margin-bottom: 37px;
      background-color: #efefef;
    }
    @media (min-width: 540px) {
      margin-bottom: 35px;
    }
    @media (min-width: 640px) {
      margin-top: auto;
      order: 6;
      margin-bottom: 0;
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1430px) {
    }
  }

  &__action {
    @include reset-btn();
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3px 14px 0 14px;
    height: 37px;

    margin-top: -1px;
    margin-bottom: 26px;
    border-radius: 5px;

    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 9px;
    &:hover {
      background-color: $redHover;
    }
    @media (min-width: 480px) {
      height: 60px;
      margin-bottom: 0;
      font-size: 14px;
      line-height: 16px;
    }
    @media (min-width: 640px) {
      height: 70px;
      font-size: 18px;
      line-height: 21px;
    }
    @media (min-width: 768px) {
      height: 80px;
    }
    @media (min-width: 1020px) {
      height: 80px;
      font-size: 20px;
      line-height: 23px;
      padding-left: 25px;
      padding-right: 25px;
    }
    @media (min-width: 1430px) {
      font-size: 24px;
      line-height: 28px;
    }
    &_red {
      background-color: $red;
      color: #fff;
      @media (min-width: 480px) {
      }
      @media (min-width: 640px) {
        padding-left: 31px;
        padding-right: 27px;
        min-width: 331px;
      }
      @media (min-width: 1020px) {
        max-width: 395px;
        min-width: 395px;
        padding-left: 37px;
        padding-right: 33px;
      }
      @media (min-width: 1430px) {
        max-width: 570px;
        min-width: 570px;
        padding-left: 49px;
        padding-right: 44px;
      }
    }
    &_grey {
      background-color: #efefef;
      transition: all 0.3s ease;
      &:hover {
        background-color: $greyHover;
      }
      @media (min-width: 640px) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @media (min-width: 1020px) {
        padding-left: 36px;
        padding-right: 37px;
      }
      @media (min-width: 1430px) {
        padding-left: 62px;
        padding-right: 42px;
      }
    }
    &:last-child {
      margin-bottom: 0;
      @media (min-width: 480px) {
      }
      @media (min-width: 540px) {
      }
      @media (min-width: 640px) {
      }
      @media (min-width: 768px) {
      }
      @media (min-width: 1430px) {
      }
    }
  }

  &__action-text {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    @media (min-width: 480px) {
      font-size: 14px;
    }
    @media (min-width: 640px) {
      font-size: 18px;
    }
    @media (min-width: 768px) {
      &_mobile {
        display: none;
      }
      &_tablet {
        display: inline-block;
      }
    }
    @media (min-width: 1020px) {
      font-size: 20px;
      &_tablet {
        display: none;
      }
      &_desktop {
        display: inline-block;
      }
    }
    @media (min-width: 1430px) {
      font-size: 24px;
    }
    &_mobile {
      color: $text-color;
    }
    &_tablet {
      display: none;
      color: $text-color;
    }
    &_desktop {
      display: none;
      color: $text-color;
    }
  }

  &__action-icon {
    font-size: 11.5px;
    @media (min-width: 540px) {
      font-size: 13px;
    }
    @media (min-width: 768px) {
      display: none;
    }
    @media (min-width: 1020px) {
    }
    &_lg {
      display: none;
      @media (min-width: 768px) {
        display: flex;
        font-size: 15px;
      }
    }
  }
  &__hidden {
    display: none;
    &_sverla {
      display: none;
      @media (min-width: 1430px) {
        display: inline-block;
      }
    }
  }
  &_koronchatie {
    .welcome__wrapper {
      @media (min-width: 640px) {
        overflow: visible;
      }
    }
    .welcome__title {
      @media (min-width: 1430px) {
        max-width: 1000px;
      }
    }
    .welcome__text-content {
      max-width: unset;
      margin-bottom: 30px;
    }
    .welcome__actions {
      background-color: transparent;
    }
    .welcome__features {
      @media (min-width: 640px) {
        margin-bottom: 50px;
      }
      @media (min-width: 1430px) {
        display: grid;
        grid-template-columns: 350px 350px;
        row-gap: 40px;
      }
    }
    .welcome__feature:nth-child(2) ~ .welcome__feature {
      display: none;
      @media (min-width: 1430px) {
        display: inline-flex;
      }
    }
    .welcome__feature-title {
      @media (min-width: 1430px) {
        white-space: nowrap;
      }
    }
    .welcome__text-content {
      @media (min-width: 540px) {
        margin-bottom: 0;
      }
      @media (min-width: 640px) {
        margin-bottom: 121px;
      }
      @media (min-width: 1430px) {
        margin-top: 210px;
        margin-bottom: 115px;
      }
    }
    .welcome__drill-img {
      @media (min-width: 480px) {
        position: relative;
        margin-bottom: -70px;
        margin-right: 0;
      }
      @media (min-width: 540px) {
      }
      @media (min-width: 640px) {
        position: absolute;
        margin-bottom: 0;
        height: 461px;
        bottom: -30px;
      }
      @media (min-width: 1020px) {
        height: 579px;
        bottom: -70px;
      }
      @media (min-width: 1430px) {
        height: 689px;
        bottom: 0px;
      }
    }
    .welcome__action:last-child {
      @media (min-width: 480px) {
        width: 234px;
      }
      @media (min-width: 540px) {
        width: 263px;
      }
      @media (min-width: 640px) {
        width: 332px;
      }
    }
    .welcome__actions {
      @media (min-width: 480px) {
        position: relative;
        z-index: 10;
      }
    }
  }

  &_disks {
    .welcome__wrapper {
      @media (min-width: 640px) {
        overflow: visible;
      }
    }
    .welcome__title {
      font-size: 23px;
      margin-bottom: 6px;
      @media (min-width: 480px) {
        font-size: 32px;
        line-height: 36px;
      }
      @media (min-width: 540px) {
        font-size: 38px;
        line-height: 44px;
      }
      @media (min-width: 640px) {
        order: 1;
        font-size: 44px;
        line-height: 53px;
      }
      @media (min-width: 768px) {
        font-size: 54px;
        line-height: 62px;
        margin-bottom: 10px;
      }
      @media (min-width: 1020px) {
        margin-bottom: 5px;
      }
      @media (min-width: 1430px) {
        font-size: 70px;
        line-height: 80px;
      }
      @media (min-width: 1430px) {
        max-width: 950px;
      }
    }
    .welcome__text-content {
      max-width: unset;
      margin-bottom: 30px;
    }
    .welcome__actions {
      background-color: transparent;
    }
    .welcome__features {
      @media (min-width: 640px) {
        margin-bottom: 50px;
      }
      @media (min-width: 1430px) {
        display: grid;
        grid-template-columns: 350px 350px;
        row-gap: 40px;
      }
    }
    .welcome__feature:nth-child(2) ~ .welcome__feature {
      display: none;
      @media (min-width: 1430px) {
        display: inline-flex;
      }
    }
    .welcome__feature-title {
      @media (min-width: 1430px) {
        white-space: nowrap;
      }
    }
    .welcome__text-content {
      @media (min-width: 540px) {
        margin-bottom: 0;
      }
      @media (min-width: 640px) {
        margin-bottom: 121px;
      }
      @media (min-width: 1430px) {
        margin-top: 210px;
        margin-bottom: 115px;
      }
    }
    .welcome__drill-img {
      height: 256px;
      margin-bottom: -30px;
      @media (min-width: 480px) {
        height: 272px;
        position: relative;
        margin-bottom: -60px;
        margin-right: 0;
      }
      @media (min-width: 540px) {
      }
      @media (min-width: 640px) {
        position: absolute;
        margin-bottom: 0;
        height: 337px;
        bottom: 5px;
      }
      @media (min-width: 768px) {
        height: 403px;
      }
      @media (min-width: 1020px) {
        height: 518px;
        bottom: 0;
      }
      @media (min-width: 1430px) {
        height: 605px;
        bottom: 0px;
      }
    }
    .welcome__action:last-child {
      @media (min-width: 480px) {
        width: 234px;
      }
      @media (min-width: 540px) {
        width: 263px;
      }
      @media (min-width: 640px) {
        width: 332px;
      }
    }
    .welcome__actions {
      @media (min-width: 480px) {
        position: relative;
        z-index: 10;
      }
    }
  }
}
