.welcome {
  &__wrapper {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @media (min-width: 640px) {
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width: 1020px) {
      margin-bottom: 75px;
    }
    @media (min-width: 1430px) {
      margin-bottom: 105px;
    }
  }

  &__text-content {
    position: relative;
    order: 1;
    max-width: 260px;
    margin: 35px auto 0 auto;
    text-align: center;
    @media (min-width: 480px) {
      margin-top: 48px;
      max-width: none;
    }
    @media (min-width: 540px) {
      margin-top: 40px;
      margin-left: 0;
    }
    @media (min-width: 768px) {
      text-align: left;
      margin-top: 50px;
    }
    @media (min-width: 1020px) {
      margin-top: 70px;
      margin-left: 0;
    }
    @media (min-width: 1430px) {
      margin-top: 210px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 24px;
    line-height: 27px;
    color: #e31e25;
    @media (min-width: 480px) {
      font-size: 32px;
      line-height: 36px;
    }
    @media (min-width: 540px) {
      font-size: 38px;
      line-height: 44px;
    }
    @media (min-width: 640px) {
      white-space: nowrap;
      font-size: 44px;
      line-height: 53px;
    }
    @media (min-width: 768px) {
      font-size: 54px;
      line-height: 62px;
      margin-bottom: 10px;
    }
    @media (min-width: 1020px) {
      margin-bottom: 5px;
    }
    @media (min-width: 1430px) {
      font-size: 70px;
      line-height: 80px;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    color: #454545;
    margin-bottom: 20px;
    @media (min-width: 480px) {
      font-size: 25px;
    }
    @media (min-width: 540px) {
      font-size: 29px;
    }
    @media (min-width: 640px) {
      font-size: 34px;
    }
    @media (min-width: 768px) {
      font-size: 38px;
      margin-bottom: 50px;
    }
    @media (min-width: 1020px) {
      margin-bottom: 50px;
    }
    @media (min-width: 1430px) {
      font-size: 54px;
      line-height: 54px;
    }
  }

  &__description {
    max-width: 200px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #454545;
    @media (min-width: 480px) {
      position: absolute;
      margin-left: 0;
      text-align: left;
      max-width: 240px;
      font-size: 24px;
      line-height: 28px;
    }
    @media (min-width: 768px) {
      max-width: 300px;
      font-size: 30px;
      line-height: 34px;
    }
    @media (min-width: 1430px) {
      max-width: 370px;
      font-size: 36px;
      line-height: 41px;
    }
  }

  &__picture {
    order: 2;
  }

  &__drill-image {
    display: block;
    width: auto;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    max-width: 745px;
    @media (min-width: 480px) {
      height: 305px;
    }
    @media (min-width: 540px) {
      height: 390px;
    }
    @media (min-width: 640px) {
      margin-top: -100px;
      margin-right: 0;
      height: 523px;
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1020px) {
      margin: -140px -10px 0 auto;
    }
    @media (min-width: 1430px) {
      margin: -260px 0 0 auto;
      height: 590px;
    }
  }

  &__features {
    order: 4;
    display: flex;
    @media (min-width: 640px) {
      position: absolute;
      top: 367px;
      left: 0;
      flex-direction: column;
    }
    @media (min-width: 1020px) {
      top: 395px;
      left: 0;
    }
    @media (min-width: 1430px) {
      flex-direction: row;
      top: 600px;
    }
  }

  &__feature {
    display: flex;
    align-items: flex-start;
    &:not(:last-child) {
      margin-right: 7px;
      @media (min-width: 640px) {
        margin-right: 0;
        margin-bottom: 30px;
      }
      @media (min-width: 1430px) {
        margin-right: 40px;
        margin-bottom: 0;
      }
    }
  }

  &__feature-img {
    margin-top: 10px;
    margin-right: 10px;
    width: 22px;
    @media (min-width: 480px) {
      margin-right: 26px;
      width: 36px;
    }
    @media (min-width: 540px) {
      margin-top: 0;
      width: 45px;
    }
    @media (min-width: 640px) {
      margin-right: 19px;
    }
  }

  &__feature-content {
  }

  &__feature-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #454545;
    &-hidden {
      display: none;
    }

    @media (min-width: 480px) {
      font-size: 18px;
      line-height: 21px;
    }
    @media (min-width: 540px) {
    }
    @media (min-width: 640px) {
      margin-bottom: 1px;
      &-hidden {
        display: inline-block;
      }
    }
    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 4px;
    }
    @media (min-width: 1020px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__feature-subtitle {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #9c8c8d;
    @media (min-width: 480px) {
      font-size: 13px;
      line-height: 15px;
    }
    @media (min-width: 540px) {
      font-size: 14px;
      line-height: 16px;
    }
    @media (min-width: 640px) {
      max-width: 190px;
    }
    @media (min-width: 768px) {
      max-width: none;
    }
    @media (min-width: 1020px) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__actions {
    order: 3;
    border-radius: 5px;
    overflow: hidden;
    @media (min-width: 480px) {
      display: flex;
      margin-bottom: 36px;
      background-color: #efefef;
    }
    @media (min-width: 640px) {
      margin-bottom: 0;
    }
  }

  &__action {
    @include reset-btn();
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3px 14px 0 14px;
    height: 37px;

    margin-top: -1px;
    margin-bottom: 26px;
    border-radius: 5px;

    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: $redHover;
    }
    @media (min-width: 480px) {
      height: 60px;
      margin-bottom: 0;
      font-size: 14px;
      line-height: 16px;
    }
    @media (min-width: 640px) {
      height: 70px;
      font-size: 18px;
      line-height: 21px;
    }
    @media (min-width: 1020px) {
      height: 80px;
      font-size: 20px;
      line-height: 23px;
      padding-left: 25px;
      padding-right: 25px;
    }
    @media (min-width: 1430px) {
      font-size: 24px;
      line-height: 28px;
    }
    &_red {
      background-color: $red;
      margin-bottom: 9px;
      color: #fff;
      @media (min-width: 480px) {
        margin-bottom: 0;
      }
      @media (min-width: 640px) {
        padding-left: 31px;
        padding-right: 27px;
        min-width: 331px;
      }
      @media (min-width: 1020px) {
        max-width: 395px;
        min-width: 395px;
        padding-left: 37px;
        padding-right: 33px;
      }
      @media (min-width: 1430px) {
        max-width: 570px;
        min-width: 570px;
        padding-left: 49px;
        padding-right: 44px;
      }
    }
    &_grey {
      background-color: #efefef;
      transition: all 0.3s ease;
      &:hover {
        background-color: $greyHover;
      }
      @media (min-width: 640px) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @media (min-width: 1020px) {
        padding-left: 36px;
        padding-right: 37px;
      }
      @media (min-width: 1430px) {
        padding-left: 62px;
        padding-right: 42px;
      }
    }
  }

  &__action-text {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    @media (min-width: 480px) {
      font-size: 14px;
    }
    @media (min-width: 640px) {
      font-size: 18px;
    }
    @media (min-width: 768px) {
      &_mobile {
        display: none;
      }      
      &_tablet {
        display: inline-block;
      }
    }
    @media (min-width: 1020px) {
      font-size: 20px;
      &_tablet {
        display: none;
      }
      &_desktop {
        display: inline-block;
      }
    }
    @media (min-width: 1430px) {
      font-size: 24px;
    }
    &_mobile {
      color: $text-color;
    }
    &_tablet {
      display: none;
      color: $text-color;
    }
    &_desktop {
      display: none;
      color: $text-color;
    }
  }

  &__action-icon {
    font-size: 11.5px;
    @media (min-width: 1020px) {
    }
    @media (min-width: 540px) {
      font-size: 13px;
    }
    @media (min-width: 768px) {
      display: none;
    }
    &_lg {
      display: none;
      @media (min-width: 768px) {
        display: flex;
        font-size: 15px;
      }
    }
  }
}
